<ion-view hide-nav-bar="hideNavigationMenu" view-title="Favorites">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content >
        <ion-refresher on-refresh="refreshFavorites()"></ion-refresher>
        <div class="list card" ng-click="favoriteAddButtonClick()">
            <a id="addFavoriteBtn" style="white-space: normal; " class="item item-icon-left ">
                <i class="icon {{state.addButtonIcon}} positive"></i>
                {{state.addButtonText}}
            </a>
        </div>
        <div class="list card" id="bloodPressureCard"
             ng-if="state.bloodPressure.reminderId"
             on-hold="showActionSheet(favorite, $index)">
            <div class="item" style="padding-bottom:0px;">
                <div class="row">
                    <div ng-click="showActionSheet(state.bloodPressure, $index, true)" class="col col-10" style="padding-top: 0px; text-align: center;">
                        <i style="font-size: 40px;" class="icon positive ion-heart"></i>
                    </div>
                    <div class="col col-70">
                        <h2 ng-click="showActionSheet(state.bloodPressure, $index, true)"
                            style="white-space: normal; line-height: normal;
                            text-align: center; ">{{state.bloodPressure.displayTotal}}
                        </h2>
                    </div>
                    <div ng-click="showActionSheet(state.bloodPressure, $index, true)" class="col col-10">
                        <i style="font-size: 20px;" class="icon positive ion-more"></i>
                    </div>
                </div>
                <label class="item item-input">
                    <input type="number" ng-model="state.bloodPressure.systolicValue" id="systolicValueField"
                           ng-click="onTextClick($event)"
                           placeholder="Enter systolic value"
                           style="text-align: center">
                    <span on-tap="trackBloodPressure()"
                          class="input-label">
                        mmHg
                    </span>
                </label>
                <label class="item item-input">
                    <input type="number" ng-model="state.bloodPressure.diastolicValue" id="diastolicValueField"
                           ng-click="onTextClick($event)"
                           placeholder="Enter diastolic value"
                           style="text-align: center">
                    <span on-tap="trackBloodPressure()"
                          class="input-label">
                        mmHg &nbsp
                        <i style="font-size: 20px;"
                           class="icon positive ion-checkmark-round">
                        </i>
                    </span>
                </label>
            </div>
        </div>
        <div class="list card" id="favoritesList" ng-if="state.favorites.length && !favorite.hide" ng-repeat="favorite in state.favorites track by $index" on-hold="showActionSheet(favorite, $index)">
            <div class="item" style="padding-bottom:0px;" ng-if="!favorite.hide">
                <div class="row">
                    <div ng-click="showActionSheet(favorite, $index)" class="col col-10" style="padding-top: 0px; text-align: center;">
                        <i style="font-size: 40px;" class="icon positive {{favorite.icon}}"></i>
                    </div>
                    <div class="col col-70">
                        <h2 ng-click="showActionSheet(favorite, $index)" ng-if="favorite.abbreviatedUnitName !== '/5'" style="white-space: normal; line-height: normal; text-align: center; ">{{favorite.displayTotal}}&nbsp{{favorite.variableName}}</h2>
                        <h2 ng-click="showActionSheet(favorite, $index)" ng-if="favorite.abbreviatedUnitName == '/5'" style="white-space: normal; line-height: normal; text-align: center; ">{{favorite.displayTotal}} {{favorite.variableName}}</h2>
                        <button ng-if="favorite.abbreviatedUnitName != '/5' && favorite.defaultValue !== null"
                                class="button button-clear button-balanced" style="text-overflow: clip; font-size: 14px; width:100%; "
                                ng-click="trackByReminder(favorite, null, $index)">
                            <i class="ion-android-done"> &nbsp; Record {{favorite.defaultValue}} {{favorite.abbreviatedUnitName}}</i>
                        </button>
                    </div>
                    <div ng-click="showActionSheet(favorite, $index)" class="col col-10">
                        <i style="font-size: 20px;" class="icon positive ion-more"></i>
                    </div>
                </div>
                <label ng-if="favorite.defaultValue === null && favorite.abbreviatedUnitName !== '/5'" class="item item-input">
                    <input type="number" ng-model="favorite.total" id="defaultValueField"
                           ng-click="onTextClick($event)"
                           placeholder="Enter value"
                           style="text-align: center">
                    <span on-tap="trackByValueField(favorite, $index)" class="input-label">{{favorite.abbreviatedUnitName}} &nbsp <i style="font-size: 20px;" class="icon positive ion-checkmark-round"></i></span>
                </label>
                <div class="primary-outcome-variable-reporting"
                     ng-if="!favorite.variableDescription && favorite.abbreviatedUnitName === '/5'">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in numericRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                    </div>
                    <br>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="favorite.abbreviatedUnitName === '/5' &&
                            favorite.variableDescription.toLowerCase().indexOf('positive') > -1">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in positiveRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                        <br>
                    </div>
                    <br>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="favorite.abbreviatedUnitName === '/5' &&
                            favorite.variableDescription.toLowerCase().indexOf('negative') > -1">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in negativeRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="list card" id="noFavoritesExplanation" ng-if="state.favorites.length === 0" >
            <div class="item" style="padding-bottom:0px;">
                <div class="row">
                    <h2 style="white-space: normal; text-align: center; line-height: normal; ">
                        <i class="icon positive ion-information-circled"></i>
                        &nbsp
                        {{state.helpText}}
                        <br><br>
                    </h2>

                </div>
                <div ng-if="state.moreHelpText" class="row">
                    <p style="white-space: normal; text-align: center; line-height: normal; ">
                        {{state.moreHelpText}}
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
	<nav mfb-menu position="br" effect="slidein-spring"
		 active-icon="ion-minus-round" resting-icon="ion-plus-round"
		 toggling-method="click" ng-hide="hideNavigationMenu">
		<button mfb-button icon={{floatingMaterialButton.button1.icon}} label={{floatingMaterialButton.button1.label}} ng-click="goToState({{floatingMaterialButton.button1.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button2.icon}} label={{floatingMaterialButton.button2.label}} ng-click="goToState({{floatingMaterialButton.button2.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button3.icon}} label={{floatingMaterialButton.button3.label}} ng-click="goToState({{floatingMaterialButton.button3.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button4.icon}} label={{floatingMaterialButton.button4.label}} ng-click="goToState({{floatingMaterialButton.button4.stateAndParameters}})"></button>
	</nav>

</ion-view>
