<!--Header bar-->
<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">

     <ion-content>
     <div class="list-item" ng-click="favoriteAddButtonClick()">
                <a id="addFavoriteBtn" style="white-space: normal; " class="item item-icon-left">
                    <i class="icon {{state.addButtonIcon}}"></i>
                    <p>Select the following variables or add your owns here</p>
                </a>
     </div>
     
       <div class="list listReduceHeight ">

       <!--part one vital signs-->

           <!-- <div class="item item-divider narrow " >Vital Signs</div>
           <!-blood pressure-->

              <div class="row" id="bloodPressureCard" ng-if="state.bloodPressure.reminderId"  on-hold="showActionSheet(favorite, $index)">
                  <div class="col col-20" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="{{favorite.img}}" >
                     </a> 
                  </div>


                  <div  class="col  col-35 item item-input-inset inputMea">

                     <input class="yiInput" type="number" ng-model="state.bloodPressure.systolicValue" id="systolicValueField"
                           ng-click="onTextClick($event)"
                           placeholder="Systolic BP">
                            <p>mmHg </p> 
                    
                   </div>  
                   <div  class="col  col-35 item item-input-inset inputMea">

                     <input class="yiInput" type="number" ng-model="state.bloodPressure.diastolicValue" id="diastolicValueField"
                           ng-click="onTextClick($event)"
                           placeholder="Diastolic BP">
                          <p>mmHg </p> 
                    
                   

                    <div class="resetButton">
                          <button class="button button-small button-outline button-royal" on-tap="trackBloodPressure()" ng-click="onTextClick($event)"> 
                          save
                         </button>

                    </div>
                  </div> 
                  <div ng-click="showActionSheet(state.bloodPressure, $index, true)" class="col col-10">
                        <i style="font-size: 20px;" class="icon ion-android-more-vertical"></i>
                  </div> 
                </div>

                 <!-- blood pressure-->

                <!--eng of test part blood pressure-->
                <div class="row" id="favoritesList" ng-if="state.favorites.length && favorite.variableName !== 'Blood Pressure'" ng-repeat="favorite in state.favorites track by $index" on-hold="showActionSheet(favorite, $index)">
                  <div class="col col-20" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="{{favorite.img}}">
                     <!--      <i class="icon {{favorite.icon}} clear"></i>  -->
                         <!--  <p>{{favorite.variableName}}</p> -->
                         <!--  <p> {{favorite.abbreviatedUnitName}}</p> -->
                     </a> 
                  </div>


                  <div ng-if="favorite.variableName !== 'Blood Pressure' && favorite.defaultValue === null && favorite.abbreviatedUnitName !== '/5'" class="col  col-70 item item-input-inset inputMea">

                     <input class="yiInput" type="number" ng-model="favorite.total" id="defaultValueField"
                           ng-click="onTextClick($event)"
                           placeholder="{{favorite.variableName}}">
                          <p>{{favorite.abbreviatedUnitName}} </p> 

                      <div class="resetButton">
                          <button class="button button-small button-outline button-royal" on-tap="trackByValueField(favorite, $index)" ng-click="onTextClick($event)">
                     
                          save 
                          </button>
                          
                      </div>
                  </div> 

                    <div ng-click="showActionSheet(favorite, $index)" class="col col-10">
                        <i style="font-size: 20px;" class="icon ion-android-more-vertical"></i>
                    </div>
                </div>

                <!--not belongs to favorite list-->
                
                <!--end of not favorite variables-->

              </div>
          <!--end of whole content-->
       
     </ion-content>
         <nav mfb-menu position="bl" effect="slidein-spring"
         active-icon="ion-minus-round" resting-icon="ion-plus-round"
         toggling-method="click" ng-hide="hideNavigationMenu || (hideNavigationMenu && !isWelcomed)">
         <button mfb-button icon={{floatingMaterialButton.button1.icon}} label={{floatingMaterialButton.button1.label}} ng-click="goToState({{floatingMaterialButton.button1.stateAndParameters}})"></button>
         <button mfb-button icon={{floatingMaterialButton.button2.icon}} label={{floatingMaterialButton.button2.label}} ng-click="goToState({{floatingMaterialButton.button2.stateAndParameters}})"></button>
         <button mfb-button icon={{floatingMaterialButton.button3.icon}} label={{floatingMaterialButton.button3.label}} ng-click="goToState({{floatingMaterialButton.button3.stateAndParameters}})"></button>
         <button mfb-button icon={{floatingMaterialButton.button4.icon}} label={{floatingMaterialButton.button4.label}} ng-click="goToState({{floatingMaterialButton.button4.stateAndParameters}})"></button>
         </nav>
</ion-view> 
