<ion-view hide-nav-bar="hideNavigationMenu" view-title="Favorites">

    <ion-content>
	<!--<ion-content scroll="true" overflow-scroll="true">-->

		<ion-content >
        <div class="list card" ng-if="state.favorites.length" ng-repeat="favorite in state.favorites" on-hold="showActionSheet(favorite, $index)">
            <div class="item" style="padding-bottom:0px;">
                <div class="row">
                    <div ng-click="showActionSheet(favorite, $index)" class="col col-20" style="padding-top: 0px;">
                        <i style="font-size: 60px;" class="icon positive {{favorite.icon}}"></i>
                    </div>
                    <div class="col col-70">
                        <h2 ng-click="showActionSheet(favorite, $index)" ng-if="favorite.abbreviatedUnitName !== '/5'" style="white-space: normal; line-height: normal; text-align: center; ">{{favorite.displayTotal}}&nbsp{{favorite.variableName}}</h2>
                        <h2 ng-click="showActionSheet(favorite, $index)" ng-if="favorite.abbreviatedUnitName == '/5'" style="white-space: normal; line-height: normal; text-align: center; ">{{favorite.displayTotal}} {{favorite.variableName}}</h2>
						<button ng-if="favorite.abbreviatedUnitName != '/5'" class="button button-clear button-balanced" style="text-overflow: clip; font-size: 14px; width:100%; " ng-click="trackByReminder(favorite, null)">
							<i class="ion-android-done"> &nbsp; Record {{favorite.defaultValue}} {{favorite.abbreviatedUnitName}}</i>
						</button>
					</div>
                    <div ng-click="showActionSheet(favorite, $index)" class="col col-10">
                        <i style="font-size: 10px;" class="icon positive ion-more"></i>
                    </div>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="!favorite.description &&	favorite.abbreviatedUnitName === '/5'">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in numericRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                    </div>
                    <br>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="favorite.abbreviatedUnitName === '/5' &&
						 	favorite.description.toLowerCase().indexOf('positive') > -1">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in positiveRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                        <br>
                    </div>
                    <br>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="favorite.abbreviatedUnitName === '/5' &&
						 	favorite.description.toLowerCase().indexOf('negative') > -1">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in negativeRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
            <div class="list card" ng-click="goToState('app.favoriteSearch')">
                <a style="white-space: normal; " class="item item-icon-left">
                    <i class="icon ion-ios-star positive"></i>
                    Add a Favorite Variable
                </a>
            </div>
            <div class="list card" ng-hide="state.favorites.length" >
                <div class="item" style="padding-bottom:0px;">
                    <div class="row">
                        <h2 style="white-space: normal; text-align: center; line-height: normal; ">
                            Favorites are variables that you might want to track on a frequent but irregular basis.  Examples: As-needed medications, cups of coffee, or glasses of water
                            <br><br>
                        </h2>

                    </div>
                    <div class="row">
                        <p style="white-space: normal; text-align: center; line-height: normal; ">
                            Tip: I recommend using reminders instead of favorites whenever possible because they allow you to record regular 0 values as well.
                            <br>
                            Knowing when
                            you didn't take a medication or eat something helps our analytics engine to figure out how these things might be affecting you.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>

		</ion-content>


	</ion-content>
	<nav mfb-menu position="bl" effect="slidein-spring"
		 active-icon="ion-minus-round" resting-icon="ion-plus-round"
		 toggling-method="click" ng-hide="hideNavigationMenu || (hideNavigationMenu && !isWelcomed)">
		<button mfb-button icon={{floatingMaterialButton.button1.icon}} label={{floatingMaterialButton.button1.label}} ng-click="goToState({{floatingMaterialButton.button1.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button2.icon}} label={{floatingMaterialButton.button2.label}} ng-click="goToState({{floatingMaterialButton.button2.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button3.icon}} label={{floatingMaterialButton.button3.label}} ng-click="goToState({{floatingMaterialButton.button3.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button4.icon}} label={{floatingMaterialButton.button4.label}} ng-click="goToState({{floatingMaterialButton.button4.stateAndParameters}})"></button>
	</nav>

</ion-view>
