<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>{{state.title}}</ion-nav-title>
     <ion-content>
         <ion-refresher on-refresh="getHistory()"></ion-refresher>
         <div class="list card" ng-show="state.noHistory">
             <div class="item" style="padding-bottom:10px;">
                 <p style=" text-align: center; line-height: normal; font-size: 25px;">No Measurements</p>

                 <div class="row">
                     <div class="col" style="padding-top: 0px;">
                         <i style="text-align: center; font-size: 60px;" class="icon positive ion-android-sad"></i>
                     </div>
                     <div class="col col-75">
                         <h2 style="white-space: normal; text-align: justify; line-height: normal; ">
                             Add a reminder and start tracking!
                         </h2>
                     </div>
                 </div>
                 <div class="row" >
                     <div class="button-bar">
                         <button class="button button-clear button-balanced" style="font-size: 14px;"
                                 ng-click="goToState('app.reminderSearch')">
                             <i class="ion-android-notifications"> &nbsp; Add a reminder &nbsp;</i>
                         </button>
                     </div>
                 </div>
                 <div class="row" >
                     <div class="button-bar">
                         <button class="button button-clear button-assertive" style="font-size: 14px;"
                                 ng-click="goToState('app.favorites')">
                             <i class="ion-star"> &nbsp; Go to favorites &nbsp;</i>
                         </button>
                     </div>
                 </div>
                 <div class="row" >
                     <div class="button-bar">
                         <button class="button button-clear button-royal" style="font-size: 14px;"
                                 ng-click="goToState('app.measurementAddSearch')">
                             <i class="ion-compose"> &nbsp; Record a measurement &nbsp;</i>
                         </button>
                     </div>
                 </div>
                 <div class="row" >
                     <div class="button-bar">
                         <button class="button button-clear button-calm" style="font-size: 14px;"
                                 ng-click="goToState('app.import')">
                             <i class="ion-ios-list-outline"> &nbsp; Import Data &nbsp;</i>
                         </button>
                     </div>
                 </div>
             </div>
         </div>
         <div ng-show="state.showLocationToggle" class="card sign-in" >
             <ion-toggle ng-model="state.trackLocation"
                         ng-change="trackLocationChange()">
                 <i class="icon ion-map"></i>
                 &nbsp
                 Track my location
             </ion-toggle>
          </div>

         <div class="list card"  ng-if="!hideHistoryPageInstructionsCard && !state.noHistory">
             <div class="item" >
                 <p style=" text-align: center; line-height: normal; font-size: 25px;">{{state.helpCardTitle}}</p>
                 <div class="row">
                     <div class="col" style="padding-top: 0px;">
                         <i style="font-size: 60px;" class="icon positive ion-calendar"></i>
                     </div>
                     <div class="col col-75">
                         <h2 style="white-space: normal; text-align: left; line-height: normal; ">Edit or add notes by tapping on any measurement below.</h2>
                     </div>
                 </div>
                 <div class="row"  >
                     <div class="button-bar">
                         <button id="gotItButton" class="button button-clear button-balanced" style="font-size: 14px;" ng-click="setLocalStorageFlagTrue('hideHistoryPageInstructionsCard')"><i class="ion-checkmark"> &nbsp; Got it!</i></button>
                     </div>
                 </div>

             </div>
         </div>

         <div class="card"  ng-show="state.loading">
             <div class="item" >
                 <div class="row">
                     <ion-spinner></ion-spinner>
                     <p style=" text-align: center; line-height: normal; font-size: 18px;">&nbsp &nbsp {{state.loadingText}}</p>
                 </div>
             </div>
         </div>

      <ion-list id="historyList">
          <div ng-repeat="historyItem in state.history" data-measurementid="{{historyItem.id}}" on-hold="showActionSheet(historyItem, $index)" divider-collection-repeat>
              <ion-item  ng-click="editMeasurement(historyItem)">
                  <div style="display:inline-block;float:left;margin-left:5px;margin-right:5px;width:50px;text-align:center">
                    <i ng-hide="historyItem.image" class="{{historyItem.icon }}" style="color:#11c1f3;font-size: 50px;"></i>
                      <img ng-show="historyItem.image" ng-src="{{historyItem.image}}" style="width:50px;" />
                  </div>
                  <div class="history-block" style="margin-left:5px;">
                      <p ng-hide="true">{{historyItem.id}}</p>
                      <h2 style="font-weight:bold;white-space:normal"> {{historyItem.valueUnitVariableName}}</h2>
                    <h2 class="history-time" ng-repeat="line in (historyItem.startTimeEpoch | timeOfDayDayOfWeek) track by $index">
                      {{line}}
                    </h2>
                      <h2 class="history-time" ng-repeat="line in (historyItem.startTimeEpoch | justDate) track by $index">
                          {{line}}
                      </h2>
                      <h2 class="" >{{historyItem.note}}</h2>
                  </div>
              </ion-item>

          </div>
      </ion-list> 
      <div class="button-bar" ng-hide="state.hideLoadMoreButton">
        <a class="button button-clear button-calm" ng-click="getNext()" style="text-overflow: clip;"><i class="ion-refresh">  Load More</i></a>
      </div>
    </ion-content>
    <nav mfb-menu position="bl" effect="slidein-spring"
         active-icon="ion-minus-round" resting-icon="ion-plus-round"
         toggling-method="click" ng-hide="hideNavigationMenu">
        <button mfb-button icon={{floatingMaterialButton.button1.icon}} label={{floatingMaterialButton.button1.label}} ng-click="goToState({{floatingMaterialButton.button1.stateAndParameters}})"></button>
        <button mfb-button icon={{floatingMaterialButton.button2.icon}} label={{floatingMaterialButton.button2.label}} ng-click="goToState({{floatingMaterialButton.button2.stateAndParameters}})"></button>
        <button mfb-button icon={{floatingMaterialButton.button3.icon}} label={{floatingMaterialButton.button3.label}} ng-click="goToState({{floatingMaterialButton.button3.stateAndParameters}})"></button>
        <button mfb-button icon={{floatingMaterialButton.button4.icon}} label={{floatingMaterialButton.button4.label}} ng-click="goToState({{floatingMaterialButton.button4.stateAndParameters}})"></button>
    </nav>
</ion-view>
