<ion-view hide-nav-bar="hideNavigationMenu" view-title="History">
     <ion-content>
      <ion-list>
          <div collection-repeat="historyItem in history" divider-collection-repeat>
              <ion-item ng-click="openPopover(historyItem)" >
                  <div style="display:inline-block;float:left;margin-right:15px;">
                    <img ng-src="{{historyItem.image}}" style="width:80px;" />
                  </div>
                  <div class="history-block">
                    <h2 class="history_time" ng-repeat="line in (historyItem.startTime | time) track by $index">
                      {{line}}
                    </h2>
                    <br/>
                    <h2 class="" >{{historyItem.value | percentage}}% {{historyItem.value | PrimaryOutcomeVariableByNumber}}</h2>
                  </div>
              </ion-item>
          </div>
      </ion-list> 
    </ion-content>
    <nav mfb-menu position="bl" effect="slidein-spring"
         active-icon="ion-minus-round" resting-icon="ion-plus-round"
         toggling-method="click" ng-hide="hideNavigationMenu || (hideNavigationMenu && !isWelcomed)">
        <button mfb-button icon="ion-happy-outline" label="How are you?" ng-click="goToState('app.track')"></button>
        <button mfb-button icon="ion-ios-medkit-outline" label="Add a medication" ng-click="goToState('app.reminderAddCategory', {variableCategoryName : 'Treatments'})"></button>
        <button mfb-button icon="ion-ios-pulse" label="Add Vital Sign" ng-click="goToState('app.track_factors_category', {variableCategoryName : 'Vital Signs'})"></button>
        <button mfb-button icon="ion-heart-broken" label="Record a Symptom" ng-click="goToState('app.track_factors_category', {variableCategoryName : 'Symptoms'})"></button>
    </nav>
</ion-view>
