
  <ion-view view-title="Welcome!">
    <ion-nav-buttons side="left">
      <button class="button button-clear no-animation"
              ng-click="intro.startApp()" ng-show="intro.slideIndex == 0">
        Skip
      </button>
      <button class="button button-clear no-animation"
              ng-click="intro.previous()" ng-show="intro.slideIndex > 0">
         Back
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right"> 
      <button class="button button-clear no-animation"
              ng-click="intro.next()" ng-show="intro.slideIndex != 10">
        Next
      </button>
      <button class="button button-clear no-animation"
              ng-click="intro.startApp()" ng-show="intro.slideIndex == 10">
        Go!
      </button>
    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="intro.slideChanged(index)">
      
      <!-- 1 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content"  ng-show="intro.ready === true">
            <p class="intro_header">Welcome to <span class="calm"> {{view_title}}</span></p>
            
            <div id="logo">
              <img width="150" height="150" src="img/main_icon.png">
            </div>

            <p class="intro_para">
              {{view_title}} allows you track your <span class="calm">{{tracking_factor}}</span> and identify the hidden factors which may most influence it.
            <p>
        </div>
      </ion-slide>
      <!-- 1 -->
  
      <!-- 2 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
            <p class="intro_header" class="calm">&nbsp;</p>
            <div id="">
                <div style="display:inline-block">
                    <img class="intro_mood" src="img/ic_mood_ecstatic.png">
                    <p>Ecstatic</p>
                </div>
                
                <div style="display:inline-block">
                    <img class="intro_mood" src="img/ic_mood_happy.png">
                    <p>Happy</p>
                </div>

                <div style="display:inline-block">
                    <img class="intro_mood" src="img/ic_mood_ok.png">
                    <p>OK</p>
                </div>

                <div style="display:inline-block">
                    <img class="intro_mood" src="img/ic_mood_sad.png">
                    <p>Sad</p>
                </div>

                <div style="display:inline-block">
                    <img class="intro_mood" src="img/ic_mood_depressed.png">
                    <p>Depressed</p>
                </div>
            </div>
          <br />
          <p class="intro_para">
           Go to the <span class="calm">Track Moods</span> page to report your mood!
          <p>
        </div>
      </ion-slide>
      <!-- 2 -->
      
      <!-- 3 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Mood</p>
          
          <div id="">
            <img width="140" height="220" src="img/track_moods.png">
          </div>
          <br/>
          <p class="intro_para_small">
            On the <span class="calm">Track Moods</span> page. You can also view your  <span class="calm">Average Mood</span> as well as charts illustrating how it changes over time.
          <p>
        </div>
      </ion-slide>
      <!-- 3 -->

      <!-- 4 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">History</p>
          <br>
          <div id="logo">
            <img width="200" height="150" src="img/history_page.png">
          </div>
          <br/>
          <p class="intro_para">
            You can see and edit your past mood ratings and notes by opening the <span class="calm">History</span> page.
          <p>
        </div>
      </ion-slide>
      <!-- 4 -->

      <!-- 5 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Add a Note</p>
          
          <div id="logo">
            <img width="220" height="200" src="img/mood_note.png">
          </div>
          
          <p class="intro_para">
            Add a note by tapping on a mood rating in the <span class="calm">History</span> page. You can also <span class="calm">Edit</span> your mood there too.
          <p>
        </div>
      </ion-slide>
      <!-- 5 -->

      <!-- 6 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Foods</p>
          <div id="logo">
            <img width="220" height="190" src="img/track_foods.png">
          </div>
          <p class="intro_para_small">
            Track your diet on the <span class="calm">Track Foods</span> page. You can also <span class="calm">Add a new Food Variable</span> if you don't find the meal you looked for in the search results.
          <p>
        </div>
      </ion-slide>
      <!-- 6 -->

      <!-- 7 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Symptoms</p>
          
          <div id="logo">
            <img width="190" height="180" src="img/track_symptoms.png">
          </div>

          <p class="intro_para_small">
            Track any symptom on the  <span class="calm">Track Symptoms</span> page. You can also <span class="calm">Add a new Symptom</span> if you don't find the symptom you looked for in the search results.
          <p>
        </div>
      </ion-slide>
      <!-- 7 -->

      <!-- 7 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Treatments</p>
          
          <div id="logo">
            <img width="210" height="180" src="img/track_treatments.png">
          </div>
          
          <p class="intro_para_small">
            Track your treatments on the <span class="calm">Track Treatments</span> page. You can also <span class="calm">Add a new Treatment</span> if you don't find the treatment you looked for in the search results.
          <p>
        </div>
      </ion-slide>
      <!-- 7 -->
      
      <!-- 8 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Positive Predictors</p>
          
          <div id="logo">
            <img width="220" height="200" src="img/positive_predictors.png">
          </div>
          
          <p class="intro_para_small">
            Positive Predictors are the factors most predictive of <span class="calm">IMPROVING</span> Mood for the average QuantiModo user.
          <p>
        </div>
      </ion-slide>
      <!-- 8 -->

      <!-- 9 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Negative Predictors</p>
          
          <div id="logo">
            <img width="220" height="200" src="img/negative_predictors.png">
          </div>
          
          <p class="intro_para_small">
            Negative Predictors are the factors most predictive of <span class="calm">DECREASING</span> Mood for the average QuantiModo user.
          <p>
        </div>
      </ion-slide>
      <!-- 9 -->
      
      <!-- 10 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
            <p class="intro_para"><span class="calm">We are feeling ecstatic that you're helping us derive a mathematical equation for happiness!</span></p>
            <div id="logo">
              <img width="180" height="180" src="img/ic_mood_ecstatic.png">
            </div>
            <p class="intro_para_small">
             Now start tracking and optimize your life!
            <p>
        </div>
      </ion-slide>
      <!-- 10 -->
    </ion-slide-box>
  </ion-view>
