<ion-view hide-nav-bar="skipMenu" view-title="Welcome!">
    <ion-slide-box on-slide-changed="myIntro.slideChanged(index)">

        <ion-slide ng-repeat="introTourConfiguration in introTourConfiguration">

            <div ng-click="myIntro.previous()" ng-show="myIntro.slideIndex > 0" class="previous">
                <span class="ion-chevron-left positive" data-pack="default" data-tags="talk"></span>
            </div>
            
            <div ng-click="myIntro.next()" ng-show="myIntro.slideIndex != introTourConfiguration.length-1" class="next">
                <span class="ion-chevron-right positive" data-pack="default" data-tags="talk"></span>
            </div>
            
            <div ng-click="myIntro.startApp()" ng-show="myIntro.slideIndex == introTourConfiguration.length-1" class="next">
                <span class="ion-chevron-right positive" data-pack="default" data-tags="talk"></span>
            </div>

            <div class="content intro-content" ng-show="myIntro.ready === true">
                
                <p ng-if="introTourConfiguration.content.firstParagraph" class="{{introTourConfiguration.content.firstParagraph.classes}}" ng-bind-html="introTourConfiguration.content.firstParagraph.content">
                </p>
                
                <div ng-if="introTourConfiguration.content.showOutcomeVariableImages" >
                    <div class="ponka" style="display:inline-block" ng-repeat="option in primaryOutcomeVariableRatingOptions">
                        <img style="width:{{introTourConfiguration.img.width}}px; height:{{introTourConfiguration.img.height}}px;" class="intro-primary-outcome-variable" ng-src="{{option.img}}">
                        <p>{{option.value}}</p>
                    </div>

                </div>

                <br ng-if="introTourConfiguration.content.showFirstBr" />

                <div ng-if="introTourConfiguration.content.logoDiv" id="{{introTourConfiguration.content.logoDiv.id}}">
                    <img style="width:{{introTourConfiguration.img.width}}px; height:{{introTourConfiguration.img.height}}px;" ng-src="{{introTourConfiguration.img.url}}">
                </div>
                
                <br ng-if="introTourConfiguration.content.showBreakAboveFinalParagraph" />
                <p ng-if="introTourConfiguration.content.finalParagraph" class="{{introTourConfiguration.content.finalParagraph.classes}}">
                    <span ng-bind-html="introTourConfiguration.content.finalParagraph.content"></span>
                    <br>
                    <br>
                    <br>
                    <div ng-if="introTourConfiguration.content.finalParagraph && introTourConfiguration.content.finalParagraph.buttonBarVisible">
                        <div class="button-bar">
                            <a class="button button-positive" ng-show="myIntro.slideIndex != introTourConfiguration.length-1 " ng-click="myIntro.startApp()">
                                Skip
                            </a>
                            <a class="button button-positive" ng-show="myIntro.slideIndex > 0 && myIntro.slideIndex < introTourConfiguration.length-1" ng-click="myIntro.previous()">
                                Back
                            </a>
                            <a class="button button-positive" ng-show="myIntro.slideIndex != introTourConfiguration.length-1 && myIntro.slideIndex != introTourConfiguration.length-1" ng-click="myIntro.next()">
                                Next
                            </a>
                            <a class="button button-positive" ng-show="myIntro.slideIndex == introTourConfiguration.length-1" ng-click="myIntro.startApp()">
                                Go
                            </a>
                        </div>
                    </div>
                </p>
            </div>

        </ion-slide>

    </ion-slide-box>
</ion-view>