<ion-view hide-nav-bar="hideNavigationMenu" view-title="Welcome">
    <ion-slide-box on-slide-changed="myIntro.slideChanged(index)">
        <ion-slide ng-repeat="introSlide in introSlides"
                   ng-show="myIntro.ready"
                   style="background-color: {{introSlide.backgroundColor}}">
            <div class="content intro-content" >
                <div ng-if="introSlide.content.showOutcomeVariableImages" >
                    <div class="ponka" style="display:inline-block" ng-repeat="option in positiveRatingOptions">
                        <img style="width:{{introSlide.img.width}}px; height:{{introSlide.img.height}}px;" class="intro-primary-outcome-variable" ng-src="{{option.img}}">
                        <p>{{option.displayDescription}}</p>
                    </div>
                </div>
                <br ng-if="introSlide.content.showFirstLineBreak" />

                <div ng-if="introSlide.content.logoDiv" id="{{introSlide.content.logoDiv.id}}">
                    <img style="width:{{introSlide.img.width}}px; height:{{introSlide.img.height}}px;" ng-src="{{introSlide.img.url}}">
                </div>

                <p ng-if="introSlide.content.firstParagraph"
                   class="{{introSlide.content.firstParagraph.classes}}"
                   ng-bind-html="introSlide.content.firstParagraph.content"
                   style="color: {{myIntro.textColor}}">
                </p>

                <br ng-if="introSlide.content.showSecondBr" />
                <p ng-if="introSlide.content.finalParagraph"
                   class="{{introSlide.content.finalParagraph.classes}}"
                   style="color: {{myIntro.textColor}}">
                    <span ng-bind-html="introSlide.content.finalParagraph.content"
                          style="color: {{myIntro.textColor}}">
                    </span>
                    <br>
                    <br>
                    <br>
                </p>
                <div ng-if="introSlide.content.finalParagraph && introSlide.content.finalParagraph.buttonBarVisible" style="bottom:0;">
                    <div class="button-bar" style="bottom:0;">
                        <a id="skipButtonIntro"
                           class="button"
                           ng-show="myIntro.slideIndex != introSlides.length-1 "
                           style="background-color: {{introSlide.backgroundColor}}; color: {{introSlide.textColor}}; text-align: left"
                           ng-click="myIntro.startApp()">
                            SKIP
                        </a>
                        <a id="nextButtonIntro"
                           class="button"
                           style="background-color: {{introSlide.backgroundColor}}; color: {{introSlide.textColor}}; text-align: right"
                           ng-show="myIntro.slideIndex != introSlides.length-1 && myIntro.slideIndex != introSlides.length-1"
                           ng-click="myIntro.next()">
                            NEXT
                        </a>
                        <a id="goButtonIntro"
                           class="button"
                           style="background-color: {{introSlide.backgroundColor}}; color: {{introSlide.textColor}};"
                           ng-show="myIntro.slideIndex == introSlides.length-1"
                           ng-click="myIntro.startApp()">
                            GET STARTED
                        </a>
                    </div>
                </div>


            </div>

        </ion-slide>

    </ion-slide-box>

</ion-view>