
  <ion-view view-title="Welcome!">
    <ion-nav-buttons side="left">
      <button class="button button-clear no-animation"
              ng-click="intro.startApp()" ng-show="intro.slideIndex == 0">
        Skip
      </button>
      <button class="button button-clear no-animation"
              ng-click="intro.previous()" ng-show="intro.slideIndex > 0">
         Back
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right"> 
      <button class="button button-clear no-animation"
              ng-click="intro.next()" ng-show="intro.slideIndex != 10">
        Next
      </button>
      <button class="button button-clear no-animation"
              ng-click="intro.startApp()" ng-show="intro.slideIndex == 10">
        Go!
      </button>
    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="intro.slideChanged(index)">
      
      <!-- 1 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content"  ng-show="intro.ready === true">
            <p class="intro_header">Welcome to <span class="calm"> {{view_title}}</span></p>
            
            <div id="logo">
              <img style="width:{{intro_config.screen1.img.width}}px; height:{{intro_config.screen1.img.height}}px;" ng-src="{{intro_config.screen1.img.url}}">
            </div>

            <p class="intro_para">
              {{view_title}} allows you track your <span class="calm">{{tracking_factor}}</span> and identify the hidden factors which may most influence it.
            <p>
        </div>
      </ion-slide>
      <!-- 1 -->
  
      <!-- 2 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
            <p class="intro_header" class="calm">&nbsp;</p>
            <div id="">

                <div class="ponka" style="display:inline-block" ng-repeat="option in tracking_factor_options">
                    <img style="width:{{intro_config.screen2.images.width}}px; height:{{intro_config.screen2.images.height}}px;" class="intro_mood" ng-src="{{option.img}}">
                    <p>{{option.value}}</p>
                </div>

            </div>
          <br />
          <p class="intro_para">
           Go to the <span class="calm">Track {{tracking_factor}}</span> page to report your {{tracking_factor}}!
          <p>
        </div>
      </ion-slide>
      <!-- 2 -->
      
      <!-- 3 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track {{tracking_factor}}</p>
          
          <div id="">
            <img style="width:{{intro_config.screen3.img.width}}px; height:{{intro_config.screen3.img.height}}px;" ng-src="{{intro_config.screen3.img.url}}">
          </div>
          <br/>
          <p class="intro_para_small">
            On the <span class="calm">Track {{tracking_factor}}</span> page, you can view your <span class="calm">average {{tracking_factor}}</span> as well as charts illustrating how it changes over time.
          <p>
        </div>
      </ion-slide>
      <!-- 3 -->

      <!-- 4 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">History</p>
          <br>
          <div id="logo">
            <img style="width:{{intro_config.screen4.img.width}}px; height:{{intro_config.screen4.img.height}}px;" ng-src="{{intro_config.screen4.img.url}}">
          </div>
          <br/>
          <p class="intro_para">
            You can see and edit your past {{tracking_factor}} ratings and notes by opening the <span class="calm">History</span> page.
          <p>
        </div>
      </ion-slide>
      <!-- 4 -->

      <!-- 5 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Add a Note</p>
          
          <div id="logo">
            <img style="width:{{intro_config.screen5.img.width}}px; height:{{intro_config.screen5.img.height}}px;" ng-src="{{intro_config.screen5.img.url}}">
          </div>
          
          <p class="intro_para">
            Add a note by tapping on a {{tracking_factor}} rating in the <span class="calm">History</span> page. You can also <span class="calm">Edit</span> your {{tracking_factor}} there too.
          <p>
        </div>
      </ion-slide>
      <!-- 5 -->

      <!-- 6 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Foods</p>
          <div id="logo">
            <img style="width:{{intro_config.screen6.img.width}}px; height:{{intro_config.screen6.img.height}}px;" ng-src="{{intro_config.screen6.img.url}}">
          </div>
          <p class="intro_para_small">
            Track your diet on the <span class="calm">Track Foods</span> page. You can also <span class="calm">Add a new Food Variable</span> if you don't find the meal you looked for in the search results.
          <p>
        </div>
      </ion-slide>
      <!-- 6 -->

      <!-- 7 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Symptoms</p>
          
          <div id="logo">
            <img style="width:{{intro_config.screen7.img.width}}px; height:{{intro_config.screen7.img.height}}px;" ng-src="{{intro_config.screen7.img.url}}">
          </div>

          <p class="intro_para_small">
            Track any symptom on the  <span class="calm">Track Symptoms</span> page. You can also <span class="calm">Add a new Symptom</span> if you don't find the symptom you looked for in the search results.
          <p>
        </div>
      </ion-slide>
      <!-- 7 -->

      <!-- 8 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Track Treatments</p>
          
          <div id="logo">
            <img style="width:{{intro_config.screen8.img.width}}px; height:{{intro_config.screen8.img.height}}px;" ng-src="{{intro_config.screen8.img.url}}">
          </div>
          
          <p class="intro_para_small">
            Track your treatments on the <span class="calm">Track Treatments</span> page. You can also <span class="calm">Add a new Treatment</span> if you don't find the treatment you looked for in the search results.
          <p>
        </div>
      </ion-slide>
      <!-- 8 -->
      
      <!-- 9 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Positive Predictors</p>
          
          <div id="logo">
            <img style="width:{{intro_config.screen9.img.width}}px; height:{{intro_config.screen9.img.height}}px;" ng-src="{{intro_config.screen9.img.url}}">
          </div>
          
          <p class="intro_para_small">
            Positive Predictors are the factors most predictive of <span class="calm">IMPROVING</span> {{tracking_factor}} for the average QuantiModo user.
          <p>
        </div>
      </ion-slide>
      <!-- 9 -->

      <!-- 10 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
          <p class="intro_header" class="calm">Negative Predictors</p>
          
          <div id="logo">
            <img style="width:{{intro_config.screen10.img.width}}px; height:{{intro_config.screen10.img.height}}px;" ng-src="{{intro_config.screen10.img.url}}">
          </div>
          
          <p class="intro_para_small">
            Negative Predictors are the factors most predictive of <span class="calm">DECREASING</span> {{tracking_factor}} for the average QuantiModo user.
          <p>
        </div>
      </ion-slide>
      <!-- 10 -->
      
      <!-- 11 -->
      <ion-slide>
        <div ng-click="intro.previous()" ng-show="intro.slideIndex > 0" class="previous">
            <span class="ion-chevron-left calm" data-pack="default" data-tags="talk"></span>  
        </div>
        <div ng-click="intro.next()" ng-show="intro.slideIndex != 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div ng-click="intro.startApp()" ng-show="intro.slideIndex == 10" class="next">
            <span class="ion-chevron-right calm" data-pack="default" data-tags="talk"></span>
        </div>
        <div class="content intro_content" >
            <p class="intro_para"><span class="calm">We are feeling ecstatic that you're helping us derive a mathematical equation for happiness!</span></p>
            <div id="logo">
              <img style="width:{{intro_config.screen11.img.width}}px; height:{{intro_config.screen11.img.height}}px;" ng-src="{{intro_config.screen11.img.url}}">
            </div>
            <p class="intro_para_small">
             Now start tracking and optimize your life!
            <p>
        </div>
      </ion-slide>
      <!-- 11 -->

    </ion-slide-box>
  </ion-view>
