<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{viewTitle}}">
	<ion-content style="background-color: #3467d6">
		<div class="card"  ng-show="state.loading">
			<div class="item" >
				<div class="row">
					<ion-spinner></ion-spinner>
					<p style=" text-align: center; line-height: normal; font-size: 18px;">&nbsp &nbsp Signing you in...</p>
				</div>
			</div>
		</div>

		<div class="card sign-in" ng-hide="state.loading">
	        <div class="item item-text-wrap" >
	            <h1 class="positive">{{headline}}</h1>
	            <br/>
				<ul>
					<li>By creating a FREE account you'll be able to:</li>
					<li ng-repeat="feature in features">{{feature}}</li>
				</ul>
	            <button ng-show="isIOS && !hideFacebookButton" class="button button-block button-positive" ng-click="facebookLogin()">
					<i class="icon ion-social-facebook"></i>
					&nbsp Facebook Sign In
	            </button>
	            <button ng-show="isAndroid" class="button button-block button-assertive" ng-click="googleLogin()">
					<i class="icon ion-social-google"></i>
					&nbsp Google Sign In
	            </button>
				<button id="signUpButton" class="button button-block button-royal" ng-click="register()">
					<i class="icon ion-log-in"></i>
					&nbsp Sign Up
				</button>
				<button id="signInButton" class="button button-block button-royal" ng-click="login()">
					<i class="icon ion-log-in"></i>
					&nbsp Sign In
				</button>

<!--				<button class="button button-block button-positive" ng-click="login(true)">
					I'm New
				</button>-->
<!--				<button ng-show="allowOffline" class="button button-block button-assertive" ng-click="skipLogin()">
					<span>Skip Login</span>
				</button>-->
				<h1 class="positive">Privacy & Security</h1>
				<ul>
					<li>It's YOUR data. You decide what you share with your family and healthcare providers.</li>
					<li>By using {{appName}}, you agree with the terms of use and privacy policy.</li>
				</ul>
	        </div>
	    </div>



	</ion-content>
</ion-view>
