<ion-view hide-nav-bar="skipMenu" view-title="{{view_title}}">
	<ion-content>
		<div class="card sign_in" >
	        <div class="item item-text-wrap">
	            <h1 class="positive">{{headline}}</h1>
	            <br/>
	            <ul>
					<li ng-repeat="feature in features">{{feature}}</li>
	            </ul>
	            <button ng-show="isIOS" class="button button-block button-positive" ng-click="facebook_login()">
	                Facebook Sign In
	            </button>
	            <button ng-show="isIOS"  class="button button-block button-positive" ng-click="google_login()">
	                Google Sign In
	            </button>
	            <button class="button button-block button-positive" ng-click="login()">
	                Sign In
	            </button>
				<button class="button button-block button-positive" ng-click="login(true)">
					I'm New
				</button>
	        </div>
	    </div>

	</ion-content>
</ion-view>
