<ion-view hide-nav-bar="hideNavigationMenu" view-title="Get Started">
    <div class="outer" style=" background-color: {{circlePage.color.backgroundColor}};">
        <div class="middle">
            <div class="inner">
                <div style="text-align: center; color: white; padding: 30px; height: 100%" >
                    <div>
                        <div ng-include="'templates/fragments/circle-page.html'"></div>
                        <div id="loginButtons" ng-if="circlePage.title !== 'Logging in...'">
                                <button id="signUpButton" ng-click="register()" class="button circle-page-button" >Sign Up</button>
                                <button id="signInButton" ng-click="login()" class="button circle-page-button">Already Have Account</button>
                            <div ng-if="showGoogleLoginButton && !hideGoogleLoginButton">
                                <button id="signInWithGoogle" ng-click="googleLogin()" class="button circle-page-button">Sign In With Google</button>
                            </div>
                            <div ng-if="showFacebookLoginButton">
                                <button id="signInWithFacebook" ng-click="facebookLogin()" class="button circle-page-button clear">Sign In With Facebook</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-view>
