<ion-view hide-nav-bar="skipMenu" view-title="{{view_title}}">
	<ion-content>
		<div class="card sign_in" >
	        <div class="item item-text-wrap">
	            <h1 class="calm">Sign In</h1>
	            <br/>
	            <ul>	                
	                <li> - Automatically backup and sync your data across devices</li>
	                <li> - Track diet, treatments, symptoms, and anything else</li>
	                <li> - Analyze your data to see the top predictors for your {{tracking_factor}}</li>
	            </ul>
	            <button ng-show="isIOS" class="button button-block button-calm" ng-click="facebook_login()">
	                Facebook Sign In
	            </button>
	            <button ng-show="isIOS"  class="button button-block button-calm" ng-click="google_login()">
	                Google Sign In
	            </button>
	            <button class="button button-block button-calm" ng-click="login()">
	                QuantiModo Sign In
	            </button>
	        </div>
	    </div>

	</ion-content>
</ion-view>
