<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
    <ion-content>

        <div class="card" ng-show="state.showAddVariable">
            <div class="list">
                <p class="heading positive" style="padding:14px;">Add new {{state.variableCategoryObject.variableCategoryNameSingularLowercase | wordAliases}} variable</p>


                <label class="item item-input item-select" ng-show="state.showCategoryAsSelector">
                    <div class="input-label">
                        Select category
                    </div>
                    <select ng-model="state.variableCategory" ng-change=>
                        <option ng-repeat="i in state.variableCategories track by i.id" value="{{i.name}}">
                            {{i.name}}
                        </option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="state.measurement.variable" id="variableName" placeholder="Enter the new variable name here...">
                </label>
            </div>

            <div class="card" ng-show="state.showAddVariable">
                <p style="padding:14px;">How should we combine data over multiple days?</p>

                <label class="item item-radio">
                    <input type="radio" ng-model="state.sumAvg" value="sum" name="group">
                    <div class="item-content">
                        Sum (i.e. Apples eaten)
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model="state.sumAvg" value="avg" name="group">
                    <div class="item-content">
                        Average (i.e. Your weight)
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </div>

        <div class="card" style="overflow: visible" ng-hide="loading">
            <div class="item item-divider">
                {{state.measurement.variable}}
            </div>
            <div class="list">
                <div ng-if="showValueBox" class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Value
                        </span>
                    </div>
                    <div class="col">
                        <input type="number" ng-model="state.measurement.value" id="measurementValue" placeholder="Enter Value Here" class="up-top">
                    </div>
                </div>
                <div class="primary-outcome-variable-rating-buttons primary-outcome-variable-history col"
                     ng-if="showNumericRatingNumberButtons">
                    <img ng-repeat="option in numericRatingOptions"
                         ng-click="selectPrimaryOutcomeVariableValue($event, option.numericValue)"
                         ng-src="{{option.img}}"
                         ng-class="{'active-primary-outcome-variable-rating-button' :
                         option.numericValue === state.measurement.value}">
                </div>
                <div class="primary-outcome-variable-rating-buttons primary-outcome-variable-history col"
                     ng-if="showPositiveRatingFaceButtons">
                    <img ng-repeat="option in positiveRatingOptions"
                         ng-click="selectPrimaryOutcomeVariableValue($event, option.numericValue)"
                         ng-src="{{option.img}}"
                         ng-class="{'active-primary-outcome-variable-rating-button' :
                         option.numericValue === state.measurement.value}">
                </div>
                <div class="primary-outcome-variable-rating-buttons primary-outcome-variable-history col"
                     ng-if="showNegativeRatingFaceButtons">
                    <img ng-repeat="option in negativeRatingOptions"
                         ng-click="selectPrimaryOutcomeVariableValue($event, option.numericValue)"
                         ng-src="{{option.img}}"
                         ng-class="{'active-primary-outcome-variable-rating-button' :
                         option.numericValue === state.measurement.value}">
                </div>
                <label ng-if="(state.measurement.abbreviatedUnitName !== '/5')" class="item item-input item-select">
                    <div class="input-label">
                        Unit
                    </div>
                    <select ng-model="state.measurement.abbreviatedUnitName">
                        <option ng-selected="{{unitObject.abbreviatedName === state.measurement.abbreviatedUnitName}}"
                                ng-repeat="unitObject in state.unitObjects"
                                value="{{unitObject.abbreviatedName}}">
                            {{unitObject.name}} ({{unitObject.abbreviatedName}})
                        </option>
                    </select>
                </label>
                <div class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Date
                        </span>
                    </div>
                    <div class="col" style="padding-top: 15px;">
                        <!--FIXME update this-->
                        <!--<ionic-datepicker style="width:100%" idate="selectedDate" disablepreviousdates="false" callback="datePickerCallback">-->
                            <button class="button button-block measure-date up-top"
                                    style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;"
                                    ng-click="openMeasurementDatePicker()">
                                {{ selectedDate | date:'dd - MMMM - yyyy' }}
                            </button>
                        <!--</ionic-datepicker>-->
                    </div>
                </div>

                <div class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Time
                        </span>
                    </div>
                    <div class="col" style="padding-top: 11px;">
                        <button class="button button-block up-top"
                                style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                                ng-click="openMeasurementStartTimePicker()">
                            {{state.measurement.startTimeEpoch | fromUnixTimestampToLocalTimeOfDay}}
                        </button>
                    </div>
                </div>
                <div class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Note
                        </span>
                    </div>
                    <div class="col" style="padding-top: 11px;">
                        <div class="col">
                            <input type="text" ng-model="state.measurement.note" id="note" placeholder="Enter note here..." class="up-top">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-block icon-left ion-android-cancel button-assertive" ng-click="cancel()">Cancel</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block icon-left ion-android-done button-positive" ng-click="done()">Save</button>
                </div>
            </div>
            <div class="row">
                <button ng-click="goToAddReminder()" class="button icon-left ion-android-notifications button-positive button-block">
                    Remind me to track
                </button>
            </div>
            <div ng-show="state.measurement.id" class="row">
                <button ng-click="deleteMeasurement()" class="button icon-left ion-trash-a button-assertive button-block">
                    Delete Measurement
                </button>
            </div>
        </div>
    </ion-content>
<!--    <div class="bar bar-footer bar-balanced" ng-show="variableObject">
        <div class="title"  ng-click="goToAddReminder()">Remind me to track</div>
    </div>-->
</ion-view>