<ion-view hide-nav-bar="skipMenu" view-title="{{state.title}}">

	<ion-content scroll="true" overflow-scroll="true"> 
		

		<div class="card" ng-show="state.showMeasurementBox" ng-class="{card_disabled : state.isDisabled}" style="overflow: visible">
            <div  class="item item-divider" style="background-color:#11c1f3; color:white;">Record {{state.measurement.variableName}} measurement</div>
            
            <div class="list">
				
				<div class="row" ng-if="state.measurement.abbreviatedUnitName == '/5' " >
					<div class="primary_outcome_variables col">
						<img ng-repeat="option in primary_outcome_variable_numbers" ng-click="select_primary_outcome_variable($event, option.value)" ng-src="{{option.img}}">
					</div>
				</div>
				<div ng-if="state.measurement.abbreviatedUnitName != '/5' ">
					<div class="row labeled-control">
		            	<div class="col col-l">
		            	    <span>
		            	        Value
		            	    </span>
		            	</div>
		            	<div class="col">
		            	    <input type="text" ng-model="state.measurementDefaultValue" placeholder="Enter Value Here" class="uptop">
		            	</div>
					</div>
					
					<div class="row labeled-control">
		            	<div class="col col-l">
		            	    <span>
		            	        Unit
		            	    </span>
		            	</div>
		            	<div class="col">
		            	    <p style="color:black; padding: 0px 0px;">{{state.measurement.abbreviatedUnitName}}
		            	</div>
	            	</div>
            	</div>
                <div class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Date
                        </span>
                    </div>
                    <div class="col" style="padding-top: 15px;">
                        <ionic-datepicker style="width:100%" idate="state.measurementDate" disablepreviousdates="false" callback="currentDatePickerCallback">
                            <button class="button button-block measure_date uptop" style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;">
                                {{ state.measurementDate | date:'dd - MMMM - yyyy' }}
                            </button>
                        </ionic-datepicker>
                    </div>
                </div>

                <div class="row labeled-control">
                    <div class="col col-l">
                        <span> 
                            Time
                        </span>
                    </div>
                    <div class="col" style="padding-top: 11px;">
                        <ionic-timepicker style="width:54%" etime="state.measurementStartTimeEpoch" format="state.measurementStartTimeObject.format" step="state.measurementStartTimeObject.step" callback="currentTimePickerCallback">
                            <button class="button button-block uptop" style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;">
                                {{state.measurementStartTimeEpoch | fromUnixTimestampToLocalTimeOfDay}}
                            </button>
                        </ionic-timepicker>
                    </div>
                </div>

                <div class="button-bar" style="    padding-top: 10px;">
                	<a class="button button-clear button-assertive" style="text-overflow: clip;" ng-click="cancel()">Cancel</a>
                	<a class="button button-clear button-calm" style="text-overflow: clip;" ng-click="saveMeasurement()">Save</a>
                </div>
            </div>
        </div>
	</ion-content>

</ion-view>
