<ion-view hide-nav-bar="hideNavigationMenu" view-title="Measurements">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content >

  		<div class="item item-body">
   	
   		 <p>
	      Please select from the following icons to input the measurements.
	     </p>
	   
  	  </div>
      <br>
      <br>
      <!--this is an example template-->
      <div class="row row-wrap" align="middle">
        <div class="col-33" ng-repeat="category in categories.data">
          <a href="#/tab/categories/{{categories.data.indexOf(category)}}">
             <img class="myAvatar" ng-src="{{category.face}}"/>
          </a>
          <p class="avaText">{{category.name}}</p>
        </div>
      </div>
   
  </ion-content>
</ion-view> 
