<ion-side-menus enable-menu-with-back-views="true" >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-buttons side="left">
                <button ng-hide="skipMenu || (hideMenu && !isWelcomed ) " class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <div class="buttons">
                    <button class="button button-icon ion-calendar" ng-show="showCalender" ng-click="showCalenderF($event)"></button>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        
        <div class="col" ng-if="!skipMenu" ng-class="{'blink': isSyncing,'sync-indicator':isSyncing}" ng-show="isSyncing">
            <span>Data is Syncing</span>
        </div>

        <div class="col" ng-if="skipMenu" style="top:0px!important;" ng-class="{'blink': isSyncing,'sync-indicator':isSyncing}" ng-show="isSyncing">
            <span>Data is Syncing</span>
        </div>
        <ion-nav-view name="menuContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" is-enabled="!skipMenu">
        <ion-header-bar class="bar-calm">
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content>
                        
            <ion-list>
               
                <ion-item ng-show="menuItem.subMenuPanel || (!menuItem.subMenuPanel && !menuItem.isSubMenu) || this[menuItem.subMenuVariable]" ng-class="{'sub-menu': menuItem.isSubMenu}" ng-repeat="menuItem in menu" ng-click="closeMenuIfNeeded(menuItem)" ng-href="{{menuItem.href}}">
                    <i ng-if="menuItem.subMenuPanel" 
                        class="{{this['menuItem.icon']? 'ion-chevron-down' : 'ion-chevron-right'}}"> 
                        &nbsp; {{menuItem.title}}
                    </i>
                    <i ng-if="!menuItem.subMenuPanel" class="{{menuItem.icon}}" menu-close>
                        &nbsp; {{menuItem.title}}
                    </i >
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>