<ion-view view-title="Negative Predictors">

    <ion-tabs id="negative-tabs" class="tabs-calm tabs-icon-top">

        <ion-tab title="Common" icon-on="ion-ios-pulse" icon-off="ion-ios-pulse-strong">
            <ion-content style="padding-top: 45px">
                <div class="card card_calm">
                    <div class="item item-text-wrap card_item" >
                        <p>These are the factors most predictive of <span class="bold">DECREASING</span> {{tracking_factor}} for the average QuantiModo user.</p>
                    </div>
                </div>
                <ion-list>
                    <div collection-repeat="negative in negatives" divider-collection-repeat>
                        <ion-item>
                            <h2 class="block" >{{negative.cause}}</h2>
                            <p class="like_dislike_buttons"></p>
                            <div class="allbuttons">
                                <div ng-click="upvote(negative)" class="showinline">
                                    <img ng-if="negative.userVote == null || negative.userVote == 0" src="img/thumb_up_white.png" height="32px" width="32px" />
                                    <img ng-if="negative.userVote == 1" src="img/thumb_up_black.png" height="32px" width="32px" />
                                </div>
                                <div ng-click="downvote(negative)" class="showinline">
                                    <img ng-if="negative.userVote == null || negative.userVote == 1" src="img/thumb_down_white.png" height="32px" width="32px" />
                                    <img ng-if="negative.userVote == 0" src="img/thumb_down_black.png" height="32px" width="32px" />
                                </div>
                                <div class="showinline" ng-show="shopping_cart_enabled" ng-click="open_store(negative.effect)" ><img src="img/ic_shopping_cart.png" width="32px" height="32px" ></div>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
       </ion-tab>

        <ion-tab title="Yours" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
            <ion-content style="padding-top: 45px">
                <div class="card card_calm">
                    <div class="item item-text-wrap card_item" >
                        <p>Our analysis suggests that these are the factors most predictive of <b>DECREASING</b> your {{tracking_factor}} based on your own data. Want more accurate results? Start <a ui-sref="app.track_factors">tracking!</a></p>
                    </div>
                </div>
                <ion-list>
                    <div collection-repeat="negative in users_negative_factors" divider-collection-repeat>
                        <ion-item>
                            <h2 class="block" >{{negative.cause}}</h2>
                            <p class="like_dislike_buttons"></p>
                            <div class="allbuttons">
                                <div ng-click="upvote(negative)" class="showinline">
                                    <img ng-if="negative.userVote == null || negative.userVote == 0" src="img/thumb_up_white.png" height="32px" width="32px" />
                                    <img ng-if="negative.userVote == 1" src="img/thumb_up_black.png" height="32px" width="32px" />
                                </div>
                                <div ng-click="downvote(negative)" class="showinline">
                                    <img ng-if="negative.userVote == null || negative.userVote == 1" src="img/thumb_down_white.png" height="32px" width="32px" />
                                    <img ng-if="negative.userVote == 0" src="img/thumb_down_black.png" height="32px" width="32px" />
                                </div>
                                <div class="showinline" ng-show="shopping_cart_enabled" ng-click="open_store(negative.effect)" ><img src="img/ic_shopping_cart.png" width="32px" height="32px" ></div>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
        </ion-tab>

    </ion-tabs>


</ion-view>
