<ion-popover-view>
	<div class="dateDiv">
		<br/>
		<p class="positive">From</p>
		<button class="button button-block measure-date up-top" style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;" ng-click="openFromDatePicker()">
			{{ fromDate | date:'dd - MMMM - yyyy' }}
		</button>
		<br/>
		<p class="positive">To</p>
		<button class="button button-block measure-date up-top" style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;" ng-click="openToDatePicker()">
			{{ toDate | date:'dd - MMMM - yyyy' }}
		</button>
	</div>
	

</ion-popover-view>
