<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{title}}">
    <ion-tabs id="positive-negative-tabs" class="tabs-positive tabs-icon-top">

        <ion-tab title="Common" icon-on="ion-ios-pulse" icon-off="ion-ios-pulse-strong">
            <ion-content style="padding-top: 45px">
                <div class="card card-positive">
                    <div class="item item-text-wrap card-item" >
                        <p>These are the factors most predictive of <span class="bold">{{increasingDecreasing}}</span> {{primaryOutcomeVariable}} for the average QuantiModo user.</p>
                    </div>
                </div>
                <ion-list>
                    <div class="list card factorResultList" ng-repeat="positiveNegative in positivesNegatives">
                        <ion-item class="item item-text-wrap card-item" style="border-style:hidden;">
                            <h4><a ng-click="goToStudyPage(positiveNegative)">{{positiveNegative.cause}}</a></h4>
                            <div class="voteButtons">
                                <div ng-click="upVote(positiveNegative)" class="show-inline">
                                    <img ng-if="positiveNegative.userVote == null || positiveNegative.userVote == 0" src="img/thumb_up_white.png" height="32px" width="32px" />
                                    <img ng-if="positiveNegative.userVote == 1" src="img/thumb_up_black.png" height="32px" width="32px" />
                                </div>
                                <div ng-click="downVote(positiveNegative)" class="show-inline">
                                    <img ng-if="positiveNegative.userVote == null || positiveNegative.userVote == 1" src="img/thumb_down_white.png" height="32px" width="32px" />
                                    <img ng-if="positiveNegative.userVote == 0" src="img/thumb_down_black.png" height="32px" width="32px" />
                                </div>
                            </div>
                            <p>{{positiveNegative.predictorExplanation}}</p>
                            <p>{{positiveNegative.valuePredictingHighOutcomeExplanation}}</p>
                            <p>{{positiveNegative.valuePredictingLowOutcomeExplanation}}</p>
                                <!--
                                <div class="show-inline" ng-show="shoppingCartEnabled" ng-click="openStore(positiveNegative.cause)" >
                                    <img src="img/ic_shopping_cart.png" width="32px" height="32px" >
                                </div>
                                -->
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
        </ion-tab>

        <ion-tab title="Yours" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
            <ion-content style="padding-top: 45px">
                <div class="card card-positive">
                    <div class="item item-text-wrap card-item" >
                        <p>Our analysis suggests that these are the factors most predictive of <b>{{increasingDecreasing}}</b> your {{primaryOutcomeVariable}} based on your own data. Want more accurate results? Start <a ui-sref="app.track_factors">tracking!</a></p>
                    </div>
                </div>
                <ion-list>
                    <div class="list card factorResultList" ng-repeat="positiveNegative in usersPositiveNegativeFactors">
                        <ion-item class="item item-text-wrap card-item" style="border-style:hidden;">
                            <h4><a ng-click="goToStudyPage(positiveNegative)">{{positiveNegative.cause}}</a></h4>
                            <div class="voteButtons">
                                <div ng-click="upVote(positiveNegative)" class="show-inline">
                                    <img ng-if="positiveNegative.userVote == null || positiveNegative.userVote == 0" src="img/thumb_up_white.png" height="32px" width="32px" />
                                    <img ng-if="positiveNegative.userVote == 1" src="img/thumb_up_black.png" height="32px" width="32px" />
                                </div>
                                <div ng-click="downVote(positiveNegative)" class="show-inline">
                                    <img ng-if="positiveNegative.userVote == null || positiveNegative.userVote == 1" src="img/thumb_down_white.png" height="32px" width="32px" />
                                    <img ng-if="positiveNegative.userVote == 0" src="img/thumb_down_black.png" height="32px" width="32px" />
                                </div>
                            </div>
                            <p>{{positiveNegative.predictorExplanation}}</p>
                            <p>{{positiveNegative.valuePredictingHighOutcomeExplanation}}</p>
                            <p>{{positiveNegative.valuePredictingLowOutcomeExplanation}}</p>
                            <!--
                            <div class="show-inline" ng-show="shoppingCartEnabled" ng-click="openStore(positiveNegative.cause)" >
                                <img src="img/ic_shopping_cart.png" width="32px" height="32px" >
                            </div>
                            -->
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
        </ion-tab>

    </ion-tabs>


</ion-view>
