<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{title}}">
    <ion-tabs id="predictors-tabs" class="tabs-positive tabs-icon-top">

        <ion-tab title="Common Predictors" icon-on="ion-ios-pulse" icon-off="ion-ios-pulse-strong">
            <ion-content style="padding-top: 45px">
                <div class="card card-positive">
                    <div class="item item-text-wrap card-item" >
                        <p>These are the factors most predictive of <span class="bold">{{increasingDecreasing}}</span> {{state.variableName}} for the average user.  Press "Your Predictors" at the bottom to see ones based on your own data.</p>
                    </div>
                </div>
                <ion-list>
                    <div class="list card correlationResultList" ng-repeat="correlationObject in correlationObjects">
                        <ion-item class="item item-text-wrap card-item" style="border-style:hidden;">
                            <h4><a ng-click="goToStudyPage(correlationObject)">{{correlationObject.cause}}</a></h4>
                            <div class="voteButtons">
                                <div ng-click="upVote(correlationObject)" class="show-inline">
                                    <img ng-if="correlationObject.userVote == null || correlationObject.userVote == 0" src="img/thumb_up_white.png" height="32px" width="32px" />
                                    <img ng-if="correlationObject.userVote == 1" src="img/thumb_up_black.png" height="32px" width="32px" />
                                </div>
                                <div ng-click="downVote(correlationObject)" class="show-inline">
                                    <img ng-if="correlationObject.userVote == null || correlationObject.userVote == 1" src="img/thumb_down_white.png" height="32px" width="32px" />
                                    <img ng-if="correlationObject.userVote == 0" src="img/thumb_down_black.png" height="32px" width="32px" />
                                </div>
                            </div>
                            <p ng-click="goToStudyPage(correlationObject)">{{correlationObject.predictorExplanation}}</p>
                            <p ng-click="goToStudyPage(correlationObject)">{{correlationObject.valuePredictingHighOutcomeExplanation}}</p>
                            <p ng-click="goToStudyPage(correlationObject)">{{correlationObject.valuePredictingLowOutcomeExplanation}}</p>
                                <!--
                                <div class="show-inline" ng-show="shoppingCartEnabled" ng-click="openStore(correlationObject.cause)" >
                                    <img src="img/ic_shopping_cart.png" width="32px" height="32px" >
                                </div>
                                -->
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
        </ion-tab>

        <ion-tab title="Your Predictors" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
            <ion-content style="padding-top: 45px">
                <div class="card card-positive">
                    <div class="item item-text-wrap card-item" >
                        <p>Our analysis suggests that these are the factors most predictive of <b>{{increasingDecreasing}}</b> your {{state.variableName}} based on your own data. Want more accurate results? Add some reminders and start tracking!</a></p>
                    </div>
                </div>
                <ion-list>
                    <div class="list card correlationResultList" ng-repeat="correlationObject in usersCorrelationObjects">
                        <ion-item class="item item-text-wrap card-item" style="border-style:hidden;">
                            <h4><a ng-click="goToStudyPage(correlationObject)">{{correlationObject.cause}}</a></h4>
                            <div class="voteButtons">
                                <div ng-click="upVote(correlationObject)" class="show-inline">
                                    <img ng-if="correlationObject.userVote == null || correlationObject.userVote == 0" src="img/thumb_up_white.png" height="32px" width="32px" />
                                    <img ng-if="correlationObject.userVote == 1" src="img/thumb_up_black.png" height="32px" width="32px" />
                                </div>
                                <div ng-click="downVote(correlationObject)" class="show-inline">
                                    <img ng-if="correlationObject.userVote == null || correlationObject.userVote == 1" src="img/thumb_down_white.png" height="32px" width="32px" />
                                    <img ng-if="correlationObject.userVote == 0" src="img/thumb_down_black.png" height="32px" width="32px" />
                                </div>
                            </div>
                            <p>{{correlationObject.predictorExplanation}}</p>
                            <p>{{correlationObject.valuePredictingHighOutcomeExplanation}}</p>
                            <p>{{correlationObject.valuePredictingLowOutcomeExplanation}}</p>
                            <!--
                            <div class="show-inline" ng-show="shoppingCartEnabled" ng-click="openStore(correlationObject.cause)" >
                                <img src="img/ic_shopping_cart.png" width="32px" height="32px" >
                            </div>
                            -->
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
        </ion-tab>

    </ion-tabs>


</ion-view>
