<ion-view hide-nav-bar="hideNavigationMenu" view-title="Welcome">
    <div class="content intro-content" >
        <div>
            <img style="width:{{stateParams.image.width}}px; height:{{stateParams.image.height}}px;"
                 ng-src="{{stateParams.image.url}}">
        </div>
        <p style="color: white">
            {{stateParams.question}}
        </p>
        <div class="button-bar">
            <a id="skipButtonIntro"
               class="button"
               ng-show="myIntro.slideIndex != introSlides.length-1 "
               style="background-color: {{introSlide.backgroundColor}}; color: {{introSlide.textColor}}; text-align: center"
               ng-click="myIntro.startApp()">
                SKIP
            </a>
            <a id="nextButtonIntro"
               class="button"
               style="background-color: {{introSlide.backgroundColor}}; color: {{introSlide.textColor}}; text-align: center"
               ng-show="myIntro.slideIndex != introSlides.length-1 && myIntro.slideIndex != introSlides.length-1"
               ng-click="myIntro.next()">
                NEXT
            </a>
        </div>
    </div>
</ion-view>