<ion-view hide-nav-bar="hideNavigationMenu" view-title="Manage Reminders">
	<ion-nav-title>{{stateParams.title}}</ion-nav-title>
	<ion-content style="background-color: #f2f2f2" ng-class="{ isBrowserView : isWeb == true }">
		<ion-refresher on-refresh="refreshReminders()"></ion-refresher>
		<div class="card" ng-if="state.showNoRemindersCard">
			<div class="item item-avatar">
				<i class="icon positive {{state.noRemindersIcon}}"
				   style="position: absolute;
							top: 15px;
							left: 15px;
							font-size: 36px;
							max-width: 40px;
							max-height: 40px;
							width: 100%;
							border-radius: 4px;"
				></i>
				<p style="
					  height: 40px;
					  line-height: 40px;
					  white-space: nowrap;
					  color: black;
					font-size: 18px;">
					{{state.noRemindersTitle}}
				</p>
			</div>
			<div class="item item-body">
				{{state.noRemindersText}} Press the pink button to add one now.
			</div>
		</div>
		<div class="list" ng-show="state.trackingReminders.length" id="remindersList">
			<div on-hold="showActionSheet(reminder)"
				 class="item"
				 ng-repeat="reminder in state.trackingReminders | orderBy:reminderOrderParameter track by $index"
				 ng-if="!reminder.hide">
				<div class="row">
					<div ng-click="showActionSheet(reminder)" class="col col-20" style="padding-top: 0px;">
						<i style="font-size: 40px;" class="icon positive {{reminder.ionIcon}}"></i>
					</div>
					<div ng-click="showActionSheet(reminder)" class="col col-70">
						<h2 style="white-space: normal; line-height: normal;">{{reminder.variableName}}</h2>
						<p style="white-space: normal;">{{reminder.valueAndFrequencyTextDescriptionWithTime}}</p>
					</div>
					<div ng-click="showActionSheet(reminder)" class="col col-10">
						<i style="font-size: 20px;" class="icon positive ion-more"></i>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<nav id="floatingMaterialButton"
		 mfb-menu position="br"
		 effect="slidein-spring"
		 active-icon="ion-minus-round"
		 resting-icon="ion-plus-round"
		 toggling-method="click"
		 ng-hide="hideNavigationMenu">
		<button id="mfb1" mfb-button icon="ion-android-notifications-none" label="{{stateParams.addButtonText}}"
				ng-click="addNewReminderButtonClick()"></button>
		<button id="mfb2" mfb-button icon="ion-compose" label="Record a {{stateParams.variableCategoryName}} Measurement"
				ng-click="addNewMeasurementButtonClick()"></button>
		<button id="mfb3" mfb-button icon="ion-ios-cloud-download-outline" label="Import Data"
				ng-click="goToState('app.import')"></button>
		<button id="mfb4" mfb-button icon="ion-help" label="Get Help"
				ng-click="goToState('app.help')"></button>
	</nav>

</ion-view>
