<ion-view hide-nav-bar="hideNavigationMenu" view-title="Add Reminder">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true">

        <div class="list card" ng-show="state.showReminderFrequencyCard" id="reminderAddCard">
        	<div class="item item-divider">{{state.trackingReminder.variableName}} settings</div>
            <div class="list">
                <!--<label class="item item-input item-select" ng-if="state.showAddVariableCard && !state.trackingReminder.variableCategoryName">-->
                <label class="item item-input item-select" ng-if="state.showAddVariableCard">
                    <div class="input-label" style="white-space:normal; width: 60%">Select Category</div>
                    <select id="variableCategorySelector" ng-model="state.trackingReminder.variableCategoryName" ng-change="variableCategorySelectorChange(state.trackingReminder.variableCategoryName)">
                        <option ng-repeat="variableCategory in variables.variableCategories" value="{{variableCategory.name}}">{{variableCategory.name}}</option>
                    </select>
                </label>
                <label ng-if="!state.hideDefaultValueField && state.trackingReminder.abbreviatedUnitName !== '/5'" class="item item-input">
                    <!--<span class="input-label">{{state.defaultValueLabel}}</span>-->
                    <span class="input-label left-span" on-tap="showExplanationsPopup('Default Value')">{{state.defaultValueLabel}} <i class="icon ion-help-circled"></i></span>
                    <input type="number" ng-model="state.trackingReminder.defaultValue" id="defaultValue" placeholder={{state.defaultValuePlaceholderText}} >
                </label>
                <label ng-if="!state.hideDefaultValueField" class="item item-input item-select">
                    <div class="input-label">
                        Unit
                    </div>
                    <select id="unitSelector"
                            ng-if="!state.showMoreUnits"
                            ng-model="state.trackingReminder.abbreviatedUnitName"
                            ng-options="unit.abbreviatedName as unit.name for unit in nonAdvancedUnitObjects"
                            ng-change="unitSelected()">
                    </select>
                    <select ng-if="state.showMoreUnits"
                            id="advancedUnitSelector"
                            ng-model="state.trackingReminder.abbreviatedUnitName"
                            ng-options="unit.abbreviatedName as unit.name for unit in unitObjects"
                            ng-change="unitSelected()">
                    </select>
                </label>
                <label class="item item-input item-select" ng-if="!stateParams.favorite">
                    <div class="input-label">
                        Frequency
                    </div>
                    <select id="frequencySelector" ng-change="onFrequencyChange()" ng-model="state.selectedFrequency">
                        <option ng-repeat="frequency in variables.frequencyVariables">{{frequency.name}}</option>
                    </select>
                </label>
            </div>
            <div class="list card" ng-show="state.selectedFrequency === 'Daily'">
                <label class="item item-input">
                    <div class="input-label" >
                        Reminder time
                    </div>
                    <button class="button button-block up-top"
                            style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                            ng-click="openReminderStartTimePicker('first')">
                        {{state.firstReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </button>
                </label>
                <label ng-show="state.secondReminderStartTimeEpochTime" class="item item-input">
                    <div class="input-label" >
                        2nd reminder time
                    </div>
                    <button class="button button-block up-top"
                            style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                            ng-click="openReminderStartTimePicker('second')">
                        {{state.secondReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </button>
                </label>
                <label ng-show="state.thirdReminderStartTimeEpochTime" class="item item-input">
                    <div class="input-label" >
                        3nd reminder time
                    </div>
                    <button class="button button-block up-top"
                            style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                            ng-click="openReminderStartTimePicker('third')">
                        {{state.thirdReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </button>
                </label>
                <label ng-hide="state.hideAdditionalReminderTimeButton" ng-click="showAdditionalReminderTime()"
                        class="item icon-left ion-clock">
                    Add additional time
                </label>
            </div>
<!--            <div class="list card" ng-show="state.selectedFrequency !== 'Daily'">
                <label class="item item-input">
                    <div class="input-label" >
                        Reminder start time
                    </div>
                    <button class="button button-block up-top"
                            style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                            ng-click="openReminderStartTimePicker()">
                        {{state.reminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </button>
                </label>
            </div>
            <div class="list card" ng-if="state.trackingReminder.reminderFrequency < 86400">
                <label class="item item-input">
                    <div class="input-label" >
                        Latest reminder time
                    </div>
                    <button class="button button-block up-top"
                            style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                            ng-click="openReminderEndTimePicker()">
                        {{state.reminderEndTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </button>
                </label>
            </div>-->
            <div class="list card" ng-if="!state.showMoreOptions" >
                <div class="row" ng-click="showMoreOptions()">
                    <label class="item icon-left ion-gear-a">
                        More options...
                    </label>
                </div>
            </div>
            <div ng-if="state.showMoreOptions" class="row labeled-control">
                <div class="col col-l">
                        <span>
                            Start Date
                        </span>
                </div>
                <div class="col" style="padding-top: 15px;">
                    <button class="button button-block measure-date up-top"
                            style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;"
                            ng-click="openStartTrackingDatePicker()">
                        {{ state.selectedStartTrackingDate | date:'dd - MMMM - yyyy' }}
                    </button>
                </div>
            </div>
            <div ng-if="state.showMoreOptions" class="row labeled-control">
                <div class="col col-l">
                        <span>
                            End Date
                        </span>
                </div>
                <div class="col" style="padding-top: 15px;">
                    <button class="button button-block measure-date up-top"
                            style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;"
                            ng-click="openStopTrackingDatePicker()">
                        {{ state.selectedStopTrackingDate | date:'dd - MMMM - yyyy' }}
                    </button>
                </div>
            </div>
            <label class="item item-input" ng-show="state.showInstructionsField && state.showMoreOptions">
                <span class="input-label">Instructions</span>
                <input type="text" ng-model="state.trackingReminder.instructions" id="instructions" placeholder="Enter instructions here..." >
            </label>
            <div class="row">
                <div class="col col-50">
                    <button id="cancelButton" class="button button-block icon-left ion-android-cancel button-assertive" ng-click="cancel()">Cancel</button>
                </div>
                <div class="col col-50">
                    <button id="saveButton" class="button button-block icon-left ion-android-done button-positive" ng-click="save()">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-show="state.trackingReminder.id" ng-click="deleteReminder()"
                            class="button button-block icon-left ion-trash-a button-assertive">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>
