<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
	<ion-content>
		<ion-refresher on-refresh="refreshReminders()"></ion-refresher>

<!--		<div ng-show="user.combineNotifications" class="list card" ng-click="showMoreNotificationInfoPopup()">
			<a class="item item-icon-left">
				<i class="icon ion-android-notifications-off positive"></i>
				Individual Notifications Disabled
			</a>
		</div>-->

		<div class="list card" ng-if="state.showTreatmentInfoCard" >
			<div class="item" style="padding-bottom:0px;">
				<div class="row">
					<div class="col col-25" style="padding-top: 0px;">
						<i style="text-align: center; font-size: 40px;" class="icon positive ion-ios-medkit-outline"></i>
					</div>
					<div class="col col-75">
						<p style=" text-align: left; line-height: normal; font-size: 25px;">Medication Reminders</p>
					</div>
				</div>
				<div class="row">
					<h2 style="white-space: normal; text-align: center; line-height: normal; ">
						You don't have any medication or treatment reminders yet!  Once you add some, you'll be able to modify or delete them here.
						<br><br>
					</h2>
				</div>
			</div>
		</div>

		<div class="list card" ng-if="state.showSymptomInfoCard" >
			<div class="item" >
				<p style=" text-align: center; line-height: normal; font-size: 25px;">Symptom Ratings</p>

				<div class="row">
					<div class="col" style="padding-top: 0px;">
						<i style="font-size: 60px;" class="icon positive ion-sad-outline"></i>
					</div>
					<div class="col col-75">
						<h2 style="white-space: normal; text-align: center; line-height: normal; ">
							Here, you can add or delete existing symptom or side effect rating reminders.
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col" style="padding-top: 0px;">
						<br>
						<h2 style="white-space: normal; text-align: center; line-height: normal; ">
							Then you'll be able to quickly record ratings in the Reminder Inbox.
						</h2>
					</div>
				</div>
				<div class="row">

					<h2 style="white-space: normal; text-align: center; line-height: normal; ">
						<br>
						This data combined with machine learning algorithms can help you and your physician discover hidden factors that might be improving or exacerbating your symptoms.
						<br>
					</h2>
				</div>

			</div>
		</div>
		
		<div ng-show="state.showButtons" class="list card" ng-click="addNewReminderButtonClick()">
			<a id="addReminderButton" class="item item-icon-left">
				<i class="icon ion-plus positive"></i>
				{{state.addButtonText}}
			</a>
		</div>


		<div class="list card" ng-show="state.trackingReminders.length" id="remindersList">
			<div on-hold="showActionSheet(reminder)" class="list card" ng-repeat="reminder in state.trackingReminders | orderBy:state.orderParameter track by $index" ng-if="!reminder.hide">
				<div class="item" style="padding-bottom:0px;">
					<div class="row">
						<div ng-click="showActionSheet(reminder)" class="col col-20" style="padding-top: 0px;">
							<i style="font-size: 40px;" class="icon positive {{reminder.icon}}"></i>
						</div>
						<div ng-click="showActionSheet(reminder)" class="col col-70">
							<h2 style="white-space: normal;">{{reminder.variableName}}</h2>
							<p style="white-space: normal;">{{reminder.valueAndFrequencyTextDescription}}</p>
						</div>
						<div ng-click="showActionSheet(reminder)" class="col col-10">
							<i style="font-size: 20px;" class="icon positive ion-more"></i>
						</div>
					</div>
					<div class="row">
						<div class="button-bar">
							<a class="button button-clear button-assertive" style="text-overflow: clip;" ng-click="deleteReminder(reminder, $index)"> <i class="ion-trash-b"> &nbsp; Delete</i></a>
					  		<a class="button button-clear button-calm" ng-click="edit(reminder)" style="text-overflow: clip;"><i class="ion-edit"> &nbsp; Edit</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<nav mfb-menu position="bl" effect="slidein-spring"
		 active-icon="ion-minus-round" resting-icon="ion-plus-round"
		 toggling-method="click" ng-hide="hideNavigationMenu || (hideNavigationMenu && !isWelcomed)">
		<button mfb-button icon={{floatingMaterialButton.button1.icon}} label={{floatingMaterialButton.button1.label}} ng-click="goToState({{floatingMaterialButton.button1.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button2.icon}} label={{floatingMaterialButton.button2.label}} ng-click="goToState({{floatingMaterialButton.button2.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button3.icon}} label={{floatingMaterialButton.button3.label}} ng-click="goToState({{floatingMaterialButton.button3.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button4.icon}} label={{floatingMaterialButton.button4.label}} ng-click="goToState({{floatingMaterialButton.button4.stateAndParameters}})"></button>
	</nav>
</ion-view>