<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
	<ion-tabs id="positive-tabs" class="tabs-positive tabs-icon-top">
	<ion-content scroll="true" overflow-scroll="true">


		<ion-tab title="Inbox" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
			<ion-content style="padding-top: 45px">

			<div class="list card"  ng-hide="hideAddTreatmentRemindersCard">
				<div class="item" style="padding-bottom:0px;">
					<p style=" text-align: center; line-height: normal; font-size: 25px;">Treatment Tracking</p>

					<div class="row">
						<div class="col" style="padding-top: 0px;">
							<i style="text-align: center; font-size: 60px;" class="icon positive ion-ios-medkit-outline"></i>
						</div>
						<div class="col col-75">
							<h2 style="white-space: normal; text-align: left; line-height: normal; ">Get reminded to take and record treatments to identify how they might be affecting you.</h2>
						</div>
					</div>
					<div class="row" >
						<div class="button-bar">
							<button class="button button-clear button-balanced" style="font-size: 14px;" ng-click="goToReminderSearchCategory('Treatments')"><i class="ion-plus-round"> &nbsp; Add treatment reminder &nbsp;</i></button>
						</div>
					</div>
					<div class="row" >
						<div class="button-bar">
							<button class="button button-clear button-assertive" style="font-size: 14px;" ng-click="setLocalStorageFlagTrue('hideAddTreatmentRemindersCard')"><i class="ion-close-circled"> &nbsp;Done adding treatments</i></button>
						</div>
					</div>

				</div>
			</div>

			<div class="list card"  ng-hide="hideAddSymptomRemindersCard">
				<div class="item" >
					<p style=" text-align: center; line-height: normal; font-size: 25px;">Symptom Ratings</p>

					<div class="row">
						<div class="col" style="padding-top: 0px;">
							<i style="font-size: 60px;" class="icon positive ion-sad-outline"></i>
						</div>
						<div class="col col-75">
							<h2 style="white-space: normal; text-align: left; line-height: normal; ">Rate symptoms regularly in order to determine which factors are influencing them. </h2>
						</div>
					</div>
					<div class="row" >
						<div class="button-bar">
							<button class="button button-clear button-balanced" style="font-size: 14px;" ng-click="goToReminderSearchCategory('Symptoms')"><i class="ion-plus-round"> &nbsp; Add symptom reminder &nbsp;</i></button>
						</div>
					</div>
					<div class="row"  >
						<div class="button-bar">
							<button class="button button-clear button-assertive" style="font-size: 14px;" ng-click="setLocalStorageFlagTrue('hideAddSymptomRemindersCard')"><i class="ion-close-circled"> &nbsp; Done adding symptoms</i></button>
						</div>
					</div>

				</div>
			</div>

			<div class="list card"  ng-hide="hideAddEmotionRemindersCard">
				<div class="item" style="padding-bottom:0px;">
					<p style=" text-align: center; line-height: normal; font-size: 25px;">Varying Emotions?</p>
					<div class="row">
						<div class="col" style="padding-top: 0px;">
							<i style="font-size: 60px;" class="icon positive ion-happy-outline"></i>
						</div>
						<div class="col col-75">
							<h2 style="white-space: normal; text-align: left; line-height: normal; ">It's important to rate variable emotions regularly in order to determine which factors are influencing them. </h2>
						</div>
					</div>
					<div class="row" >
						<div class="button-bar">
							<button class="button button-clear button-balanced" style="font-size: 14px;" ng-click="goToReminderSearchCategory('Emotions')"><i class="ion-plus-round"> &nbsp; Add an emotion reminder&nbsp;</i></button>
						</div>
					</div>
					<div class="row"  >
						<div class="button-bar">
							<button class="button button-clear button-assertive" style="font-size: 14px;" ng-click="setLocalStorageFlagTrue('hideAddEmotionRemindersCard')"><i class="ion-close-circled"> &nbsp; Done adding emotions</i></button>
						</div>
					</div>

				</div>
			</div>

			<div class="list card"  ng-hide="hideAddFoodRemindersCard">
				<div class="item" style="padding-bottom:0px;">
					<p style=" text-align: center; line-height: normal; font-size: 25px;">Track Diet</p>
					<div class="row">
						<div class="col" style="padding-top: 0px;">
							<i style="font-size: 60px;" class="icon positive ion-ios-nutrition-outline"></i>
						</div>
						<div class="col col-75">
							<h2 style="white-space: normal; text-align: left; line-height: normal; ">Diet can have a significant impact on your health.  It's important to enter any foods that you regularly eat to see how they might be affecting you. </h2>
						</div>
					</div>
					<div class="row" >
						<div class="button-bar">
							<button class="button button-clear button-balanced" style="font-size: 14px;" ng-click="goToReminderSearchCategory('Foods')"><i class="ion-plus-round"> &nbsp; Add a food reminder &nbsp;</i></button>
						</div>
					</div>
					<div class="row"  >
						<div class="button-bar">
							<button class="button button-clear button-assertive" style="font-size: 14px;" ng-click="setLocalStorageFlagTrue('hideAddFoodRemindersCard')"><i class="ion-close-circled"> &nbsp; Done adding common foods</i></button>
						</div>
					</div>
				</div>
			</div>

			<div class="list card"  ng-hide="hideImportDataCard">
				<div class="item" style="padding-bottom:0px;">
					<p style=" text-align: center; line-height: normal; font-size: 25px;">Import Your Data</p>
					<div class="row">
						<div class="col" style="padding-top: 0px;">
							<i style="font-size: 60px;" class="icon positive ion-ios-cloud-download-outline"></i>
						</div>
						<div class="col col-75">
							<h2 style="white-space: normal; text-align: left; line-height: normal; ">Start by scrolling down to the Weather connector and enter your zip code so we can see how the weather might be affecting you. </h2>
						</div>
					</div>
					<div class="row" >
						<div class="button-bar">
							<button class="button button-clear button-balanced" style="font-size: 14px;" ng-click="goToState('app.import')"><i class="ion-plus-round"> &nbsp; Connect an app or device &nbsp;</i></button>
						</div>
					</div>
					<div class="row"  >
						<div class="button-bar">
							<button class="button button-clear button-assertive" style="font-size: 14px;" ng-click="setLocalStorageFlagTrue('hideImportDataCard')"><i class="ion-close-circled"> &nbsp; Done connecting to sources</i></button>
						</div>
					</div>
				</div>
			</div>

		<div class="list card" ng-if="state.filteredReminderNotifications.length">
			<div ng-repeat="divider in state.filteredReminderNotifications" ng-init="dividerIndex = $index" id="{{divider.name}}Reminders">

				<div class="item item-divider" style="">
				  {{divider.name}}
				</div>

				
				<div class="list card" ng-if="!reminder.hide" ng-repeat="reminder in divider.reminders" ng-init="reminderNotificationIndex = $index" >
					<div class="item" style="padding-bottom:0px;">
						<div class="row">
							<div class="col" style="padding-top: 0px;">
								<i style="font-size: 60px;" class="icon positive ion-ios-alarm-outline"></i>
							</div>
							<div class="col col-75">
								<h2 ng-if="reminder.abbreviatedUnitName != '/5'" style="white-space: normal; line-height: normal; ">{{reminder.defaultValue}}&nbsp;{{reminder.unitName.toLowerCase()}} {{reminder.variableName}}</h2>
								<h2 ng-if="reminder.abbreviatedUnitName == '/5'" style="white-space: normal; line-height: normal; ">Rate {{reminder.variableName}}</h2>
								<p style="white-space: normal;">{{ reminder.trackingReminderNotificationTime | fromUtcToLocalDateAndTime}} </p>
							</div>
						</div>
						<div class="button-bar">
							<button class="button button-clear button-assertive" style="text-overflow: clip; font-size: 12px;" ng-click="skip(reminder, $event, dividerIndex, reminderNotificationIndex)"><i class="ion-android-cancel"> &nbsp; Skip</i></button>
							<button class="button button-clear button-royal" style="text-overflow: clip; font-size: 12px;" ng-click="snooze(reminder, $event, dividerIndex, reminderNotificationIndex)"><i class="ion-android-notifications-off"> &nbsp; Snooze</i></button>
							<button class="button button-clear button-calm" ng-click="editReminderSettings(reminder)" style="text-overflow: clip;  font-size: 12px;"><i class="ion-settings"> &nbsp; Settings</i></button>
						</div>
						<div class="row" ng-if="reminder.abbreviatedUnitName !== '/5' " >
							<div class="button-bar">
								<button ng-show="reminder.defaultValue" class="button button-clear button-assertive" style="text-overflow: clip; font-size: 14px;" ng-click="track(reminder, 0, $event, dividerIndex, reminderNotificationIndex)"><i class="ion-android-done"> &nbsp; Record 0</i></button>
								<button class="button button-clear button-balanced" style="text-overflow: clip; font-size: 14px;" ng-click="track(reminder, null, $event, dividerIndex, reminderNotificationIndex)"><i class="ion-android-done"> &nbsp; Record {{reminder.defaultValue}}&nbsp</i></button>
							</div>
						</div>
						<div class="row" ng-if="reminder.abbreviatedUnitName !== '/5' " >
							<div class="button-bar">
								<button class="button button-clear button-calm" style="text-overflow: clip; font-size: 14px;" ng-click="editMeasurement(reminder, dividerIndex, reminderNotificationIndex)"><i class="ion-edit"> &nbsp; Record Different Value/Time</i></button>
							</div>
						</div>
						<div class="primary-outcome-variable-reporting"
						 	ng-if="!reminder.description &&	reminder.abbreviatedUnitName === '/5'">
							<div class="primary-outcome-variable-rating-buttons" >
								<img ng-repeat="option in numericRatingOptions"
									 ng-click="track(reminder, option.numericValue, $event, dividerIndex, reminderNotificationIndex)"
									 ng-src="{{option.img}}">
							</div>
							<br>
						</div>
						<div class="primary-outcome-variable-reporting"
							 ng-if="reminder.abbreviatedUnitName === '/5' &&
						 	reminder.description.toLowerCase().indexOf('positive') > -1">
							<div class="primary-outcome-variable-rating-buttons" >
								<img ng-repeat="option in positiveRatingOptions"
									 ng-click="track(reminder, option.numericValue, $event, dividerIndex, reminderNotificationIndex)"
									 ng-src="{{option.img}}">
								<br>
							</div>
							<br>
						</div>
						<div class="primary-outcome-variable-reporting"
							 ng-if="reminder.abbreviatedUnitName === '/5' &&
						 	reminder.description.toLowerCase().indexOf('negative') > -1">
							<div class="primary-outcome-variable-rating-buttons" >
								<img ng-repeat="option in negativeRatingOptions"
									 ng-click="track(reminder, option.numericValue, $event, dividerIndex, reminderNotificationIndex)"
									 ng-src="{{option.img}}">
								<br>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
			
<!--			<div class="button-bar">
				<a class="button button-clear button-calm" ng-click="init()" style="text-overflow: clip;"><i class="ion-refresh">  Refresh</i></a>
			</div>-->
		</div>
			</ion-content>

		</ion-tab>
		<ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
			<ion-content style="padding-top: 45px">
        <div class="list card" ng-if="state.favorites.length" ng-repeat="favorite in state.favorites" >
            <div class="item" style="padding-bottom:0px;">
                <div class="row">
                    <div class="col" style="padding-top: 0px;">
                        <i style="font-size: 60px;" class="icon positive ion-ios-star"></i>
                    </div>
                    <div class="col col-75">
                        <h2 ng-if="favorite.abbreviatedUnitName != '/5'" style="white-space: normal; line-height: normal; ">{{favorite.defaultValue}}&nbsp;{{favorite.unitName.toLowerCase()}} {{favorite.variableName}}</h2>
                        <h2 ng-if="favorite.abbreviatedUnitName == '/5'" style="white-space: normal; line-height: normal; ">Rate {{favorite.variableName}}</h2>
						<button class="button button-clear button-calm" ng-click="editReminderSettings(favorite)" style="text-overflow: clip;  font-size: 12px;"><i class="ion-settings"> &nbsp; Settings</i></button>

					</div>
                </div>
                <div class="row" ng-if="favorite.abbreviatedUnitName !== '/5' " >
                    <div class="button-bar">
                        <button ng-show="favorite.defaultValue" class="button button-clear button-assertive" style="text-overflow: clip; font-size: 14px;" ng-click="trackByReminder(favorite, 0, $event, dividerIndex, favoriteNotificationIndex)"><i class="ion-android-done"> &nbsp; Record 0</i></button>
                        <button class="button button-clear button-balanced" style="text-overflow: clip; font-size: 14px;" ng-click="trackByReminder(favorite, null, $event, dividerIndex, favoriteNotificationIndex)"><i class="ion-android-done"> &nbsp; Record {{favorite.defaultValue}}&nbsp</i></button>
                    </div>
                </div>
                <div class="row" ng-if="favorite.abbreviatedUnitName !== '/5' " >
                    <div class="button-bar">
                        <button class="button button-clear button-calm" style="text-overflow: clip; font-size: 14px;" ng-click="editMeasurement(favorite)"><i class="ion-edit"> &nbsp; Record Different Value/Time</i></button>
                    </div>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="!favorite.description &&	favorite.abbreviatedUnitName === '/5'">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in numericRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                    </div>
                    <br>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="favorite.abbreviatedUnitName === '/5' &&
						 	favorite.description.toLowerCase().indexOf('positive') > -1">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in positiveRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                        <br>
                    </div>
                    <br>
                </div>
                <div class="primary-outcome-variable-reporting"
                     ng-if="favorite.abbreviatedUnitName === '/5' &&
						 	favorite.description.toLowerCase().indexOf('negative') > -1">
                    <div class="primary-outcome-variable-rating-buttons" >
                        <img ng-repeat="option in negativeRatingOptions"
                             ng-click="trackByReminder(favorite, option.numericValue)"
                             ng-src="{{option.img}}">
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
			</ion-content>
		</ion-tab>

	</ion-content>
	<nav mfb-menu position="bl" effect="slidein-spring"
		 active-icon="ion-minus-round" resting-icon="ion-plus-round"
		 toggling-method="click" ng-hide="hideNavigationMenu || (hideNavigationMenu && !isWelcomed)">
		<button mfb-button icon={{floatingMaterialButton.button1.icon}} label={{floatingMaterialButton.button1.label}} ng-click="goToState({{floatingMaterialButton.button1.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button2.icon}} label={{floatingMaterialButton.button2.label}} ng-click="goToState({{floatingMaterialButton.button2.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button3.icon}} label={{floatingMaterialButton.button3.label}} ng-click="goToState({{floatingMaterialButton.button3.stateAndParameters}})"></button>
		<button mfb-button icon={{floatingMaterialButton.button4.icon}} label={{floatingMaterialButton.button4.label}} ng-click="goToState({{floatingMaterialButton.button4.stateAndParameters}})"></button>
	</nav>
	</ion-tabs>
</ion-view>
