<ion-view hide-nav-bar="hideNavigationMenu" view-title="Inbox">
	<ion-nav-title>{{state.title}}</ion-nav-title>
	<ion-content>
		<!--<ion-content scroll="true" overflow-scroll="true">-->
		<ion-refresher on-refresh="refreshTrackingReminderNotifications()"></ion-refresher>
		<div ng-if="stateParams.showHelpCards === true"
			 ng-repeat="card in defaultHelpCards" >
			<div ng-include="'templates/fragments/help-info-card-fragment.html'"></div>
		</div>
		<div  class="list card" ng-if="filteredTrackingReminderNotifications.length && state.numberOfDisplayedNotifications">
			<div ng-repeat="divider in filteredTrackingReminderNotifications" ng-init="dividerIndex = $index"
				 id="{{divider.name}}Reminders">
				<div class="item item-divider" style="">
					{{divider.name}}
				</div>
				<div on-hold="showActionSheetForNotification(trackingReminderNotification, $event, dividerIndex, trackingReminderNotificationIndex)" class="list card"
					 ng-show="!trackingReminderNotification.hide"
					 ng-repeat="trackingReminderNotification in divider.trackingReminderNotifications"
					 ng-init="trackingReminderNotificationIndex = $index" >
					<div class="item" style="padding-bottom:10px;">
						<div ng-click="showActionSheetForNotification(trackingReminderNotification, $event, dividerIndex, trackingReminderNotificationIndex)" class="row">
							<div class="col col-20" style="padding-top: 0px;">
								<i style="font-size: 40px;" class="icon positive {{trackingReminderNotification.icon}}"></i>
							</div>
							<div ng-click="showActionSheetForNotification(trackingReminderNotification, $event, dividerIndex, trackingReminderNotificationIndex)" class="col col-70">
								<h2 ng-if="trackingReminderNotification.defaultValue !== null && trackingReminderNotification.abbreviatedUnitName != '/5'"
									style="white-space: normal;
									line-height: normal; ">
									{{trackingReminderNotification.defaultValue}}&nbsp;{{trackingReminderNotification.unitName.toLowerCase()}} {{trackingReminderNotification.variableName}}
								</h2>
								<h2 ng-if="trackingReminderNotification.defaultValue === null && trackingReminderNotification.abbreviatedUnitName != '/5'"
									style="white-space: normal;
									line-height: normal; ">
									{{trackingReminderNotification.variableName}}
								</h2>
								<h2 ng-if="trackingReminderNotification.abbreviatedUnitName == '/5'"
									style="white-space: normal;
									line-height: normal; ">Rate {{trackingReminderNotification.variableName}}
								</h2>
								<p style="white-space: normal;">
									{{ trackingReminderNotification.trackingReminderNotificationTime | fromUtcToLocalDateAndTime}}
								</p>
							</div>
							<div ng-click="showActionSheet(trackingReminderNotification, event)" class="col col-10">
								<i style="font-size: 20px;" class="icon positive ion-more"></i>
							</div>
						</div>
						<div class="button-bar">
							<button class="button button-clear button-assertive"
									style="text-overflow: clip; font-size: 12px;"
									ng-click="skip(trackingReminderNotification, $event, dividerIndex, trackingReminderNotificationIndex)">
								<i class="ion-android-cancel"> &nbsp; Skip</i>
							</button>
							<button class="button button-clear button-royal"
									style="text-overflow: clip; font-size: 12px;"
									ng-click="snooze(trackingReminderNotification, $event, dividerIndex, trackingReminderNotificationIndex)">
								<i class="ion-android-notifications-off"> &nbsp; Snooze</i>
							</button>
							<button class="button button-clear button-calm"
									ng-click="editReminderSettingsByNotification(trackingReminderNotification, dividerIndex, trackingReminderNotificationIndex)"
									style="text-overflow: clip;  font-size: 12px;">
								<i class="ion-settings"> &nbsp; Settings</i>
							</button>
						</div>
						<label ng-if="trackingReminderNotification.defaultValue === null && trackingReminderNotification.abbreviatedUnitName !== '/5'"
							   class="item item-input">
							<input type="number" ng-model="trackingReminderNotification.total" id="defaultValueField"
								   ng-click="onTextClick($event)"
								   placeholder="Enter value"
								   style="text-align: center; max-width: 125px; padding-right: 10px">
							<span on-tap="trackByValueField(trackingReminderNotification, $event, dividerIndex, trackingReminderNotificationIndex)"
								  class="input-label">
								{{trackingReminderNotification.abbreviatedUnitName}} &nbsp
								<i style="font-size: 20px;"
								   class="icon positive ion-checkmark-round">
								</i>
							</span>
						</label>
						<div class="row" ng-if="trackingReminderNotification.defaultValue !== null &&
												trackingReminderNotification.abbreviatedUnitName !== '/5' " >
							<div class="button-bar">
								<button ng-show="trackingReminderNotification.defaultValue"
										class="button button-clear button-assertive"
										style="text-overflow: clip; font-size: 14px;"
										ng-click="track(trackingReminderNotification, 0, $event, dividerIndex, trackingReminderNotificationIndex)">
									<i class="ion-android-done"> &nbsp; Record 0</i>
								</button>
								<button class="button button-clear button-balanced"
										style="text-overflow: clip; font-size: 14px;"
										ng-click="track(trackingReminderNotification, null, $event, dividerIndex, trackingReminderNotificationIndex)">
									<i class="ion-android-done"> &nbsp; Record {{trackingReminderNotification.defaultValue}}&nbsp</i>
								</button>
							</div>
						</div>
						<div class="row" ng-if="trackingReminderNotification.defaultValue !== null &&
												trackingReminderNotification.abbreviatedUnitName !== '/5' " >
							<div class="button-bar">
								<button class="button button-clear button-calm"
										style="text-overflow: clip; font-size: 14px;"
										ng-click="editMeasurement(trackingReminderNotification, dividerIndex, trackingReminderNotificationIndex)">
									<i class="ion-edit"> &nbsp; Other Value/Time/Note</i>
								</button>
							</div>
						</div>
						<div class="primary-outcome-variable-reporting"
							 ng-if="!trackingReminderNotification.description &&	trackingReminderNotification.abbreviatedUnitName === '/5'">
							<div class="primary-outcome-variable-rating-buttons" >
								<img ng-repeat="option in numericRatingOptions"
									 ng-click="track(trackingReminderNotification, option.numericValue, $event, dividerIndex, trackingReminderNotificationIndex)"
									 ng-src="{{option.img}}">
							</div>
							<br>
						</div>
						<div class="primary-outcome-variable-reporting"
							 ng-if="trackingReminderNotification.abbreviatedUnitName === '/5' &&
						 	trackingReminderNotification.description.toLowerCase().indexOf('positive') > -1">
							<div class="primary-outcome-variable-rating-buttons" >
								<img ng-repeat="option in positiveRatingOptions"
									 ng-click="track(trackingReminderNotification, option.numericValue, $event, dividerIndex, trackingReminderNotificationIndex)"
									 ng-src="{{option.img}}">
								<br>
							</div>
							<br>
						</div>
						<div class="primary-outcome-variable-reporting"
							 ng-if="trackingReminderNotification.abbreviatedUnitName === '/5' &&
						 	trackingReminderNotification.description.toLowerCase().indexOf('negative') > -1">
							<div class="primary-outcome-variable-rating-buttons" >
								<img ng-repeat="option in negativeRatingOptions"
									 ng-click="track(trackingReminderNotification, option.numericValue, $event, dividerIndex, trackingReminderNotificationIndex)"
									 ng-src="{{option.img}}">
								<br>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list card"  ng-if="!state.loading && state.numberOfDisplayedNotifications === 0">
			<div class="item" style="padding-bottom:10px;">
				<p style=" text-align: center; line-height: normal; font-size: 25px;">All caught up!</p>
				<div class="row">
					<div class="col" style="padding-top: 0px;">
						<i style="text-align: center; font-size: 60px;" class="icon positive ion-android-sunny"></i>
					</div>
					<div class="col col-75">
						<h2 style="white-space: normal; text-align: justify; line-height: normal; ">
							Maybe you should refresh or add some more reminders?
						</h2>
					</div>
				</div>
				<div class="row" >
					<div class="button-bar">
						<button class="button button-clear button-balanced" style="font-size: 14px;"
								ng-click="goToState('app.reminderSearch')">
							<i class="ion-android-notifications"> &nbsp; Add a reminder &nbsp;</i>
						</button>
					</div>
				</div>
				<div class="row" >
					<div class="button-bar">
						<button class="button button-clear button-assertive" style="font-size: 14px;"
								ng-click="goToState('app.favorites')">
							<i class="ion-star"> &nbsp; Go to favorites &nbsp;</i>
						</button>
					</div>
				</div>
				<div class="row" >
					<div class="button-bar">
						<button class="button button-clear button-royal" style="font-size: 14px;"
								ng-click="goToState('app.measurementAddSearch')">
							<i class="ion-compose"> &nbsp; Record a measurement &nbsp;</i>
						</button>
					</div>
				</div>
				<div class="row" >
					<div class="button-bar">
						<button class="button button-clear button-calm" style="font-size: 14px;"
								ng-click="goToState('app.historyAll')">
							<i class="ion-ios-list-outline"> &nbsp; History &nbsp;</i>
						</button>
					</div>
				</div>
				<div class="row" >
					<div class="button-bar">
						<button class="button button-clear button-balanced" style="font-size: 14px;"
								ng-click="refreshTrackingReminderNotifications()">
							<i class="ion-refresh"> &nbsp; Refresh &nbsp;</i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="list card"
			 ng-if="!state.loading && state.numberOfDisplayedNotifications === 0 && favoritesArray && favoritesArray.length"
			 id="Favorites">
			<div class="item item-divider" style="">
				{{state.favoritesTitle}}
			</div>
			<div ng-include="'templates/fragments/blood-pressure-favorite-fragment.html'"></div>
			<div ng-include="'templates/fragments/favorites-list-fragment.html'"></div>
		</div>
		<div ng-if="weekdayChartConfig">
			<highchart id="chart3" config="weekdayChartConfig"></highchart>
		</div>
<!--
		<div ng-if="!isSyncing && numberOfPendingNotifications !== null" class="button-bar">
			<a class="button button-clear button-calm" ng-click="init()" style="text-overflow: clip;">
				<i class="ion-refresh">  Refresh</i>
			</a>
		</div>
-->
		<div class="card"  ng-show="state.loading">
			<div class="item" >
				<div class="row">
					<ion-spinner></ion-spinner>
					<p style=" text-align: center; line-height: normal; font-size: 18px;">&nbsp &nbsp Refreshing... </i></p>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
	</ion-content>
	<div ng-show="showUndoButton" ng-click="undo()" class="bar bar-footer bar-balanced">
		<div class="title"> <i class="icon ion-reply"></i> &nbsp Undo {{lastAction}}</div>
	</div>
	<div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
