<ion-view hide-nav-bar="hideNavigationMenu" view-title="Settings">
    <ion-content>

        <div class="list card">
            <a href="" ng-show="!user" ng-click="sendToLogin()" class="item ">
              Account
              <p>Tap to sign in</p>
            </a>

            <a id="userName" href="" ng-show="user" ng-click="logout()" class="item ">
                <i class="icon ion-person"></i>
                &nbsp
                Signed in as {{user.displayName}}
              <p>Tap to sign out</p>
            </a>
    		
        </div>

        <div ng-show="user" class="card sign-in" >
            <ion-toggle ng-model="state.trackLocation"
                        ng-change="trackLocationChange()">
                <i class="icon ion-map"></i>
                &nbsp
                Track my location
            </ion-toggle>
<!--            <div ng-show="state.trackLocation" class="list card">
                <a ng-show="user" ng-click="goToState('app.map')" class="item ">
                    Open Map
                </a>
            </div>-->
        </div>
        <div ng-include="'templates/fragments/email-preferences-fragment.html'"></div>
        <div ng-include="'templates/fragments/push-preferences-fragment.html'"></div>
        <div class="list card">
            <a ng-click="sendSharingInvitation()" class="item ">
                <i class="icon ion-email"></i>
                &nbsp
                Share Your Data
                <p style="white-space: normal">Invite a physician, caregiver, or loved one</p>
            </a>
        </div>

        <div class="list card">
            <div class="item item-divider">
                <i class="icon ion-ios-download"></i>
                &nbsp
                Export Your Data
            </div>
            <a href="" ng-click="exportPdf()" class="item ">
              Export as PDF File
            </a>
            <a href="" ng-click="exportXls()" class="item ">
                Export as XLS File
            </a>
            <a href="" ng-click="exportCsv()" class="item ">
                Export as CSV File
            </a>
        </div>

        <div class="list card">
            <a ng-click="contactUs()" class="item ">
                <i class="icon ion-help-buoy"></i>
                &nbsp;
                Help & Feedback
            </a>
        </div>

        <div ng-if="!user" class="card sign-in" >
            <div class="item item-text-wrap">
                <button class="button button-block icon-left ion-trash-a button-assertive" ng-click="logout()">
                    Clear all user data
                </button>
            </div>
        </div>

<!--
        <div ng-if="user" class="card sign-in" >
            <div class="item item-text-wrap">
                <button class="button button-block icon-left ion-refresh button-assertive" ng-click="refreshUser()">
                    Refresh User Settings
                </button>
            </div>
        </div>
-->

        <div class="list card" ng-click="showAppInfoPopup()">
            <a class="item">
                <i class="icon ion-information-circled"></i>
                &nbsp;
                App Information
            </a>
        </div>
    </ion-content>
</ion-view>
