<ion-view hide-nav-bar="hideNavigationMenu" view-title="Settings">
    <ion-content>

        <div class="list card">
            <a href="" ng-show="!user" ng-click="loginFromSettings()" class="item ">
              Account
              <p>Tap to sign in</p>
            </a>

            <a id="userName" href="" ng-show="user" ng-click="logout()" class="item ">
                <i class="icon ion-person"></i>
                &nbsp
                Signed in as {{user.displayName}}
              <p>Tap to sign out</p>
            </a>
    		
        </div>

        <div class="card sign-in" >
            <ion-toggle ng-model="state.trackLocation"
                        ng-change="trackLocationChange()">
                <i class="icon ion-map"></i>
                &nbsp
                Track my location
            </ion-toggle>
<!--            <div ng-show="state.trackLocation" class="list card">
                <a ng-show="user" ng-click="goToState('app.map')" class="item ">
                    Open Map
                </a>
            </div>-->
        </div>

        <div class="card sign-in" >
            <ion-toggle ng-model="state.combineNotifications"
                        ng-change="combineNotificationChange()">
                <i class="icon ion-android-notifications-none"></i>
                &nbsp
                Only show one notification
            </ion-toggle>


            <div ng-show="state.combineNotifications" class="list card">
                <div class="item item-text-wrap">
                    <p>Reminder me every</p>
                </div>

                <a href="" ng-click="ratingPopover.show();" ng-hide="isIos" class="item ">
                    {{primaryOutcomeRatingFrequencyDescription}}
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='never'">never</p>
                    <!--FOR DEVELOPMENT ONLY ---->
                      <p ng-show="primaryOutcomeRatingFrequencyDescription=='minutely'">minute</p>
                      <p ng-show="primaryOutcomeRatingFrequencyDescription=='every five minutes'">five minutes</p>
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='hourly'">hour</p>
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='every three hours'">three hours</p>
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='twice a day'">12 hours</p>
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='daily'">day</p>
                </a>

                <a href="" ng-click="ratingPopover.show();" ng-show="isIos" class="item ">
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='never'">never</p>
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='day'">day</p>
                    <p ng-show="primaryOutcomeRatingFrequencyDescription=='hour'">hour</p>
                </a>

                <!--   		<a href="" ng-click="additionalRatingPopover.show();" class="item ">
                             Additional required ratings
                             <p>{{addString}}</p>
                           </a>-->
            </div>

        </div>

        <div class="list card">
            <a ng-click="sendSharingInvitation()" class="item ">
                <i class="icon ion-email"></i>
                &nbsp
                Share Your Data
                <p>Invite a Physician, Caregiver, or Loved One</p>
            </a>

        </div>

        <div class="list card">
            <div class="item">
                <i class="icon ion-ios-download"></i>
                &nbsp
                Export Your Data
            </div>
            <a href="" ng-click="exportPdf()" class="item ">
              Export as PDF File
            </a>
            <a href="" ng-click="exportXls()" class="item ">
                Export as XLS File
            </a>
            <a href="" ng-click="exportCsv()" class="item ">
                Export as CSV File
            </a>
        </div>



        <div class="list card">
            <a ng-click="contactUs()" class="item ">
                <i class="icon ion-help-buoy"></i>
                Help & Feedback
            </a>
        </div>

        <div class="card sign-in" >
            <div class="item item-text-wrap">
                <button class="button button-block icon-left ion-trash-a button-assertive" ng-click="logout()">
                    Clear all user data
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
