<ion-view hide-nav-bar="hideNavigationMenu" view-title="Study">
    <ion-nav-title>{{state.title}}</ion-nav-title>
        <ion-content>
            <ion-list class="correlationResultList" ng-show="state.correlationObject">
                <div class="list card">
                    <ion-item style="border-style:hidden;">
                        <div class="item item-text-wrap card-item">
                            <h3>{{state.correlationObject.predictorExplanation}}</h3>
                                <p>{{state.correlationObject.valuePredictingHighOutcomeExplanation}}</p>
                                <p>{{state.correlationObject.valuePredictingLowOutcomeExplanation}}</p>
                            <h3>Study Abstract</h3>
                               <p>{{state.correlationObject.studyAbstract}}</p>
                            <h3>Study Background</h3>
                               <p>{{state.correlationObject.studyBackground}}</p>
                            <h3>Study Objective</h3>
                               <p>{{state.correlationObject.studyObjective}}</p>
                            <h3>Study Design</h3>
                               <p>{{state.correlationObject.studyDesign}}</p>
                            <h3>Data Analysis</h3>
                               <p>{{state.correlationObject.dataAnalysis}}</p>
                            <h3>Data Sources</h3>
                               <p ng-bind-html="state.correlationObject.dataSources"></p>
                            <h3>Study Limitations</h3>
                                <p>{{state.correlationObject.studyLimitations}}</p>
                        </div>
                        <div ng-show="lineChartConfig" class="card primary-outcome-variable-reporting-chart">
                            <div class="item item-text-wrap">
                                <highchart id="chart2" config="lineChartConfig"></highchart>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
</ion-view>
