<ion-view hide-nav-bar="hideNavigationMenu" view-title="Study">
    <ion-nav-title>Study</ion-nav-title>
        <ion-content>
            <div class="item item-text-wrap card-item" style="border-style:hidden; text-align: center">
                <br>
                <h2 id="predictorExplanation">{{correlationObject.predictorExplanation}}</h2>
                <br>
                <img ng-src="{{correlationObject.gaugeImage}}">
                <br>
<!--                        Doesn't look right yet
                <img ng-src="{{correlationObject.causeVariableImageUrl}}">
                <img ng-src="{{correlationObject.effectVariableImageUrl}}">-->
                <p id="valuePredictingHighOutcomeExplanation">{{correlationObject.valuePredictingHighOutcomeExplanation}}
                <br><br>
                <p id="valuePredictingLowOutcomeExplanation">{{correlationObject.valuePredictingLowOutcomeExplanation}}</p>
                <div ng-include="'templates/fragments/correlation-buttons-fragment.html'"></div><br>
                <h3 id="studyAbstract">Study Abstract</h3>
                <p>{{correlationObject.studyAbstract}}</p><br>
                <div ng-show="loadingCharts" style="text-align: center">
                    <br>
                    <ion-spinner icon="android"></ion-spinner>
                    <br>
                </div>
                <highchart ng-show="causeTimelineChartConfig" id="causeTimeline" config="causeTimelineChartConfig"></highchart>
                <highchart ng-show="effectTimelineChartConfig" id="effectTimeline" config="effectTimelineChartConfig"></highchart>
                <highchart ng-show="scatterplotChartConfig" id="scatterplot" config="scatterplotChartConfig"></highchart>
                <div id="studyBody" >
                    <h3 id="studyBackground">Study Background</h3>
                       <p ng-bind-html="correlationObject.studyBackground" style="text-align: justify"></p>
                    <br>

                    <div>
                        <div ng-if="causeWikiImage" style="width: 100%">
                            <img hspace="20" style="float:right; padding: 5px" ng-show="causeWikiImage" ng-src="{{causeWikiImage}}" >
                        </div>
                        <div ng-if="causeWikiEntry">
                            <p ng-bind-html="causeWikiEntry" style="text-align: left"></p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div ng-if="effectWikiImage" style="width: 100%">
                            <img hspace="20" style="float:right; padding: 5px" ng-show="effectWikiImage" ng-src="{{effectWikiImage}}" >
                        </div>
                        <div ng-if="effectWikiEntry">
                            <p ng-bind-html="effectWikiEntry" style="text-align: left"></p>
                        </div>
                    </div>
                    <br>
                    <h3 ng-show="correlationObject.studyObjective" id="studyObjective">Study Objective</h3>
                       <p>{{correlationObject.studyObjective}}</p><br>
                    <h3 ng-show="correlationObject.studyDesign" id="studyDesign">Study Design</h3>
                       <p>{{correlationObject.studyDesign}}</p><br>
                    <h3 ng-show="correlationObject.dataAnalysis" id="dataAnalysis">Data Analysis</h3>
                       <p>{{correlationObject.dataAnalysis}}</p><br>
                    <h3 ng-show="correlationObject.dataSources" id="dataSources">Data Sources</h3>
                       <p ng-bind-html="correlationObject.dataSources"></p><br>
                    <h3 ng-show="correlationObject.studyLimitations" id="studyLimitations">Study Limitations</h3>
                        <p>{{correlationObject.studyLimitations}}</p><br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <highchart ng-show="lineChartConfig" id="chart2" config="lineChartConfig"></highchart>
            <div class="list card"  ng-if="state.studyNotFound">
                <div class="item" style="padding-bottom:10px;">
                    <p style=" text-align: center; line-height: normal; font-size: 25px;">Study Not Found</p>
                    <div class="row">
                        <div class="col" style="padding-top: 0px;">
                            <i style="text-align: center; font-size: 60px;" class="icon positive ion-sad-outline"></i>
                        </div>
                        <div class="col col-75">
                            <h2 style="white-space: normal; text-align: justify; line-height: normal; ">
                                We don't have enough data to determine the relationship between
                                {{state.requestParams.causeVariableName}} and {{state.requestParams.effectVariableName}}!
                                Want to help advance citizen science?  Start tracking or create a study!
                            </h2>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="button-bar">
                            <button class="button button-clear button-balanced" style="font-size: 14px;"
                                    ng-click="goToState('app.reminderSearch')">
                                <i class="ion-android-notifications"> &nbsp; Add a reminder &nbsp;</i>
                            </button>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="button-bar">
                            <button class="button button-clear button-royal" style="font-size: 14px;"
                                    ng-click="goToState('app.measurementAddSearch')">
                                <i class="ion-compose"> &nbsp; Record a measurement &nbsp;</i>
                            </button>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="button-bar">
                            <button class="button button-clear button-assertive" style="font-size: 14px;"
                                    ng-click="goToState('app.studyCreate')">
                                <i class="ion-ios-flask"> &nbsp; Create a Study &nbsp;</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    <div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
