<ion-view hide-nav-bar="hideNavigationMenu" view-title="Add Tag">
    <ion-nav-title>Add Tag</ion-nav-title>
    <ion-content>
        <div class="card" style="overflow: visible" id="tagAddCard">
            <div class="item item-divider">
                Tagging {{taggedVariable.name}} with {{tagVariable.name}}
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="number" ng-model="tagVariableValue" id="tagVariableValue"
                           ng-click="onTextClick($event)" placeholder={{state.defaultValuePlaceholderText}} >
                    <span class="input-label">{{tagVariable.defaultUnitAbbreivatedName}} {{tagVariable.name}}</span>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        per 1 {{taggedVariable.defaultUnitAbbreivatedName}} {{taggedVariable.name}}
                    </div>
                </label>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button id="cancelButton" class="button button-block icon-left ion-android-cancel button-assertive" ng-click="cancel()">Cancel</button>
                </div>
                <div class="col col-50">
                    <button id="saveButton" class="button button-block icon-left ion-android-done button-positive" ng-click="done()">Save</button>
                </div>
            </div>
            <div class="row">
                <button id="deleteButton" ng-click="deleteTag()" class="button icon-left ion-trash-a button-assertive button-block">
                    Delete Tag
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>