<ion-view view-title="Track your {{tracking_factor}}">
    <ion-content>
    	<div class="card tracking_factor_reporting">
    		<div class="item item-text-wrap">
                <div>
                    <img ng-show="averageTrackingFactorImage" ng-src="{{averageTrackingFactorImage}}" class="top-left" alt="Depressed">
                    <div class="to_right">
                        <span ng-show="averageTrackingFactorValue" class="heading">{{factor_average_text}} {{averageTrackingFactorValue}}.</span>
                        <ul class="from_top">
                            <li>We hope you feel great!</li>
                            <li>{{tracking_question}}</li>
                        </ul>
                    </div>
                </div>
                <div class="tracking_factors" ng-show="!timeRemaining">
                    <img ng-repeat="option in tracking_factor_options"
                         ng-click="report_tracking_factor(option.value)"
                         ng-src="{{option.img}}"
                            >
                </div>
                <div ng-show="timeRemaining">
                    <br/>
                    <ul>
                        <li>Thanks for reporting your {{tracking_factor}}!</li>
                        <li ng-show="secondsLeft">You can report your {{tracking_factor}} back in {{secondsLeft}} seconds</li>
                    </ul>
                </div>
    		</div>
    	</div>


    	<div  class="card tracking_factor_reporting_chart">
    		<div class="item item-text-wrap">
                <div style="height: 460px;" ng-show="isSyncing">
                    <div style="position: absolute;top:45%;text-align: center;width: 100%"><span>Still retrieving data. Check back soon.</span></div>
                </div>
                <div ng-if="redrawBarChart && !isSyncing">
                    <highchart id="chart1" config="barChartConfig"></highchart>    
                </div>
    
                <div ng-if="redrawLineChart && !isSyncing">
                    <highchart id="chart2" config="lineChartConfig"></highchart>    
                </div>
                
    		</div>
    	</div>
    </ion-content>
</ion-view>
