<ion-view hide-nav-bar="hideNavigationMenu" view-title="Track your {{primaryOutcomeVariable}}">
    <ion-content>
    	<div ng-show="showRatingFaces" class="card primary-outcome-variable-reporting">
    		<div class="item item-text-wrap">
                <div class="primary-outcome-variable-rating-buttons" >
                    <p class="heading positive" style="padding:14px; text-align: center;">{{primaryOutcomeVariableTrackingQuestion}}</p>
                    <img ng-repeat="option in positiveRatingOptions"
                         ng-click="recordPrimaryOutcomeVariableRating(option.value)"
                         ng-src="{{option.img}}"
                            >
                </div>
                <div ng-show="timeRemaining">
                    <br/>
                    <ul>
                        <li style="padding:14px; text-align: center;">Thanks for reporting your {{primaryOutcomeVariable}}!</li>
                        <li ng-show="secondsLeft">You can report your {{primaryOutcomeVariable}} back in {{secondsLeft}} seconds</li>
                    </ul>
                </div>
    		</div>
    	</div>

        <div ng-show="averagePrimaryOutcomeVariableImage" class="card primary-outcome-variable-average">
            <div class="item item-text-wrap">
                <div>
                    <img ng-src="{{averagePrimaryOutcomeVariableImage}}" class="top-left" alt="Depressed">
                    <div class="to-right">
                        <br>
                        <span ng-show="averagePrimaryOutcomeVariableValue" class="heading">{{primaryOutcomeVariableAverageText}} {{averagePrimaryOutcomeVariableValue}}.</span>
                        <ul class="from-top">
                            <!--                           <li>We hope you feel great!</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div ng-show="showCharts" class="card primary-outcome-variable-reporting-chart">
    		<div class="item item-text-wrap">
<!--                <div style="height: 460px;" ng-show="isSyncing">
                    <div style="position: absolute;top:45%;text-align: center;width: 100%"><span>Still retrieving data. Check back soon.</span></div>
                </div>-->
                <div ng-if="redrawBarChart">
                    <highchart id="chart1" config="barChartConfig"></highchart>    
                </div>
    
                <div ng-if="redrawLineChart">
                    <highchart id="chart2" config="lineChartConfig"></highchart>    
                </div>
                
    		</div>
    	</div>
    </ion-content>
    <nav mfb-menu position="bl" effect="slidein-spring"
         active-icon="ion-minus-round" resting-icon="ion-plus-round"
         toggling-method="click" ng-hide="hideNavigationMenu || (hideNavigationMenu && !isWelcomed)">
        <button mfb-button icon="ion-happy-outline" label="How are you?" ng-click="goToState('app.track')"></button>
        <button mfb-button icon="ion-ios-medkit-outline" label="Add a medication" ng-click="goToState('app.reminderAddCategory', {variableCategoryName : 'Treatments'})"></button>
        <button mfb-button icon="ion-ios-pulse" label="Add Vital Sign" ng-click="goToState('app.track_factors_category', {variableCategoryName : 'Vital Signs'})"></button>
        <button mfb-button icon="ion-heart-broken" label="Record a Symptom" ng-click="goToState('app.track_factors_category', {variableCategoryName : 'Symptoms'})"></button>
    </nav>
</ion-view>
