<ion-view hide-nav-bar="skipMenu" view-title="Track {{state.variable_category_name | wordAliases}}">
    <ion-content>
        <div class="card" ng-show="flags.showTrack">
            <div class="item item-text-wrap">
                <div>
                    <div>
                        <!--<span class="heading calm">Track {{state.variable_category_name}}</span>-->
                        <ul class="from_top">
                            <!--<li>What do you want to track?</li>-->
                            <li>{{state.help_text}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="search_term" ng-change="search(search_term)" id="track_search" type="text" placeholder={{state.trackFactorsPlaceholderText}}>

            </label>
            <p></p>
            <ion-list>
                <ion-item style="text-align:center;border-bottom: 1px solid rgb(221, 221, 221);" ng-show="state.loading">
                    <img src="img/loader.gif">
                </ion-item>
            </ion-list>

            <ion-list ng-show="lists.list.length" class>
                <ion-item ng-click="measure(item)" ng-repeat="item in lists.list | orderBy:'-latestMeasurementTime' | limitTo:5 | unique:'id'  ">
                    <div>
                        <p style="font-size:18px; white-space: pre;">{{item.name}}</p>
                        <p>{{item.latestMeasurementTime | fromNow}}</p>
                    </div>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-item style="border-top: 1px solid rgb(221, 221, 221);" ng-click="add_variable()">
                    + Add a new {{state.variable_category_name_singular_lowercase | wordAliases}} variable
                </ion-item>
            </ion-list>
        </div>

        <div class="card" ng-show="flags.showAddVariable">
            <div class="list">
                <p class="heading calm" style="padding:14px;">Add a new {{state.variable_category_name_singular_lowercase | wordAliases}} variable</p>


                <label class="item item-input item-select" ng-if="flags.showCategoryAsSelector">
                    <div class="input-label">
                        Variable Category
                    </div>
                    <select ng-model="state.variable_category" ng-change=>
                        <option ng-repeat="i in state.variableCategories track by i.id" value="{{i.name}}">
                            {{i.name}}
                        </option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label" ng-if="!flags.showCategoryAsSelector">
                    <span class="input-label">Variable Category</span>
                    <input type="text" ng-model="state.variable_category" readonly id="category_name" placeholder="Category name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Variable</span>
                    <input type="text" ng-model="state.variable_name" id="variable_name" placeholder="Variable name">
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model="state.sumAvg" value="sum" name="group">
                    <div class="item-content">
                        Sum
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model="state.sumAvg" value="avg" name="group">
                    <div class="item-content">
                        Average
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </div>

        <div class="card" ng-show="flags.showAddMeasurement" style="overflow: visible">
            <p class="heading calm" style="padding:14px;">Track {{state.variable_name}}</p>
            <div class="list">

                <div ng-if="(flags.category != 'Emotions' && flags.category != 'Symptoms')" class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Value
                        </span>
                    </div>
                    <div class="col">
                        <input type="text" ng-model="state.variable_value" id="variable_value" placeholder="Enter Value Here" class="uptop">
                    </div>
                </div>

                <div class="primary_outcome_variables primary_outcome_variable_history col" ng-if="flags.category=='Emotions' || flags.category == 'Symptoms'">
                    <img ng-repeat="option in primary_outcome_variable_numbers" ng-click="select_primary_outcome_variable($event, option.value)" ng-src="{{option.img}}"  ng-class="{'active_primary_outcome_variable' : option.value == state.variable_value}">
                </div>

                <div class="row labeled-control" ng-if="(flags.category != 'Emotions' && flags.category != 'Symptoms')">
                    <div class="col col-l">
                        <span class="input-label">Unit</span>
                    </div>
                    <div class="col">
                        <div class="row uptop" style="padding-left:0px;">
                            <div class="col" style="padding-top:5px;">

                                <!-- show most common unit when tracking measurement, keep it editable-->
                                <input type="text" ng-show="flags.showAddVariable" ng-change="unit_search(state.unit_text)" ng-model="state.unit_text" placeholder="Type to search">

                                
                                <!-- show default unit when tracking measurement-->
                                <span ng-show="!flags.showAddVariable">{{state.selected_sub}}</span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="card" ng-show="flags.show_units && state.searchedUnits.length">
                    <div class="list">
                        <ion-list>
                            <ion-item ng-repeat="unit in state.searchedUnits" on-tap="unit_selected(unit)">
                                {{unit.abbreviatedName}}
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Date
                        </span>
                    </div>
                    <div class="col" style="padding-top: 15px;">
                        <ionic-datepicker style="width:100%" idate="currentDate" disablepreviousdates="false" callback="datePickerCallback">
                            <button class="button button-block measure_date uptop" style="font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px; text-align:left;">
                                {{ currentDate | date:'dd - MMMM - yyyy' }}
                            </button>
                        </ionic-datepicker>
                    </div>
                </div>

                <div class="row labeled-control">
                    <div class="col col-l">
                        <span>
                            Time
                        </span>
                    </div>
                    <div class="col" style="padding-top: 11px;">
                        <ionic-timepicker style="width:54%" etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">
                            <button class="button button-block uptop" style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;">
                                {{slots.epochTime | toTime}}
                            </button>
                        </ionic-timepicker>
                    </div>
                </div>
            </div>
        </div>    
 
        <div class="card" ng-show="flags.showAddMeasurement">
            <button ng-click="cancel()" class="button button-assertive button-block">
                Cancel
            </button>
            <button ng-click="done()" class="button button-calm button-block">
                Done
            </button>
        </div>
    </ion-content>
</ion-view>