<ion-view hide-nav-bar="skipMenu" view-title="Track your {{primary_outcome_variable}}">
    <ion-content>
    	<div class="card primary_outcome_variable_reporting">
    		<div class="item item-text-wrap">
                <div>

                    <img ng-show="averagePrimaryOutcomeVariableImage" ng-src="{{averagePrimaryOutcomeVariableImage}}" class="top-left" alt="Depressed">
                    <div class="to_right">
                        <span ng-show="averagePrimaryOutcomeVariableValue" class="heading">{{factor_average_text}} {{averagePrimaryOutcomeVariableValue}}.</span>
                        <ul class="from_top">
<!--                           <li>We hope you feel great!</li>-->
                        </ul>
                    </div>
                </div>
                <div class="primary_outcome_variables" >
                    <p class="heading calm" style="padding:14px; text-align: center;">{{tracking_question}}</p>
                    <img ng-repeat="option in primaryOutcomeVariableRatingOptions"
                         ng-click="recordPrimaryOutcomeVariableRating(option.value)"
                         ng-src="{{option.img}}"
                            >
                </div>
                <div ng-show="timeRemaining">
                    <br/>
                    <ul>
                        <li>Thanks for reporting your {{primary_outcome_variable}}!</li>
                        <li ng-show="secondsLeft">You can report your {{primary_outcome_variable}} back in {{secondsLeft}} seconds</li>
                    </ul>
                </div>
    		</div>
    	</div>


    	<div ng-show="showCharts" class="card primary_outcome_variable_reporting_chart">
    		<div class="item item-text-wrap">
                <div style="height: 460px;" ng-show="isSyncing">
                    <div style="position: absolute;top:45%;text-align: center;width: 100%"><span>Still retrieving data. Check back soon.</span></div>
                </div>
                <div ng-if="redrawBarChart && !isSyncing">
                    <highchart id="chart1" config="barChartConfig"></highchart>    
                </div>
    
                <div ng-if="redrawLineChart && !isSyncing">
                    <highchart id="chart2" config="lineChartConfig"></highchart>    
                </div>
                
    		</div>
    	</div>
    </ion-content>
</ion-view>
