<ion-view hide-nav-bar="skipMenu" view-title="{{state.title}}">
    <ion-content>
        <div class="card" ng-show="state.showVariableSearchCard">
            <div ng-show="state.showTrackingHelpQuestion" class="item item-text-wrap">
                <div>
                    <div>
                        <!--<span class="heading calm">Track {{state.measurement.variableCategoryName}}</span>-->
                        <ul class="from_top">
                            <li>{{state.helpText}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="search_term"
                       ng-model-options="{ debounce: 500 }"
                       ng-change="search(search_term)"
                       id="track_search"
                       type="text"
                       placeholder={{state.trackFactorsPlaceholderText}}>
            </label>
            <p></p>
            <ion-list>
                <ion-item style="text-align:center;border-bottom: 1px solid rgb(221, 221, 221);" ng-show="state.loading">
                    <img src="img/loader.gif">
                </ion-item>
            </ion-list>

            <ion-list ng-show="state.variableSearchResults.length" class>
                <ion-item ng-click="selectVariable(item)" ng-repeat="item in state.variableSearchResults | orderBy:'-latestMeasurementTime' | limitTo:5 | unique:'id'  ">
                    <div>
                        <p style="font-size:18px; white-space: pre;">{{item.name}}</p>
<!--                        <p>{{item.latestMeasurementTime | fromNow}}</p>-->
                    </div>
                </ion-item>
            </ion-list>

            <ion-list ng-show="state.showAddVariableButton">
                <ion-item style="border-top: 1px solid rgb(221, 221, 221);" ng-click="add_variable()">
                    + Add a new {{state.variableCategoryObject.variableCategoryNameSingularLowercase | wordAliases}} variable
                </ion-item>
            </ion-list>
        </div>


    </ion-content>
</ion-view>