<ion-view hide-nav-bar="hideNavigationMenu" view-title="Upgrade">
    <div style="
            background-color: {{upgradePages[0].backgroundColor}};
            text-align: center;
            color: white;
            padding: 40px;
            height: 100%" >
        <div style="
             position: relative;
             top: 50%;
             transform: translateY(-50%);">
            <div class="button-bar">
                <button class="button button-light button-outline"
                        id="monthlyButton"
                        ng-click="monthlySubscription()">
                    &nbsp; $6.99/mo Monthly &nbsp;
                </button>
                <button class="button button-light button-outline"
                        id="annualButton"
                        ng-click="yearlySubscription()">
                    &nbsp; $4.99/mo Annually &nbsp;
                </button>
            </div>
            <div style="
                box-shadow: 2px 2px 5px #434343;
                margin: 0 auto;
                border-radius: 50%;
                width: 130px;
                height: 130px;
                background-color: {{upgradePages[0].circleColor}};
                ">
                <img style="
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        width:{{upgradePages[0].image.width}}px;
                        height:{{upgradePages[0].image.height}}px;"
                     ng-src="{{upgradePages[0].image.url}}">
            </div>
            <br>
            <p ng-click="upgradeRegister()" style="font-size: 30px; line-height: 1;">
                {{upgradePages[0].title}}
            </p>
            <br>
            <span ng-bind-html="upgradePages[0].bodyText"
                style="font-size: 16px; line-height: 1.5;">
            </span>
            <div ng-repeat="button in upgradePages[0].buttons" >
                <div class="button-bar">
                    <button class="button"
                            ng-hide="{{button.ngHideLogic}}"
                            style="background-color: {{upgradePages[0].backgroundColor}};
                                border: none;
                                outline: none;
                                color: white;
                                text-align: center"
                            id="{{button.id}}"
                            ng-click="{{button.clickFunctionCall}}">
                        <i class="{{button.buttonIconClass}}"> &nbsp; {{button.buttonText.toUpperCase()}} &nbsp;</i>
                    </button>
                </div>
            </div>
            <br>
            <div>
                <div class="button-bar">

                </div>
            </div>
            <div>
                <div class="button-bar">

                </div>
            </div>

            <div ng-hide="hideLearnMoreButton" >
                <div class="button-bar">
                    <button class="button"
                            style="background-color: {{upgradePages[0].backgroundColor}};
                                border: none;
                                outline: none;
                                color: white;
                                font-size: 12px;
                                text-align: center"
                            id="learnMoreButton"
                            ng-click="hideUpgradePage()">
                        &nbsp; LEARN MORE &nbsp;</i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</ion-view>
