<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
    <ion-content>
    
           <ion-list ng-show="state.variableSearchResults.length" class>
                <!--<ion-item ng-click="selectVariable(item)" ng-repeat="item in state.variableSearchResults | orderBy:'-latestMeasurementTime' | limitTo:5 | unique:'id'  ">-->
                <ion-item ng-click="selectVariable(item)" ng-repeat="item in state.variableSearchResults | filter:matchEveryWord() track by $index">
                    <div>
                        <p style="font-size:18px; white-space: pre;">{{item.name}}</p>
                        <p>{{item.latestMeasurementTime | fromNow}}</p>
                    </div>
                </ion-item>
            </ion-list>

            <ion-list ng-if="state.showAddVariableButton">
                <ion-item style="border-top: 1px solid rgb(221, 221, 221);" ng-click="addNewVariable()">
                    {{state.addNewVariableButtonText}}
                </ion-item>
            </ion-list>
        </div> -->
 

    </ion-content>
</ion-view>