<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
    <ion-content>
        <div ng-hide="state.loading" class="card variable-settings" >
            <div class="list">
                <div class="item item-divider ng-binding">Properties</div>
                    <!--FIXME Use this once variable aliasing is implemented-->
                    <!--
                        <div class="item item-input">
                            <span class="input-label left-span">Variable Alias:</span>
                            <span class="right-span"><input class="right-input" type="text" ng-model="state.userVariableAlias"></span>
                        </div>
                    -->
                    <label class="item item-content" style="padding: 6px 10px 5px 16px;">
                        <span class="input-label left-text">Variable Name</span>
                        <span class="input-label right-text " id="variableName">{{state.variableName}}</span>
                    </label>
                    <label class="item item-content" style="padding: 6px 10px 5px 16px;">
                        <span class="input-label left-text">Variable Category</span>
                        <span class="input-label right-text ">{{state.variableObject.variableCategoryName}}</span>
                    </label>
                    <label class="item item-content" style="padding: 6px 10px 5px 16px;" >
                        <span class="input-label left-text">Unit</span>
                        <span class="input-label right-text ">{{state.variableObject.unitName}}</span>
                    </label>
            

           <!--  <div class="card" >
                <div class="row">
                    <div class="col">
                        <button class="button button-block icon-left ion-android-cancel button-balanced" ng-click="resetToDefaultSettings()">Reset to Default Settings</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <button class="button button-block icon-left ion-android-cancel button-clear" ng-click="cancel()">Cancel</button>
                    </div> -->
                    <div class="col col-50">
                        <button class="button button-block icon-left ion-android-done button-balanced" ng-click="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>