<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
    <ion-content>

        <div class="card" >
            <div class="list">
                <label class="item item-input item-stacked-label" >
                    <span class="input-label">Variable Name</span>
                    <input type="text" ng-model="state.variableName" readonly id="variableName" placeholder="Variable name">
                </label>

                <label class="item item-input item-stacked-label" ng-if="!state.showCategoryAsSelector">
                    <span class="input-label">Variable Category</span>
                    <input type="text" ng-model="state.variableObject.category" readonly id="category_name" placeholder="Category name">
                </label>
            </div>
        </div>

        <div class="card" style="overflow: visible">
            <p class="heading positive" style="padding:14px;">Combination Method</p>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" ng-model="state.sumAvg" value="sum" name="group">
                        <div class="item-content">
                            Sum
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio">
                        <input type="radio" ng-model="state.sumAvg" value="avg" name="group">
                        <div class="item-content">
                            Average
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>

        <div class="row labeled-control" ng-if="(state.variableCategoryName != 'Emotions' && state.variableCategoryName != 'Symptoms')">
            <div class="col col-l">
                <span class="input-label">Unit</span>
            </div>
            <div class="col">
                <div class="row up-top" style="padding-left:0px;">
                    <div class="col" style="padding-top:5px;">

                        <!-- Lock to default unit when tracking measurement for existing variable-->
                        <span>{{state.variableObject.abbreviatedUnitName}}</span>

                    </div>

                </div>
            </div>
        </div>

        <div class="card" >
                    <button ng-click="cancel()" class="button button-assertive button-block">
                        Cancel
                    </button>
                    <button ng-click="done()" class="button button-positive button-block">
                        Done
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>