<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{state.title}}">
    <ion-content>
        <div class="card" ng-show="state.showVariableSearchCard">
            <div ng-show="state.showTrackingHelpQuestion" class="item item-text-wrap">
                <div>
                    <div>
                        <!--<span class="heading positive">Track {{state.measurement.variableCategoryName}}</span>-->
                        <ul class="from-top">
                            <li>{{state.helpText}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="state.variableSearchQuery"
                       ng-model-options="{ debounce: 500 }"
                       ng-change="onVariableSearch(variableSearchQuery)"
                       id="variableSearchBox"
                       type="search"
                       placeholder={{state.variableSearchPlaceholderText}}>
            </label>
            <p></p>
            <ion-list>
                <ion-item style="text-align:center;border-bottom: 1px solid rgb(221, 221, 221);" ng-show="state.searching">
                    <object data="../www/img/circular-loader.gif" type="image/png">
                        <!--Falling back to /img if /www/img isn't present because Heroku uses different root than mobile apps-->
                        <img src="../img/circular-loader.gif" />
                    </object>
                </ion-item>
            </ion-list>
            <ion-list ng-show="state.variableSearchResults.length" class>
                <!--<ion-item ng-click="selectVariable(item)" ng-repeat="item in state.variableSearchResults | orderBy:'-latestMeasurementTime' | limitTo:5 | unique:'id'  ">-->
                <ion-item ng-click="selectVariable(item)" ng-repeat="item in state.variableSearchResults track by $index  ">
                    <div>
                        <p style="font-size:18px; white-space: pre;">{{item.name}}</p>
<!--                        <p>{{item.latestMeasurementTime | fromNow}}</p>-->
                    </div>
                </ion-item>
            </ion-list>

            <ion-list ng-if="state.showAddVariableButton">
                <ion-item style="border-top: 1px solid rgb(221, 221, 221);" ng-click="addNewVariable()">
                    {{state.addNewVariableButtonText}}
                </ion-item>
            </ion-list>
        </div>


    </ion-content>
</ion-view>