<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{viewTitle}}">
<ion-content>

<div id="login-iframe">
</div>

<div ng-hide="hidePrimaryOutcomeVariableCard" class="card primary-outcome-variable-reporting">
	<div class="item item-text-wrap">
		<h1>Welcome to <span class="positive">{{viewTitle}}</span></h1>
		<ul>
			<li>{{welcomeText}}</li>
			<li>{{primaryOutcomeVariableTrackingQuestion}}</li>
		</ul>
	</div>
</div>

<div ng-hide="hidePrimaryOutcomeVariableCard" class="card primary-outcome-variable-reporting">
	<div class="item item-text-wrap">
		<div  class="primary-outcome-variable-rating-buttons">
            <img ng-repeat="option in positiveRatingOptions"
                 ng-click="storeRatingLocally(option.numericValue)"
                 ng-src="{{option.img}}"
            >
		</div>
	</div>
</div>

<div class="card reporting-interval" ng-show="showIntervalCard">
	<div class="item item-text-wrap">
		<h1 class="positive">Report Interval</h1>
		<ul>
			<li>A subtle notification and easy-to-use popup complement each other perfectly, ensuring you'll never forget to report your <span class="lower-text">{{primaryOutcomeVariable}}<span></li>
		</ul>
		<ul class="list">
			<li class="item item-input item-select">
				<div class="input-label">
					Ask for a rating
				</div>

				<div ng-hide="isIOS">
					<select ng-model="$parent.primaryOutcomeRatingFrequencyDescription">
						<option value="never">Never</option>
						<option value="hourly">Hourly</option>
						<option value="every three hours">Every three hours</option>
						<option value="twice a day">Twice daily</option>
						<option value="daily">Daily</option>
					</select>
				</div>
				<div ng-show="isIOS">
					<select ng-model="$parent.primaryOutcomeRatingFrequencyDescription">
						<option value="never">Never</option>
						<option value="hour">Hourly</option>
						<option value="day">Daily</option>
					</select>
				</div>
			</li>
			<li class="item item-checkbox checkbox-positive">
				<label class="checkbox">
					<input ng-model="$parent.subscribeNotification" type="checkbox">
				</label>
				Show Notifications
			</li>
		</ul>
		<button id="scheduleButton" class="button button-block button-positive" ng-click="saveIntervalAndGoToLogin(primaryOutcomeRatingFrequencyDescription)">
			Schedule
		</button>
        <button id="skipButton" class="button button-block button-assertive" ng-click="skipInterval()">
            Skip
        </button>
	</div>
</div>

</ion-content>
</ion-view>
