# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
node_modules/
platforms/android/
plugins/
!platforms/ios/platform_www/plugins
!platforms/ios/MoodiModo/Plugins
!platforms/ios/cordova/node_modules
www/lib/
!platforms/ios/www/lib/
!platforms/ios/www/plugins
chromeApps/*/www
www/private_configs/*.config.js
!www/private_configs/sample_private.config.js
chromeApps/zips/*.zip
.idea/
*.app.dSYM.zip
*.ipa
*.mobileprovision
!platforms/ios/www/lib/bugsnag/dist
android-sdk-linux/
android-sdk_r24.2-linux.tgz
scripts/certs/apple.cer
scripts/certs/dist.cer
scripts/certs/dist.p12
scripts/profile/028ab892-9a5e-4004-adac-b8472e760bdb.mobileprovision
resources/chrome_extension/www/
resources/chrome_app/www/
