# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
node_modules/
platforms/android/
platforms/ios/
plugins/
www/lib/
www/private_configs/*.config.js
.idea/
*.app.dSYM.zip
*.ipa
*.mobileprovision
!platforms/ios/www/lib/bugsnag/dist
android-sdk-linux/
android-sdk_r24.2-linux.tgz
scripts/certs/apple.cer
scripts/certs/dist.cer
scripts/certs/dist.p12
resources/android/
apps/moodimodo/resources/chrome_extension/www/
apps/moodimodo/resources/chrome_extension/www
*.psd
platforms/windows/
bld/
.vs/
.vagrant/
