
<ion-content>
 <div class="card">
	<div class="item item-text-wrap">
		<h3>Additional required ratings</h3>
		<hr/>
		<ul class="list">

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Guilty">
		     </label>
		     Guilty
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Alert">
		     </label>
		     Alert
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Excited">
		     </label>
		     Excited
		  </li>


		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Ashamed">
		     </label>
		     Ashamed
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Attentive">
		     </label>
		     Attentive
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Hostile">
		     </label>
		     Hostile
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Active">
		     </label>
		     Active
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Nervous">
		     </label>
		     Nervous
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Interested">
		     </label>
		     Interested
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Irritable">
		     </label>
		     Irritable
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Enthusiastic">
		     </label>
		     Enthusiastic
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Jittery">
		     </label>
		     Jittery
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Strong">
		     </label>
		     Strong
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Distressed">
		     </label>
		     Distressed
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Determined">
		     </label>
		     Determined
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Upset">
		     </label>
		     Upset
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Proud">
		     </label>
		     Proud
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Scared">
		     </label>
		     Scared
		  </li>

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="additionalRatings.Inspired">
		     </label>
		     Inspired
		  </li>
		</ul>
		
		<button class="button button-block button-positive" ng-click="init();additionalRatingPopover.hide();">
			Cancel
		</button>
	  	<button class="button button-block button-positive" ng-click="saveAddRatings();">
	  		Save
	  	</button>
	</div>
</div>

</ion-content>
