<md-card id="card" >
    <md-card-header id="card-header">
        <md-card-avatar ng-if="card.avatar" id="card-avatar"><img ng-src="{{card.avatar}}"/></md-card-avatar>
        <md-card-avatar ng-if="card.avatarCircular" id="card-avatar"><img class="md-user-avatar" ng-src="{{card.avatarCircular}}"/></md-card-avatar>
        <md-card-header-text id="card" ng-if="card.headerTitle || card.subHeader">
            <span id="headerTitle" class="md-title" ng-if="card.headerTitle">{{card.headerTitle}}</span>
            <span id="subHeader" class="md-subhead" ng-if="card.subHeader">{{card.subHeader}}</span>
        </md-card-header-text>
        <md-button class="md-icon-button" id="more-button" ng-if="card.actionSheetButtons" style="right: 0;" ng-click="state.openActionSheet(card)">
            <i style="font-size: 24px;" class="icon ion-android-more-vertical"></i>
        </md-button>
    </md-card-header>
    <img id="image" ng-src="{{card.image}}" class="md-card-image" alt="{{card.title}}" ng-if="card.image">
    <md-card-title id="card" ng-if="card.title || card.subTitle">
        <md-card-title-text id="title-text">
            <span id="title" class="md-headline" ng-if="card.title">{{card.title}}</span>
            <span id="subTitle" class="md-subhead" ng-if="card.subTitle">{{card.subTitle}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions id="actions" layout-align="center center" style="text-align: center;" ng-if="card.buttons">
        <md-button id="{{button.id}}" ng-repeat="button in card.buttons"  aria-label="{{button.text || button.title || button.id}}"
                   ng-click="state.cardButtonClick(card, button)">
            <span ng-bind-html="trustAsHtml(button.html)"></span>
        </md-button>
    </md-card-actions>
    <md-content layout-padding ng-if="card.inputFields" ng-repeat="inputField in card.inputFields">
        <form name="cardForm" ng-if="inputField.show" layout layout-align="center" layout-padding>
            <div layout="row" flex>
                <span flex="10" style="margin-top: 30px;" ng-if="inputField.labelLeft"> &nbsp {{inputField.labelLeft}}</span>
                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                <md-input-container flex class="md-icon-float md-block md-title">
                    <label>{{inputField.displayName}}</label>
                    <input required type="{{inputField.type}}" step="{{inputField.step}}" name="{{inputField.key}}" ng-model="inputField.submitButton.parameters.value"
                           min="{{inputField.minValue}}"  max="{{inputField.maxValue}}" ng-pattern="{{inputField.validationPattern}}" />
                </md-input-container>
                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                <span flex="10" style="margin-top: 30px;" ng-if="inputField.labelRight"> &nbsp {{inputField.labelRight}}</span>
                <md-button flex="20" style="max-height: 40px;" ng-click="state.cardButtonClick(card, inputField.submitButton)">
                    Record {{inputField.submitButton.parameters.value}}
                </md-button>
            </div>
        </form>
    </md-content>
    <md-card-content id="content" ng-if="card.content">
        <p> {{card.content}} </p>
    </md-card-content>
</md-card>
