<md-card id="card" >
    <md-card-header id="card-header">
        <md-card-avatar ng-if="card.avatar" id="card-avatar">
            <img class="md-user-avatar" ng-src="{{card.avatarCircular}}" ng-if="card.avatarCircular"/>
            <img ng-src="{{card.avatar}}" ng-if="card.avatar"/>
        </md-card-avatar>
        <md-card-header-text id="card" ng-if="card.headerTitle || card.subHeader">
            <span id="headerTitle" class="md-title" ng-if="card.headerTitle">{{card.headerTitle}}</span>
            <span id="subHeader" class="md-subhead" ng-if="card.subHeader">{{card.subHeader}}</span>
        </md-card-header-text>
        <md-button class="md-icon-button" id="more-button" ng-if="card.actionSheetButtons" style="right: 0;" ng-click="state.openActionSheet(card)">
            <i style="font-size: 24px;" class="icon ion-android-more-vertical"></i>
        </md-button>
    </md-card-header>
    <img id="image" ng-src="{{card.image}}" class="md-card-image" alt="{{card.title}}" ng-if="card.image">
    <md-card-title id="card" ng-if="card.title || card.subTitle">
        <md-card-title-text id="title-text">
            <span id="title" class="md-headline" ng-if="card.title">{{card.title}}</span>
            <span id="subTitle" class="md-subhead" ng-if="card.subTitle">{{card.subTitle}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions id="actions" layout-align="center center" style="text-align: center;">
        <md-button id="button" ng-repeat="button in card.buttons" ng-if="card.buttons" ng-click="state.cardButtonClick(card, button)">
            <span ng-bind-html="trustAsHtml(button.html)"></span>
        </md-button>
    </md-card-actions>
    <md-card-content id="content" ng-if="card.content">
        <p>
            {{card.content}}
        </p>
    </md-card-content>
</md-card>
