<ion-view hide-nav-bar="false" view-title="Chit Chat">
    <ion-content scroll="true" overflow-scroll="true">
        <div id="splash-screen" class="splash-wrapper" style="width: 100%; position: absolute; height: 100%;">
            <div class="splash-grid"></div>
        </div>
        <div ng-include="'templates/card.html'" style="z-index: 30; position: absolute; width:100%;" ng-repeat="card in state.cards"></div>

<!--        <canvas id="rainbow-canvas" style="position: absolute; z-index: 4; display: block; opacity: 1;  pointer-events: none; background-color: transparent;"></canvas>-->

<!--        <div id="mic-input-field-container" class="animated-microphone-input-container">
        &lt;!&ndash;<div id="mic-input-field-container" class="{'animated-microphone-input-container': state.listening, 'animated-microphone-input-container-disabled: !state.listening">&ndash;&gt;
            <form ng-submit="state.userReply()" flex="">
                <input type="text" placeholder="{{state.lastBotMessage}}" ng-model="state.userInputString">
                <div id="mic-input-field-button" class="animated-microphone-input-search" ng-click="state.toggleMicrophone()">
                    <img ng-if="!state.listening" src="img/micoff.png" style="position: absolute; margin: auto; top: 24px; left: 23px;" alt="">
                    <img ng-if="state.listening" src="img/micon.png" style="position: absolute; margin: auto; top: 24px; left: 23px;" alt="">
                </div>
            </form>
        </div>-->
        <!--            <md-autocomplete
                    ng-disabled="state.isDisabled"
                    md-no-cache="state.noCache"
                    md-selected-item="state.selectedItem"
                    md-search-text-change="state.searchTextChange(state.searchText)"
                    md-search-text="state.searchText"
                    md-selected-item-change="state.selectedItemChange(item)"
                    md-items="item in state.querySearch(state.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="What is your favorite US state?">
                <md-item-template>
                    <span md-highlight-text="state.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{state.searchText}}" were found.
                    <a ng-click="state.newState(state.searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>-->
<!--        <div ng-if="state.visualizationType === 'equalizer'">
            <svg preserveAspectRatio="none" id="visualizer" class="equalizer-svg" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <mask id="mask"><g id="maskGroup"></g></mask>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1" />
                        <stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1" />
                        <stop offset="90%" style="stop-color:#d923b9;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#050d61;stop-opacity:1" />
                    </linearGradient>
                </defs>
                <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
            </svg>
            <div class="equalizer-h1">Please allow the use of your microphone so I can hear you!</div>
        </div>-->

<!--        <div ng-if="false && state.searchBox" class="microphone-search-wrapper">
            <input type="text" class="microphone-search" placeholder="Enter a Keyword, Phrase, or Question..." />
            <div class="microphone-search-anim">
                <div class="microphone-search-circle inner"> <i class="material-icons">settings_voice</i> </div>
                <div class="microphone-search-circle outer"> </div>
            </div>
        </div>-->
<!--        <iframe ng-if="state.dialogFlow" style="height: 100%; width: 100%;"
                data-tap-disabled="true"
                frameborder="0"
                allow="microphone;"
                src="https://console.dialogflow.com/api-client/demo/embedded/6c71b4a4-4770-45a9-b8b3-dd34bbbb61c7">
        </iframe>-->
        <div ng-if="state.chat">
            <div layout="row" flex>
                <md-content style="background-color: #DCDCDC;" id="chat-content">
                    <md-list>
                        <md-list-item ng-repeat="message in state.messages" style="margin-top: 8px; margin-bottom: 8px;">
                            <div flex-order="{{message.user ? 2 : 0}}" layout="column" layout-align="center center" class="md-caption">
                                <img layout="row" style="margin-right: 3px;" ng-src="{{message.avatar}}"
                                     class="md-avatar"/>
                                <div style="text-align: center; color: #5F5F5F;">
                                    {{message.name}}
                                </div>
                            </div>
                            <div flex-order = "1"
                                 style="background-color: white; padding: 10px; border-radius: 5px;"
                                 layout-fill>
                                {{message.text}}
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <form layout="row" style="padding: 20px; bottom: 0; position: absolute; z-index: 40; background-color: white; width: 100%;"
                  ng-submit="state.userReply(state.userInputString)" autocomplete="off">
                <md-input-container flex layout-align="center" layout-fill>
                    <label>What do you want to say?</label>
                    <input type="text" ng-model="state.userInputString"/>
                </md-input-container>
            </form>
        </div>>
    </ion-content>
</ion-view>
