<ion-view hide-nav-bar="false" view-title="Chit Chat">
    <ion-content scroll="true" overflow-scroll="true" style="{{state.bodyCss}}">
        <div ng-if="state.visualizationType === 'equalizer'">
            <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>

                    <mask id="mask">
                        <g id="maskGroup">
                        </g>
                    </mask>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1" />
                        <stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1" />
                        <stop offset="90%" style="stop-color:#d923b9;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#050d61;stop-opacity:1" />
                    </linearGradient>
                </defs>
                <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
            </svg>
            <h1>Please allow the use of your microphone so I can hear you!</h1>
        </div>
        <div ng-if="true || state.robot" class="robot">
            <div class="robot">
                <div class="neck"></div>
                <div class="arms">
                    <div class="arm arm_left"></div>
                    <div class="arm arm_right"></div>
                </div>
                <div class="torso"></div>
                <div class="head">
                    <div class="eyes">
                        <div class="eyeball eyeball_left"></div>
                        <div class="eyeball eyeball_right"></div>
                    </div>
                    <div class="mouth">
                        <div class="mouth-container">
                            <div class="mouth-container-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
                <defs>
                    <!-- Low -->
                    <filter id="low-0">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="0"/>
                        <feDisplacementMap id="displacement"
                                           in="SourceGraphic"
                                           in2="noise"
                                           scale="1" />
                    </filter>
                    <filter id="low-1">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="30"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="1.5" />
                    </filter>
                    <filter id="low-2">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="2"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="1" />
                    </filter>
                    <filter id="low-3">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="30"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="1.5" />
                    </filter>
                    <filter id="low-4">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.1"
                                      numOctaves="3"
                                      result="noise"
                                      seed="4"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="0.5" />
                    </filter>
                    <!-- Listening -->
                    <filter id="listening-0">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="0"/>
                        <feDisplacementMap id="displacement"
                                           in="SourceGraphic"
                                           in2="noise"
                                           scale="2" />
                    </filter>
                    <filter id="listening-1">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="30"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="3" />
                    </filter>
                    <filter id="listening-2">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="2"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="2" />
                    </filter>
                    <filter id="listening-3">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="30"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="3" />
                    </filter>
                    <filter id="listening-4">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.1"
                                      numOctaves="3"
                                      result="noise"
                                      seed="4"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="1" />
                    </filter>
                    <!-- Speaking -->
                    <filter id="speaking-0">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="0"/>
                        <feDisplacementMap id="displacement"
                                           in="SourceGraphic"
                                           in2="noise"
                                           scale="12" />
                    </filter>
                    <filter id="speaking-1">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="30"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="13" />
                    </filter>
                    <filter id="speaking-2">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="2"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="12" />
                    </filter>
                    <filter id="speaking-3">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.02"
                                      numOctaves="3"
                                      result="noise"
                                      seed="30"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="13" />
                    </filter>
                    <filter id="speaking-4">
                        <feTurbulence id="turbulence"
                                      baseFrequency="0.1"
                                      numOctaves="3"
                                      result="noise"
                                      seed="4"/>
                        <feDisplacementMap in="SourceGraphic"
                                           in2="noise"
                                           scale="11" />
                    </filter>
                </defs>
            </svg>
        </div>
        <canvas id="canvas" ng-if="state.visualizationType === 'siri'" style="position: absolute; top: 50%; transform: translateY(-50%); width: 100%; height: 400px;"></canvas>
        <canvas id="rainbow-canvas" ng-if="state.visualizationType === 'rainbow'" style="position: absolute; z-index: -1"></canvas>
        <div ng-if="state.searchBox" class="search-wrapper">
            <input type="text" class="search" placeholder="Enter a Keyword, Phrase, or Question..." />
            <div class="anim">
                <div class="circle inner">
                    <i class="material-icons">settings_voice</i>
                </div>
                <div class="circle outer">
                </div>
            </div>
        </div>
        <div ng-if="state.trackingReminderNotification && !state.trackingReminderNotification.hide"
              ng-init="trackingReminderNotification = state.trackingReminderNotification"
             style="position: absolute; top: 25%; margin-left: auto; margin-right: auto;">
            <div layout-fill layout="column" layout-align="center none">
                <div layout="row" layout-align="center none">
                    <md-card>
                        <md-card-content>
                            <div ng-include="'templates/items/notification-item.html'"></div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <iframe ng-if="state.dialogFlow" style="height: 100%; width: 100%;"
                data-tap-disabled="true"
                frameborder="0"
                allow="microphone;"
                src="https://console.dialogflow.com/api-client/demo/embedded/6c71b4a4-4770-45a9-b8b3-dd34bbbb61c7">
        </iframe>
        <div ng-if="state.chat">
            <div class="chat ng-scope layout-column flex" layout="column" flex="" style="">
                <md-toolbar class="chat-toolbar _md md-default-theme _md-toolbar-transitions">
                    <div class="md-toolbar-tools">
                        <button class="hide-gt-md responsive-chats-button md-icon-button md-button md-default-theme md-ink-ripple"
                                type="button" aria-label="chats button">
                            <ng-md-icon icon="hangouts" style="fill: white;" ></ng-md-icon>
                        </button>
                        <div class="chat-contact layout-align-start-center layout-row" layout="row"
                             layout-align="start center" role="button">
                            <div class="avatar-wrapper"><img ng-src="img/robots/robot-head.svg" class="avatar" alt="Dr. Modo" src="img/robots/robot-head.svg"></div>
                            <div class="chat-contact-name ng-binding">Talk to Dr. Modo</div>
                        </div>
                    </div>
                </md-toolbar>
                <md-content id="chat-content" flex="" ms-scroll=""
                            class="ms-scroll _md md-default-theme flex ps-container ps-theme-default ps-active-y"
                            data-ps-id="449fae8b-d0f3-59a8-6640-8203fd955d43">
                    <div layout="row" ng-repeat="dialog in state.messages" class="md-padding message-row ng-scope {{dialog.who}} layout-row" ng-class="dialog.who">
                        <img ng-if="dialog.who === 'bot'" ng-src="img/robots/robot-head.svg" class="avatar ng-scope"
                             alt="Dr. Modo" src="img/robots/robot-head.svg">
                        <img ng-if="dialog.who === 'user'" class="avatar ng-scope" ng-src="{{user.avatarImage}}" src="{{user.avatarImage}}">
                        <div class="bubble">
                            <div class="message ng-binding">{{dialog.message}}</div>
                            <!--<div class="time secondary-text ng-binding">05/02/2016</div>-->
                        </div>
                    </div>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -386px;">
                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 386px; height: 683px; right: 0px;">
                        <div class="ps-scrollbar-y" tabindex="0" style="top: 245px; height: 438px;"></div>
                    </div>
                </md-content>
                <div class="chat-footer flex-noshrink layout-align-center-center layout-row" layout="row"
                     layout-align="center center">
                    <form ng-submit="state.userReply()" flex=""
                          class="reply-form ng-valid layout-align-start-center layout-row flex ng-dirty" layout="row"
                          layout-align="start center" style="">
                        <md-input-container flex="" md-no-float="" class="md-input-has-placeholder md-default-theme flex">
                            <div class="md-resize-wrapper">
                            <textarea ng-keyup="state.userReply($event)" md-no-autogrow="" ng-model="state.replyMessage"
                                      ng-class="{'grow': state.textareaGrow}" placeholder="Type and hit enter to send message"
                                      translate="" translate-attr-placeholder="CHAT.REPLY_PLACEHOLDER"
                                      class="ng-valid ng-scope md-input ng-touched ng-dirty ng-empty" id="input_33"
                                      aria-invalid="false"
                                      style="z-index: auto; position: relative; line-height: 26px; font-size: 16px; transition-duration: initial; transition-timing-function: initial; transition-property: none; background: transparent !important;"> </textarea>
                                <div class="md-resize-handle" style="touch-action: pan-x;"></div>
                            </div>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                        <button class="md-fab md-button ng-scope md-default-theme md-ink-ripple" type="submit"
                                aria-label="Send message" translate="" translate-attr-aria-label="CHAT.SEND_MESSAGE">
                            <ng-md-icon icon="send" style="fill: white; line-height: unset;" ></ng-md-icon>
                        </button>
                    </form>
                </div>
            </div>


        </div>

    </ion-content>
</ion-view>
