<ion-view hide-nav-bar="hideNavigationMenu" view-title="Import Data">
    <ion-content scroll="true" overflow-scroll="true" ng-class="{ isBrowserView : platform.isWeb == true }">
        <ion-refresher on-refresh="refreshConnectors()"></ion-refresher>
        <div class="card" ng-show="showImportHelpCard" id="importHelpCard" >
            <div class="item item-avatar item-borderless">
                <i class="icon positive ion-ios-cloud-download-outline" style="position: absolute;
							top: 15px;
							left: 15px;
							font-size: 36px;
							max-width: 40px;
							max-height: 40px;
							width: 100%;
							border-radius: 4px;"></i>
                <p style=" text-align: center; height: 40px; line-height: 40px; white-space: nowrap; color: black; font-size: 18px;"> Import Your Data </p>
            </div>
            <div class="item item-body item-borderless" style="text-align: center;">
                Scroll down and press Connect for any apps or device you currently use.  Once you're finished, press the Done bar at the bottom.
            </div>
            <div class="row" >
                <div class="button-bar">
                    <button class="button button-clear button-assertive" style="font-size: 14px;" id="hideImportHelpCardButton" ng-click="hideImportHelpCard()">
                        <i class="ion-checkmark"> &nbsp; Got it! &nbsp;</i>
                    </button>
                </div>
            </div>
            <br>
        </div>
        <div class="card" ng-show="!state.connectors" style="border-radius: 15px;">
            <div class="item" > <div class="row"><ion-spinner></ion-spinner> <p style=" text-align: center; line-height: normal; font-size: 18px;">&nbsp &nbsp Loading services...</p></div> </div>
        </div>
        <div ng-if="state.connectors" class="list">
            <div ng-include="'templates/input/filter-search-field.html'"></div>
            <div ng-include="'templates/fragments/connectors-fragment.html'"></div>
        </div>
<!--        <div id="import-iframe" ng-if="!platform.isMobile">
        </div>-->
        <!-- <iframe id="import-iframe" data-tap-disabled="true" style="height:800px;width:100%;" frameborder="0" onload="window.closeLoading();"></iframe> -->
    </ion-content>
    <div ng-click="goBack()" ng-if="hideNavigationMenu" style="cursor:pointer;" class="bar bar-footer bar-balanced">
        <div class="title"><i class="icon ion-reply"></i>Done connecting data sources</div>
    </div>
    <div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
