<ion-view hide-nav-bar="hideNavigationMenu" view-title="Add Reminder">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true" style="background-color: #f2f2f2" ng-class="{ isBrowserView : isWeb == true }">
        <div class="list card" id="reminderAddCard">
            <div class="item item-divider">{{state.trackingReminder.variableName}} Settings</div>
            <!--<label class="item item-input item-select" ng-if="state.showAddVariableCard && !state.trackingReminder.variableCategoryName">-->
            <label class="item item-input item-select" ng-if="state.showAddVariableCard">
                <div class="input-label" style="white-space:normal; width: 60%">Select Category</div>
                <select id="variableCategorySelector" ng-model="state.trackingReminder.variableCategoryName"
                        ng-options="variableCategoryName as variableCategoryName for variableCategoryName in state.variableCategoryNames"
                        ng-change="variableCategorySelectorChange(state.trackingReminder.variableCategoryName)">
                </select>
            </label>
            <label ng-if="!state.hideDefaultValueField" class="item item-input">
				<span class="input-label left-span" on-tap="showExplanationsPopup('Default Value')">{{state.defaultValueLabel}} <i class="icon ion-help-circled"></i></span>
                <input type="number" ng-model="state.trackingReminder.defaultValue" id="defaultValue" placeholder={{state.defaultValuePlaceholderText}} >
            </label>
            <label id="unitSelectorBlock" class="item item-input item-select" ng-if="!state.hideDefaultValueField">
                <div class="input-label">Unit</div>
                <select id="unitSelector" ng-model="state.trackingReminder.unitAbbreviatedName"
                        ng-options="unit.abbreviatedName as unit.name for unit in state.units" ng-change="unitSelected()"> </select>
            </label>
            <label class="item item-input item-select" ng-if="!stateParams.favorite">
                <div class="input-label">Frequency</div>
                <select id="frequencySelector" ng-model="state.selectedFrequencyName" ng-change="frequencySelected()"><option ng-repeat="frequency in variables.frequencyVariables">{{frequency.name}}</option></select>
            </label>
            <label class="item item-input" ng-hide="state.trackingReminder.reminderFrequency < 86400" ><div class="reminder-row row">
                <div class="col"><div class="input-label" >Reminder time</div></div></div>
                <div class="col-6">
<!--                    <input style="cursor: pointer; background-color: white" mdc-datetime-picker="" date="false"
                           time="true" type="text" id="materialFirstReminderStartTime" short-time="true" placeholder="Time"
                           min-date="minDate" format="h:mm a" ng-model="state.firstReminderStartTimeMoment" class="md-input reminder-time">-->
                    <mdp-time-picker mdp-auto-switch="true" ng-model="state.firstReminderStartTimeMoment"></mdp-time-picker>
                </div>
            </label>
            <label ng-hide="true || state.trackingReminder.reminderFrequency < 86400" class="item item-input">
                <div class="input-label">Reminder time</div>
                <md-button id="oldFirstReminderStartTime" class="button button-block up-top reminder-time" ng-click="oldOpenReminderStartTimePicker('first')"
                        style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;">
                    {{state.firstReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                </md-button>
            </label>
            <label ng-show="state.secondReminderStartTimeEpochTime && state.trackingReminder.reminderFrequency >= 86400" class="item item-input">
                <div class="reminder-row row"><div class="col"><div class="input-label" >2nd reminder time</div></div></div>
                <div class="col-6">
                    <mdp-time-picker mdp-auto-switch="true" ng-model="state.secondReminderStartTimeMoment"></mdp-time-picker>
<!--                    <input style="cursor: pointer; background-color: white" mdc-datetime-picker="" date="false" time="true" type="text"
                           id="materialSecondReminderStartTime" short-time="true" placeholder="Time"
                           min-date="minDate" format="h:mm a" ng-model="state.secondReminderStartTimeMoment"
                           class=" md-input reminder-time">-->
                </div>
            </label>
            <label ng-hide="true || state.trackingReminder.reminderFrequency < 86400" class="item item-input">
                <div class="input-label" >2nd reminder time</div>
                <md-button id="oldSecondReminderStartTime" class="button button-block up-top reminder-time" ng-click="oldOpenReminderStartTimePicker('second')"
                        style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px; padding-left: 0px;">
                    {{state.secondReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                </md-button>
            </label>
            <label ng-show="state.thirdReminderStartTimeEpochTime && state.trackingReminder.reminderFrequency >= 86400" class="item item-input">
                <div class="reminder-row row"><div class="col"><div class="input-label" >3nd reminder time</div></div></div>
                <div class="col-6">
                    <mdp-time-picker mdp-auto-switch="true" ng-model="state.thirdReminderStartTimeMoment"></mdp-time-picker>
<!--                    <input style="cursor: pointer; background-color: white" mdc-datetime-picker="" date="false" time="true" type="text"
                           id="materialThirdReminderStartTime" short-time="true" placeholder="Time"
                           min-date="minDate" format="h:mm a"
                           ng-model="state.thirdReminderStartTimeMoment" class="md-input reminder-time">-->
                </div>
            </label>
            <label ng-hide="true || state.trackingReminder.reminderFrequency < 86400" class="item item-input">
                <div class="input-label" >3nd reminder time</div>
                <md-button id="oldThirdReminderStartTime" class="button button-block up-top reminder-time" ng-click="oldOpenReminderStartTimePicker('third')"
                        style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;">
                    {{state.thirdReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                </md-button>
            </label>
            <label id="oldAdditionalTimeButton" ng-hide="true" ng-click="oldShowAdditionalReminderTime()" class="item icon-left ion-clock">
            </label>
            <label id="additionalTimeButton" ng-hide="state.hideAdditionalReminderTimeButton || state.trackingReminder.reminderFrequency < 86400" ng-click="showAdditionalReminderTime()" class="item icon-left ion-clock">
				<span>&nbsp;Add additional time</span>
            </label>
            <div id="valenceSelectorBlock" class="item" ng-if="state.trackingReminder.unitAbbreviatedName === '/5' && (state.showMoreOptions || !state.trackingReminder.valence)">
                Higher {{state.trackingReminder.variableName}} is
                <md-radio-group ng-model="state.trackingReminder.valence" layout="row" style="float: right">
                    <md-radio-button value="positive" class="md-primary"> good </md-radio-button>
                    <md-radio-button value="negative"> bad </md-radio-button>
                </md-radio-group>
            </div>
            <div class="margin-bottom-0" ng-if="!state.showMoreOptions" >
                <div class="row" ng-click="showMoreOptions()"><label class="item icon-left ion-gear-a more-options-padding">&nbsp;More options...</label></div>
            </div>
            <div ng-if="state.showMoreOptions" class="row labeled-control date-fix">
                <div class="col date-padding-fix"><span>Start</span>&nbsp<i class="ion-android-cancel" ng-click="state.selectedStartTrackingDate = null;" ng-if="state.selectedStartTrackingDate"></i></div>
                <div class="col-6 date-padding-fix">
                    <input time="false" date="true" mdc-datetime-picker type="text" id="selectedStartTrackingDate"
                           placeholder="Select Date" style="cursor: pointer;  background-color: white;"
                           format="ddd, MMM Do YYYY" ng-model="state.selectedStartTrackingDate">
                </div>
            </div>
            <div ng-if="state.showMoreOptions" class="row labeled-control date-fix">
                <div class="col date-padding-fix"><span>End</span>&nbsp
                    <i class="ion-android-cancel" ng-click="state.selectedStopTrackingDate = null;" ng-if="state.selectedStopTrackingDate"></i>
                </div>
                <div class="col-6 date-padding-fix">
                    <input time="false" date="true" mdc-datetime-picker type="text" id="selectedStopTrackingDate"
                           placeholder="Select Date" style="cursor: pointer;  background-color: white;"
                           format="ddd, MMM Do YYYY" ng-model="state.selectedStopTrackingDate">
                </div>
            </div>
            <label class="item item-input" ng-show="state.showInstructionsField && state.showMoreOptions">
                <span class="input-label">Instructions</span>
                <input type="text" ng-model="state.trackingReminder.instructions" id="instructions" placeholder="Enter instructions here..." >
            </label>
            <div class="button-row-margin row">
                <div class="col col-50">
                    <md-button id="cancelButton" class="button" ng-click="goBack()">
                        <md-button class="md-fab" aria-label="Cancel">
                            <md-icon style="font-size: 20px;" md-font-icon="ion-close-round" class="ion-close-round"></md-icon>
                        </md-button>
                        <span style="color: black;"> &nbsp &nbsp Cancel &nbsp &nbsp</span>
                    </md-button>
                </div>
                <div class="col col-50">
                    <md-button id="saveButton" class="button" ng-click="save()">
                        <md-fab-progress icon="'file_upload'" icon-done="'check'" value="value" do-action="resetSaveAnimation()"></md-fab-progress>
                        <span style="color: black;"> &nbsp &nbsp Save &nbsp &nbsp</span>
                    </md-button>
                </div>
            </div>
            <div class="row" ng-if="state.trackingReminder && state.trackingReminder.id" >
                <div class="col">
                    <md-button ng-click="deleteReminder()" class="button button-outline button-block icon-left ion-trash-a button-assertive">Delete</md-button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
