<ion-view hide-nav-bar="hideNavigationMenu" view-title="Study">
    <ion-nav-title>Study</ion-nav-title>
        <ion-content scroll="{ isBrowserView : isWeb == false }" overflow-scroll="true" ng-class="{ isBrowserView : isWeb == true }">
            <ion-refresher on-refresh="refreshStudy()"></ion-refresher>
            <div ng-if="!state.study && !state.studyNotFound">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                <div style="max-width: 600px; display:block; margin:auto;" ng-include="'templates/loaders/blue-robot-loader.html'"></div>
                <div class="bottom-block"> <h1 style="text-align: center;">Analyzing data...</h1> </div>
            </div>
            <div ng-cloak ng-show="state.study" class="item-text-wrap card-item" style="border-style:hidden; text-align: center"><br>
                <h2 id="predictorExplanation">{{state.study.studyText.studyTitle}}</h2><br>
                <img style="max-height: 200px" ng-src="{{state.study.studyImages.gaugeImage}}"><br>
<!--                        Doesn't look right yet
                <img ng-src="{{state.study.causeVariableImageUrl}}">
                <img ng-src="{{state.study.effectVariableImageUrl}}">-->
                <div ng-include="'templates/fragments/study-excerpt-fragment.html'"></div>
                <div ng-include="'templates/fragments/correlation-buttons-fragment.html'"></div><br>
                <h3 id="studyAbstractTitle">Study Abstract</h3>
                <p id="studyAbstractBody" style="padding: 5px;">{{state.study.studyText.studyAbstract}}</p><br>
                <div ng-hide="user && state.study.userId === user.id" class="row">
                    <div class="col">
                        <button class="button button-outline button-block icon-left ion-ios-people button-positive" id="joinStudyButton" ng-click="joinStudy(state.study.statistics)">
                            Join this Study
                        </button>
                    </div>
                </div>
                <div id="causeSettingsButton" ng-show="state.study.userId && user && state.study.userId === user.id" class="row">
                    <div class="col">
                        <button class="button button-outline button-block icon-left {{state.study.studyImages.causeVariableIonIcon}} button-positive"
                                id="predictorVariableSettingsButton" ng-click="goToVariableSettingsForCauseVariable(state.study.statistics)">
                            {{state.requestParams.causeVariableName}} Settings
                        </button>
                    </div>
                </div>
                <div id="effectSettingsButton" ng-show="state.study.userId && user && state.study.userId === user.id" class="row">
                    <div class="col">
                        <button class="button button-outline button-block icon-left {{state.study.studyImages.effectVariableIonIcon}} button-positive"
                                id="outcomeVariableSettingsButton" ng-click="goToVariableSettingsForEffectVariable(state.study.statistics)">
                            {{state.requestParams.effectVariableName}} Settings
                        </button>
                    </div>
                </div>
                <div id="publicStudyToggle"
                     ng-show="state.study.userId && user && state.study.userId === user.id"
                     class="card sign-in" >
                    <ion-toggle ng-model="state.study.statistics.shareUserMeasurements" ng-change="toggleStudyShare(state.study.statistics)">
                        <i ng-if="!state.study.statistics.shareUserMeasurements" class="icon ion-locked">&nbsp Study is Private</i>
                        <i ng-if="state.study.statistics.shareUserMeasurements" class="icon ion-unlocked">&nbsp Study is Public</i>
                    </ion-toggle>
                    <!--TODO: Add clipboard plugin for mobile-->
                    <label ng-click="copyStudyUrlToClipboard()" class="item item-content" ng-if="!isMobile && state.study.studyLinks.shareUserMeasurements === true && state.study.studyLinkStatic">
                        <i class="icon ion-clipboard"> &nbsp {{copyLinkText}}</i>
                    </label>
                </div>
                <div ng-show="loadingCharts" style="text-align: center"> <br> <ion-spinner icon="android"></ion-spinner> <br> <br> <br> </div>
                <div id="studyCharts">
                    <div ng-repeat="chart in state.study.charts" ng-if="chart.highchartConfig">
                        <h2>{{chart.chartTitle}}</h2>
                        <highchart id="{{chart.chartId}}" config="chart.highchartConfig"></highchart>
                        <p ng-if="chart.explanation">{{chart.explanation}}</p>
                        <br>
                    </div>
                </div>
                <div id="studyBody" style="padding-left: 20px; padding-right: 20px;">
                    <h3 ng-if="causeWikiEntry || effectWikiEntry || state.study.studyText.studyBackground" id="studyBackground"> Study Background </h3>
                   <p ng-bind-html="state.study.studyText.studyBackground" ng-if="state.study.studyText.studyBackground" style="text-align: justify"> <br> </p>
                    <div>
                        <div ng-if="causeWikiImage" style="width: 100%"> <img hspace="20" style="float:right; padding: 5px" ng-show="causeWikiImage" ng-src="{{causeWikiImage}}" > </div>
                        <div ng-if="causeWikiEntry"> <p ng-bind-html="causeWikiEntry" style="text-align: left"></p> </div>
                    </div>
                    <div>
                        <div ng-if="effectWikiImage" style="width: 100%"> <img hspace="20" style="float:right; padding: 5px" ng-show="effectWikiImage" ng-src="{{effectWikiImage}}" > </div>
                        <div ng-if="effectWikiEntry"> <p ng-bind-html="effectWikiEntry" style="text-align: left"></p> </div>
                    </div>
                    <h3 ng-show="state.study.studyText.studyObjective" id="studyObjective">Study Objective</h3>
                       <p style="text-align: justify;" >{{state.study.studyText.studyObjective}}</p>
                    <h3 ng-show="state.study.studyText.studyDesign" id="studyDesign">Study Design</h3>
                       <p style="text-align: justify;" >{{state.study.studyText.studyDesign}}</p>
                    <h3 ng-show="state.study.studyText.dataAnalysis" id="dataAnalysis">Data Analysis</h3>
                       <p style="text-align: justify;" >{{state.study.studyText.dataAnalysis}}</p>
                    <h3 ng-show="state.study.studyText.dataSourcesParagraphForCause" id="causeDataSources">{{state.requestParams.statistics}} Data Sources</h3>
                       <p style="text-align: justify;"  ng-bind-html="state.study.studyText.dataSourcesParagraphForCause"></p>
                    <div style="display:block; margin: 0 auto;" ng-show="state.dataSourceImageForCause">
                        <a href="{{state.dataSourceUrlForCause}}">
                            <img style="max-width: 100px;" title="dataSourceImageForCause"
                                 ng-src="{{state.dataSourceImageForCause}}" alt="dataSourceImageForCause">
                        </a>
                    </div>
                    <h3 ng-show="state.study.studyText.dataSourcesParagraphForEffect" id="effectDataSources">{{state.requestParams.effectVariableName}} Data Sources</h3>
                    <p style="text-align: justify;"  ng-bind-html="state.study.studyText.dataSourcesParagraphForEffect"></p> <br>
                    <div style="display:block; margin: 0 auto;" ng-show="state.dataSourceImageForEffect">
                        <a href="{{state.dataSourceUrlForEffect}}">
                            <img style="max-width: 100px;" title="dataSourceImageForEffect" ng-src="{{state.dataSourceImageForEffect}}" alt="dataSourceImageForEffect">
                        </a>
                    </div>
                    <h3 ng-show="state.study.studyText.studyLimitations" id="studyLimitations">Study Limitations</h3>
                        <p style="text-align: justify;" ng-bind-html="state.study.studyText.studyLimitations"></p>
                </div>
            </div>
            <div ng-show="state.study.statistics">
                <div ng-include="'templates/fragments/statistics-fragment.html'"></div>
                <br>
                <br>
            </div>
            <div class="card"  style="text-align: center; padding-left: 10px; padding-right: 10px;" ng-if="state.studyNotFound">
                <p style="line-height: normal; font-size: 25px;">Not Enough Data</p>
                <img style="width:100px; height:100px;" ng-src="img/robots/quantimodo-robot-puzzled.svg">
                <p>
                    I don't have enough data to determine the relationship between
                    {{state.requestParams.causeVariableName}} and {{state.requestParams.effectVariableName}}!
                </p>
                <br>
                <p> Want to help advance citizen science? </p>
                <div ng-include="'templates/buttons/join-study-button.html'"></div>
                <div>
                    <p style="font-size: 16px; line-height: 1; text-align: center"> or share it </p>
                    <div ng-include="'templates/fragments/study-sharing-fragment.html'"></div>
                </div>
                <br>
            </div>
        </ion-content>
    <div ng-hide="hideNavigationMenu" ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
