{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "cypress/globals": true
  },
  "plugins": [
    "cypress"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:cypress-dev/general",
    "plugin:cypress-dev/tests"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "Cypress": true,
    "analytics" : false,
    "StatusBar" : false,
    "cordova" : false,
    "document" : false,
    "setTimeout" : false,
    "Bugsnag" : false,
    "setInterval" : false,
    "clearInterval" : false,
    "pluralize"   : false,
    "alert"   : false,
    "event"   : false,
    "location"   : false,
    "ionic"   : false,
    "window"   : false,
    "config"   : false,
    "angular"   : false,
    "moment"    : false,
    "screen"    : false,
    "console"    : false,
    "chrome"    : false,
    "localStorage" : false,
    "jasmine"   : false,
    "$"         : false,
    "_"         : false,
    "module"    : false,
    "require"   : false,
    "Ionic" : false,
    "XMLHttpRequest" : false,
    "process" : false,
    "defer" : false,
    "deferred" : false,
    "PushNotification" : false,
    "navigator" : false,
    "UserVoice" : false,
    "backgroundGeoLocation" : false,
    "inAppPurchase" : false,
    "HumanConnect": false,
    "qmLog": false,
    "qmStorage": false,
    "Quantimodo": false,
    "notificationsHelper": false,
    "qmItems": false,
    "timeHelper": false,
    "qm": false,
    "qmNotifications": false,
    "qmChrome": false,
    "qmPush": false,
    "qmUser": false,
    "userHelper": false,
    "urlHelper": false,
    "qmAnalytics": false,
    "OverApps": false,
    "localforage": false,
    "firebase": false,
    "qmStates": false,
    "chcp": false,
    "jQuery": false,
    "Bravey": false,
    "drift": false,
    "annyang": false,
    "nlp": false,
    "SpeechKITT": false,
    "speechUtteranceChunker": false,
    "dat": false,
    "bugsnagClient": false,
    "bugsnag": false,
    "safari": false,
    "PouchDB": false
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "indent": "off",
    "padding-line-between-statements": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "space-before-function-paren": "off",
    "space-before-blocks": "off",
    "key-spacing": "off",
    "prefer-template": "off",
    "keyword-spacing": "off",
    "no-var": "off",
    "no-useless-escape": "off",
    "prefer-rest-params": "off",
    "eqeqeq": "off"
  }
}