{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "cypress/globals": true
    },
    "plugins": [
        "cypress"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:cypress-dev/general",
        "plugin:cypress-dev/tests"
    ],
    "globals": {
        "$": false,
        "_": false,
        "alert": false,
        "analytics": false,
        "angular": false,
        "annyang": false,
        "Atomics": "readonly",
        "backgroundGeoLocation": false,
        "Bravey": false,
        "Bugsnag": false,
        "bugsnag": false,
        "bugsnagClient": false,
        "chcp": false,
        "chrome": false,
        "clearInterval": false,
        "config": false,
        "console": false,
        "cordova": false,
        "Cypress": true,
        "dat": false,
        "defer": false,
        "deferred": false,
        "document": false,
        "drift": false,
        "event": false,
        "firebase": false,
        "HumanConnect": false,
        "inAppPurchase": false,
        "ionic": false,
        "Ionic": false,
        "jasmine": false,
        "jQuery": false,
        "localforage": false,
        "localStorage": false,
        "location": false,
        "module": false,
        "moment": false,
        "navigator": false,
        "nlp": false,
        "OverApps": false,
        "pluralize": false,
        "PouchDB": false,
        "process": false,
        "PushNotification": false,
        "qm": false,
        "qmLog": false,
        "qmStates": false,
        "Quantimodo": false,
        "require": false,
        "safari": false,
        "screen": false,
        "setInterval": false,
        "setTimeout": false,
        "SharedArrayBuffer": "readonly",
        "SpeechKITT": false,
        "speechUtteranceChunker": false,
        "StatusBar": false,
        "UserVoice": false,
        "window": false,
        "XMLHttpRequest": false
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "off",
        "indent": "off",
        "padding-line-between-statements": "off",
        "quotes": "off",
        "object-curly-spacing": "off",
        "space-before-function-paren": "off",
        "space-before-blocks": "off",
        "key-spacing": "off",
        "prefer-template": "off",
        "keyword-spacing": "off",
        "no-var": "off",
        "no-useless-escape": "off",
        "prefer-rest-params": "off",
        "eqeqeq": "off",
        "no-prototype-builtins": "off"
    }
}
