<div ng-if="!connector.hide" class="list card"
     ng-repeat="connector in connectors">
    <div class="item" style="padding-bottom:10px;">
        <div class="row">
            <div class="col col-20" style="padding-top: 10px;">
                <img ng-src="{{connector.image}}" alt="Connector Image" style="width:40px;height:40px;">
            </div>
            <div class="col col-70">
                <div class="row">
                    <h2 class="col col-90" style="white-space: normal; line-height: normal;"> {{connector.displayName}}</h2>
                    <div id="notification-more" ng-click="showActionSheetForConnector(connector, $event)" class="col col-10"><i style="font-size: 20px;" class="icon positive ion-more"></i></div>
                </div>
                <p class="col col-90" style="white-space: normal; line-height: normal;" ng-bind-html="connector.message" ng-if="!connector.updateError"></p>
            </div>
        </div>
        <div ng-if="connector.updateError" class="item item-avatar">
            <img src="img/rating/face_rating_button_256_sad.png">
            <h2>IMPORT ISSUE</h2>
            <p ng-bind-html="connector.updateError"></p>
        </div>
        <div class="button-bar" ng-if="connector.spreadsheetUpload">
            <button ng-repeat="button in connector.buttons" class="button button-clear button-balanced"
                    style="text-overflow: clip;" ngf-select="uploadSpreadsheet($file, $invalidFiles, connector, button)">
                <i class="{{button.ionIcon}}"> &nbsp; {{button.text}}</i> </button>
        </div>
        <div class="button-bar" ng-if="!connector.spreadsheetUpload">
            <button ng-repeat="button in connector.buttons" class="button button-clear button-balanced" style="text-overflow: clip;" ng-click="connectorAction(connector, button)">
                <i class="{{button.ionIcon}}"> &nbsp; {{button.text}}</i>
            </button>
        </div>
        <div class="button-bar" ng-if="connector.loadingText">
            <button class="button button-clear button-royal" style="text-overflow: clip;" ng-click=""> <i class="ion-ios-cloud-download"> &nbsp; {{connector.loadingText}}</i> </button>
        </div>
    </div>
</div>
