<div style="padding: 5px;">
    <p ng-if="correlationObject.studyText.valuePredictingHighOutcomeExplanation &&
        !correlationObject.studyText.averageEffectFollowingHighCauseExplanation" >
        {{correlationObject.studyText.valuePredictingHighOutcomeExplanation}}
    </p>
    <p ng-if="correlationObject.studyText.valuePredictingLowOutcomeExplanation" >
        {{correlationObject.studyText.valuePredictingLowOutcomeExplanation}}
    </p>
    <p ng-if="correlationObject.studyText.averageEffectFollowingHighCauseExplanation" >
        {{correlationObject.studyText.averageEffectFollowingHighCauseExplanation}}
    </p>
    <p ng-if="correlationObject.studyText.averageEffectFollowingLowCauseExplanation" >
        {{correlationObject.studyText.averageEffectFollowingLowCauseExplanation}}
    </p>
</div>
