<nav id="floatingMaterialButton"
     mfb-menu position="br"
     effect="slidein-spring"
     active-icon="ion-minus-round"
     resting-icon="ion-plus-round"
     toggling-method="click"
     ng-hide="hideNavigationMenu">
    <button id="mfb1" mfb-button icon="ion-android-notifications-none" label="Add a Reminder"
            ng-click="goToState('app.reminderSearch')"></button>
    <button id="mfb2" mfb-button icon="ion-compose" label="Record a Measurement"
            ng-click="goToState('app.measurementAddSearch')"></button>
    <button id="mfb3" mfb-button icon="ion-ios-cloud-download-outline" label="Import Data"
            ng-click="goToState('app.import')"></button>
    <button id="mfb4" mfb-button icon="ion-ios-star" label="Get Help"
            ng-click="goToState('app.help')"></button>
</nav>
