<div>
 
    <ion-toggle ng-model="user.combineNotifications"
                ng-change="combineNotificationChange()" toggle-class="toggle-royal">
        Combine Notifications
    </ion-toggle>

    <label class="item item-input">
    
      <i class="icon ion-ios-sunny-outline"></i>
            &nbsp
            Earliest Notification&nbsp
        
        <button class="button button-block up-top"
                style="text-align:right;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                ng-click="openEarliestReminderTimePicker()">
            {{user.earliestReminderTime | fromTwentyFourToTwelveHourFormat}}
        </button>
    </label>
    <label class="item item-input">
      
            <i class="icon ion-ios-moon"></i>
            &nbsp
            Latest Notification
 
        <button class="button button-block up-top"
                style="text-align:right;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;"
                ng-click="openLatestReminderTimePicker()">
            {{user.latestReminderTime | fromTwentyFourToTwelveHourFormat}}
        </button>
    </label>
</div>