<div id="statisticsCard" ng-show="correlationObject" class="card variable-settings" >
    <div class="list">
        <div class="item item-divider ng-binding">Quick Statistics</div>
        <label ng-show="correlationObject.causeVariableName" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Cause Variable Name</span><br>
            <span class="input-label right-text " id="causeVariableName">{{correlationObject.causeVariableName}}</span>
        </label>
        <label ng-show="correlationObject.effectVariableName" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Effect Variable Name</span><br>
            <span class="input-label right-text " id="effectVariableName">{{correlationObject.effectVariableName}}</span>
        </label>
        <label ng-show="correlationObject.correlationCoefficient" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Predictive Correlation Coefficient</span><br>
            <span class="input-label right-text " id="correlationCoefficient">{{correlationObject.correlationCoefficient}}</span>
        </label>
        <label ng-show="correlationObject.averageForwardPearsonCorrelationOverOnsetDelays" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Average Forward Correlation Over Delays</span><br>
            <span class="input-label right-text " id="averageForwardPearsonCorrelationOverOnsetDelays">
                {{correlationObject.averageForwardPearsonCorrelationOverOnsetDelays}}
            </span>
        </label>
        <label ng-show="correlationObject.averageReversePearsonCorrelationOverOnsetDelays" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Average Reverse Correlation Over Delays</span><br>
            <span class="input-label right-text " id="averageReversePearsonCorrelationOverOnsetDelays">
                {{correlationObject.averageReversePearsonCorrelationOverOnsetDelays}}
            </span>
        </label>
        <label ng-show="correlationObject.averagePearsonCorrelationCoefficientOverOnsetDelays" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Average Correlation Over All Onset Delays</span><br>
            <span class="input-label right-text " id="averagePearsonCorrelationCoefficientOverOnsetDelays">
                {{correlationObject.averagePearsonCorrelationCoefficientOverOnsetDelays}}
            </span>
        </label>
        <label ng-show="correlationObject.strongestPearsonCorrelationCoefficient" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Strongest Correlation Over All Onset Delays</span><br>
            <span class="input-label right-text " id="strongestPearsonCorrelationCoefficient">
                {{correlationObject.strongestPearsonCorrelationCoefficient}}
            </span>
        </label>
        <label ng-show="correlationObject.onsetDelayWithStrongestPearsonCorrelation" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Onset Delays With Strongest Correlation</span><br>
            <span class="input-label right-text " id="onsetDelayWithStrongestPearsonCorrelation">
                {{correlationObject.onsetDelayWithStrongestPearsonCorrelation}}
            </span>
        </label>
        <label ng-show="correlationObject.qmScore" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">QuantiModo Score</span><br>
            <span class="input-label right-text " id="qmScore">{{correlationObject.qmScore}}</span>
        </label>
        <label ng-show="correlationObject.onsetDelay" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Onset Delay</span><br>
            <span class="input-label right-text " id="onsetDelay">{{correlationObject.onsetDelay}} Seconds</span>
        </label>
        <label ng-show="correlationObject.durationOfAction" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Duration Of Action</span><br>
            <span class="input-label right-text " id="durationOfAction">{{correlationObject.durationOfAction}} Seconds</span>
        </label>
        <label ng-show="correlationObject.numberOfPairs" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Number Of Pairs</span><br>
            <span class="input-label right-text " id="numberOfPairs">{{correlationObject.numberOfPairs}}</span>
        </label>
        <label ng-show="correlationObject.causeChanges" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Predictor Value Changes</span><br>
            <span class="input-label right-text " id="causeChanges">{{correlationObject.causeChanges}}</span>
        </label>
        <label ng-show="correlationObject.effectChanges" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Outcome Value Changes</span><br>
            <span class="input-label right-text " id="effectChanges">{{correlationObject.effectChanges}}</span>
        </label>
        <label ng-show="correlationObject.statisticalSignificance" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Statistical Significance</span><br>
            <span class="input-label right-text " id="statisticalSignificance">{{correlationObject.statisticalSignificance}}</span>
        </label>
        <label ng-show="correlationObject.predictsHighEffectChange" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Typical High Outcome Change from Average</span><br>
            <span class="input-label right-text " id="predictsHighEffectChange">{{correlationObject.predictsHighEffectChange}}%</span>
        </label>
        <label ng-show="correlationObject.predictsLowEffectChange" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Typical Low Outcome Change from Average</span><br>
            <span class="input-label right-text " id="predictsLowEffectChange">{{correlationObject.predictsLowEffectChange}}%</span>
        </label>
        <label ng-show="correlationObject.pValue" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">P Value</span><br>
            <span class="input-label right-text " id="pValue">{{correlationObject.pValue}}</span>
        </label>
        <label ng-show="correlationObject.tValue" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">T Value</span><br>
            <span class="input-label right-text " id="tValue">{{correlationObject.tValue}}</span>
        </label>
        <label ng-show="correlationObject.criticalTValue" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Critical T Value</span><br>
            <span class="input-label right-text " id="criticalTValue">{{correlationObject.criticalTValue}}</span>
        </label>
        <label ng-show="correlationObject.confidenceInterval" class="item item-content" style="padding: 6px 10px 5px 16px;">
            <span class="input-label left-text">Confidence Interval</span><br>
            <span class="input-label right-text " id="confidenceInterval">{{correlationObject.confidenceInterval}}</span>
        </label>

    </div>
</div>
