<p ng-if="correlationObject.valuePredictingHighOutcomeExplanation && !correlationObject.averageEffectFollowingHighCauseExplanation" >
    {{correlationObject.valuePredictingHighOutcomeExplanation}}
</p>
<p ng-if="correlationObject.valuePredictingLowOutcomeExplanation" >
    {{correlationObject.valuePredictingLowOutcomeExplanation}}
</p>
<p ng-if="correlationObject.averageEffectFollowingHighCauseExplanation" >
    {{correlationObject.averageEffectFollowingHighCauseExplanation}}
</p>
<p ng-if="correlationObject.averageEffectFollowingLowCauseExplanation" >
    {{correlationObject.averageEffectFollowingLowCauseExplanation}}
</p>