<div id="analysisSettingsCard" ng-show="variableObject" class="card variable-settings" >
    <div class="list">
        <div class="item item-divider ng-binding">Analysis Settings</div>
        <label class="item item-input item-select">
            <div class="input-label" style="white-space:normal; width: 60%">Combination method</div>
            <select ng-model="variableObject.combinationOperation">
                <option value="SUM" name="group">Sum</option>
                <option value="MEAN" name="group">Average</option>
            </select>
        </label>
        <div ng-hide="variableObject.abbreviatedUnitName !== '/5'" class="item item-input">
            <span class="input-label left-span" ng-click="showExplanationsPopup('Minimum value')">
                Minimum Value &nbsp; <i class="icon ion-help-circled"></i>
            </span>
            <span class="right-span">
                <input id="minimumAllowedValue" class="right-input" ng-model="variableObject.minimumAllowedValue"  type="number" placeholder="-Infinity">
            </span>
        </div>
        <div ng-hide="variableObject.abbreviatedUnitName !== '/5'" class="item item-input">
            <span class="input-label left-span" ng-click="showExplanationsPopup('Maximum value')">
                Maximum Value &nbsp; <i class="icon ion-help-circled"></i>
            </span>
            <span class="right-span">
                <input id="maximumAllowedValue" class="right-input" ng-model="variableObject.maximumAllowedValue" type="number" placeholder="Infinity">
            </span>
        </div>
        <div class="item item-input">
            <span class="input-label left-span" ng-click="showExplanationsPopup('Onset delay')">
                Onset Delay (hours) &nbsp; <i class="icon ion-help-circled"></i>
            </span>
            <span class="right-span" style="width:45%">
                <input id="onsetDelay" class="right-input" ng-model="variableObject.onsetDelay" type="number">
            </span>
        </div>
        <div class="item item-input">
            <span class="input-label left-span" ng-click="showExplanationsPopup('Duration of action')">
                Duration of Action (hours) &nbsp; <i class="icon ion-help-circled"></i>
            </span>
            <span class="right-span" style="width: 34%">
                <input id="durationOfAction" class="right-input" ng-model="variableObject.durationOfAction" type="number">
            </span>
        </div>
        <div class="item item-input">
            <span class="input-label left-span" ng-click="showExplanationsPopup('Filling value')">
                Filling Value &nbsp; <i class="icon ion-help-circled"></i>
            </span>
            <span class="right-span">
                <input id="fillingValue" class="right-input" ng-model="variableObject.fillingValue" type="number" placeholder="None">
            </span>
        </div>
    </div>
</div>