<div ng-show="variableObject.userId && user && variableObject.userId === user.id"
     class="card sign-in" >
    <ion-toggle ng-model="variableObject.shareUserMeasurements"
                ng-change="toggleVariableShare(variableObject)">
        <i ng-if="variableObject.shareUserMeasurements === false" class="icon ion-locked">
            &nbsp Variable is Private
        </i>
        <i ng-if="variableObject.shareUserMeasurements === true" class="icon ion-unlocked">
            &nbsp Variable is Public
        </i>
    </ion-toggle>
    <label ng-click="copyChartsUrlToClipboard()" class="item item-content"
           ng-if="variableObject.shareUserMeasurements === true && variableObject.chartsUrl">
        <i class="icon ion-clipboard"> &nbsp {{copyLinkText}}</i>
    </label>
</div>
