<!doctype html>
<html>
<head>
    <title>MoodiModo - Rate your mood!</title>
    <script src="../www/configs/moodimodo.js"></script>
    <script src="../scripts/popup.js"></script>

</head>
<body>
<section id="sectionRateMood">
    <img src="../img/ic_mood_depressed.png" id="mood_depressed">
    </img>
    <div>&nbsp;</div>
    <img src="../img/ic_mood_sad.png" id="mood_sad">
    </img>
    <div>&nbsp;</div>
    <img src="../img/ic_mood_ok.png" id="mood_ok">
    </img>
    <div>&nbsp;</div>
    <img src="../img/ic_mood_happy.png" id="mood_happy">
    </img>
    <div>&nbsp;</div>
    <img src="../img/ic_mood_ecstatic.png" id="mood_ecstatic">
    </img>
</section>
<section id="sectionSendingMood">

</section>
</body>
</html>
