<!doctype html>
<html>
<head>
    <title>EnergyModo - Report your energy level!</title>
    <link href="../www/css/popup.css" type="text/css" rel="stylesheet">
    <script src="../www/configs/energymodo.js"></script>
    <script src="../scripts/popup.js"></script>
</head>
<body>
<section id="sectionRateMood">
    <img src="../www//img/ic_1.png" id="mood_depressed">
    </img>
    <div>&nbsp;</div>
    <img src="../www/img/ic_2.png" id="mood_sad">
    </img>
    <div>&nbsp;</div>
    <img src="../www/img/ic_3.png" id="mood_ok">
    </img>
    <div>&nbsp;</div>
    <img src="../www/img/ic_4.png" id="mood_happy">
    </img>
    <div>&nbsp;</div>
    <img src="../www/img/ic_5.png" id="mood_ecstatic">
    </img>
</section>
<section id="sectionSendingMood">

</section>
</body>
</html>
