@import '../lib/ionic/scss/ionic';
@import	'../lib/angular-material/angular-material.scss';
@import '../lib/angular-material-datetimepicker/css/material-datetimepicker';
@import '../lib/highcharts-ng/dist/highcharts-ng.css'; // Fixes width issues
@import '../lib/mdPickers/dist/mdPickers.css';

@import 'style';
@import 'mfb';

// Partials
@import 'partials/reminder-add';

.row+.row {
	margin-top: 0;
	padding-top: 5px;
}

.align-right {
	text-align: right;
}

// Dirty hack to fix autocomplete dropdown height on study creation page
.md-virtual-repeat-container.md-not-found {
	height: 255.5px;
}

// Hack to deal with case when side menu is disabled, expose-aside-when="large" still triggers
// https://github.com/ionic-team/ionic/issues/2210
ion-side-menu.menu-disabled {
    width: auto !important;
    transform: initial !important;
}
ion-side-menu-content.menu-disabled {
    width: auto !important;
    transform: initial !important;
}
