<div class="row">
    <div id="favoriteItemIcon" ng-click="showFavoriteActionSheet(trackingReminder)" class="col col-10" style="text-align: left;">
        <img src="{{trackingReminder.pngPath}}" style="max-width: 20px" ng-if="trackingReminder.unitAbbreviatedName !== '/5'">
    </div>
    <div class="col col-80" >
        <h2 id="favoriteItemTitle" ng-click="showFavoriteActionSheet(trackingReminder)"
            style="text-align: center;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal;">
            {{trackingReminder.displayTotal}}&nbsp{{trackingReminder.variableName}}
        </h2>
        <button id="recordDefaultValue" ng-if="trackingReminder.unitAbbreviatedName != '/5' && trackingReminder.defaultValue !== null"
                class="button button-clear button-balanced" style="text-overflow: clip; font-size: 14px; width:100%; "
                ng-click="trackByFavorite(trackingReminder, null, $index)">
            <i class="ion-android-done"> &nbsp; Record {{trackingReminder.defaultValue}} {{trackingReminder.unitAbbreviatedName}}</i>
        </button>
    </div>
    <div id="favoriteItemSettings" ng-click="showFavoriteActionSheet(trackingReminder)" class="col col-10">
        <i style="font-size: 20px; padding: 0;" class="icon positive ion-more"></i>
    </div>
</div>
<div ng-if="trackingReminder.defaultValue === null && trackingReminder.unitAbbreviatedName !== '/5'" class="item-input" style="padding-top: 0">
    <input type="number" ng-model="trackingReminder.total" id="favoriteValueField"
           ng-click="onTextClick($event)"
           placeholder="Enter value"
           style="text-align: center">
    <span on-tap="trackFavoriteByValueField(trackingReminder, $index)" class="input-label">{{trackingReminder.unitAbbreviatedName}} &nbsp <i style="font-size: 20px;" class="icon positive ion-checkmark-round"></i></span>
</div>
<div id="favoriteNumericRatingButtons" class="primary-outcome-variable-reporting"
     ng-if="trackingReminder.inputType === 'oneToFiveNumbers'">
    <div class="primary-outcome-variable-rating-buttons" >
        <img ng-repeat="option in numericRatingOptions"
             ng-click="trackByFavorite(trackingReminder, option.numericValue)"
             ng-src="{{option.img}}">
    </div>
</div>
<div id="favoritePositiveRatingButtons" class="primary-outcome-variable-reporting"
     ng-if="trackingReminder.inputType === 'happiestFaceIsFive'">
    <div class="primary-outcome-variable-rating-buttons" >
        <img ng-repeat="option in positiveRatingOptions"
             ng-click="trackByFavorite(trackingReminder, option.numericValue)"
             ng-src="{{option.img}}">
    </div>
</div>
<div id="favoriteNegativeRatingButtons" class="primary-outcome-variable-reporting"
     ng-if="trackingReminder.inputType === 'saddestFaceIsFive'">
    <div class="primary-outcome-variable-rating-buttons" >
        <img ng-repeat="option in negativeRatingOptions"
             ng-click="trackByFavorite(trackingReminder, option.numericValue)"
             ng-src="{{option.img}}">
    </div>
</div>